<div class="container margin_top_10">

    <span class="label_title"><h3>เปลี่ยนเบอร์มือถือ</h3></span>
    <code>
      <h5>ระบบจะส่งข้อมูลให้เจ้าหน้าที่ เพื่อติดต่อกลับในวันเวลาทำการ</h5>
    </code>

    <form [formGroup]="form"  >
      <!-- <mat-form-field class="col-md-4" > -->
          <!-- <input  matInput formControlName="mobNumber" placeholder=" twsid"
          [(ngModel)]="newMobile"> -->

          <input type="number"  formControlName="newMobileFC"  class="form-control mr-sm-2 margin_top_30"  placeholder="เบอร์มือถือ / New mobile number" aria-label="Search"
                 [(ngModel)]="newMobile"  >

          <mat-error *ngIf="form.get('newMobileFC').invalid"> *โปรดระบุ เบอร์มือถือ / New mobile number </mat-error>

    </form>

    <div class="margin_top_30">
      <button mat-flat-button [disabled]="form.get('newMobileFC').invalid" color="primary" class="col-md-12 " (click)="onSaveNewMob()" >บันทึก/Save</button>
      <button mat-flat-button  color="accent" class="col-md-12 margin_top_10" (click)="onClose()" >ยกเลิก/Cancel</button>
    </div>

    <!-- <a [disabled]="form.get('newMobileFC').invalid"  mat-flat-button color="primary" (click)="onSaveNewMob()"  class="col-md-12 margin_top_10"> บันทึก/Save </a> -->
    <!-- <a id ="closeBtn"  mat-flat-button color="accent"  (click)="onClose()" class="col-md-12 margin_top_10"> ยกเลิก/Cancel </a> -->

 </div>
