.margin_top_40 {
  margin-top: 40px;
}

.margin_top_30{
  margin-top: 30px;
}

.margin_top_10{
  margin-top: 10px;
}


.label_title h3{
  color: darkslateblue;
  margin-top: 15px;
}

code h5{
  color: black;
  margin-top: 15px;
}
