<!-- HEADER & VERIFY -->
<mat-card *ngIf="!spinnerLoading && !(verifyFLag && correctCust)" class="divCenter">

    <div class="block">
        <div class='branner col-md-6'>
          <img  src="assets/img/brand/MPAM-logo.png" />
        </div>
        <!-- <div *ngIf="customer.First_Name_T" class='branner col-md-6' >
              <strong>{{ formService.label_Welcome }}</strong>
              <p> {{ customer.Title_Name_T }} {{ customer.First_Name_T }} {{ customer.Last_Name_T }}</p>
        </div> -->
    </div>

<!-- Input ID -->
  <div *ngIf="!correctCust" class="divIDCust">
  <form [formGroup]="form" #custForm="ngForm" >

        <div class="contrainer">
                <div class="tncbox p-4 borderIDentry" id="term">
                    <h2 class="heading color_orange mb-2">เงื่อนไขการใช้โปรแกรมนี้</h2>
                    <ol>
                        <li class="mb-2">
                            โปรแกรมนี้มีวัตถุประสงค์เพื่อให้เกิดความรู้ความเข้าใจเรื่องการจัดสรรเงินลงทุนว่ามีความแตกต่างกันไปตามระดับความเสี่ยงที่ยอมรับได้ซึ่งเป็นลักษณะเฉพาะของแต่ละบุคคล
                        </li>
                        <li class="mb-2">
                            xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                        </li>
                    </ol>

                </div>

            <input  class="form-control mr-sm-2 margin_top_30" type="search" placeholder="{{ formService.label_idCard }}" aria-label="Search"
            formControlName="pid" [(ngModel)]="survey.pid"  >
            <mat-error *ngIf="form.get('pid').invalid"> *โปรดระบุ หมายเลขบัตร Please entry ID card number. </mat-error>

              <button [disabled]="form.get('pid').invalid" mat-flat-button color="primary" (click)="getCustomerData()" class="col-md-12 margin_top_30" >
                {{ formService.LABEL_NEXT }} <i class="fas fa-search"></i> </button>

        </div>
  </form>
  </div>

<!-- Input OTP -->
  <div  *ngIf="!verifyFLag && correctCust" class="divOTP">

      <h3 class="margin_top_40">{{_mobile_hint}}</h3>

      <mat-error *ngIf="OTP_ERR_MSG !='' "> {{OTP_ERR_MSG}}</mat-error>

          <input class="form-control margin_top_40" type="search"  [(ngModel)]="verifyOTP_val" placeholder={{formService.label_input_verify_OTP}} name="verifyOTP_val" >

          <button [disabled]="verifyOTP_val==''" mat-flat-button color="primary" (click)="verifyConfirmOTP()" class="col-md-12 margin_top_30" >
              {{formService.LABEL_Verify}}</button>

          <button mat-flat-button color="accent" class="margin_top_10 col-md-12" (click)="requestOTP()" > Request OTP </button>
  </div>
</mat-card>

<!-- START HERE -->
<mat-card *ngIf="!spinnerLoading && (verifyFLag && correctCust)" class="container" >
      <div class='branner col-md-6'>
        <img  src="assets/img/brand/MPAM-logo.png" />
      </div>

        <div class="custInfo" *ngIf="customer.First_Name_T">
            <h5>{{ formService.label_Welcome }}</h5>
            <h3>{{ customer.Title_Name_T }} {{ customer.First_Name_T }} {{ customer.Last_Name_T }}</h3>
            <!-- <h5>Risk level  <span class="riskVal">{{ EXIST_Risk_Level}}</span></h5> -->
      </div>


      <mat-horizontal-stepper [linear]="isLinear" #stepper>
          <mat-step [stepControl]="suitFormGroup">
              <ng-template matStepLabel>กรอกแบบ Suitability</ng-template>
              <app-suit-form [survey]="survey" [suitFormGroup]="suitFormGroup" [suitQuestions]="suitQuestions"></app-suit-form>
          </mat-step>


          <mat-step >
              <ng-template matStepLabel>ยืนยัน</ng-template>
              <div class="confDiv">
                  <h3>หลังจากที่ท่านกด ยืนยันข้อมูล  ท่านจะได้รับอีเมล์ ตอบรับจาก wealthservice@merchantasset.co.th เพื่อยืนยันว่าระบบได้รับข้อมูลของท่านเรียบร้อยแล้ว</h3>
                  <h5>หากท่านมิได้รับอีเมล์ ดังกล่าว กรุณาติดต่อเจ้าหน้าที่ลูกค้าสัมพันธ์ โทร 02- 660-6696 หรือ ทางอีเมล์ wealthservice@merchantasset.co.th</h5>
              </div>

              <div  class="row center-screen ">
                  <button mat-flat-button  matStepperPrevious color="accent" style="margin-left: 10px"><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
                  <button mat-flat-button  matStepperNext color="primary" style="margin-left: 10px" (click)="saveSuit()" >{{formService.LABEL_CONFIRM_DATA}}  </button>
                  <!-- <button mat-flat-button  matStepperNext color="primary" style="margin-left: 10px" (click)="finalSaveAll()" >{{formService.LABEL_SAVE}}   <i class="far fa-save fa-2x"></i></button> -->
              </div>

          </mat-step>

          <mat-step>
            <ng-template matStepLabel>เสร็จสิ้น</ng-template>
            <div class="finishDiv">
                <h3>บริษัทขอขอบพระคุณท่านที่สละเวลาในการทำแบบประเมิน Suitability Test  </h3>
                <h4>หากท่านมีข้อสอบถามเพิ่มเติม กรุณาติดต่อ </h4>

                <div class="compDiv">
                <h3>บริษัทหลักทรัพย์จัดการกองทุน เมอร์ชั่น พาร์ทเนอร์ จำกัด</h3>
                <h4>942/170-171 ชาญอิสสระทาวเวอร์ 1 ชั้น 25 ถนนพระราม 4</h4>
                <h4>แขวงสุริยวงศ์ เขตบางรัก กรุงเทพมหานคร 10500</h4>
                <h4><a href="tel:026606677">โทร. 02 660 6677</a></h4>
                <h4>แฟกซ์. 02 660 6678</h4>
                <h4>เว็บไซต์ : www.merchantasset.co.th</h4>
                <h4>อีเมล : <a href="mailto:wealthservice@merchantasset.co.th">wealthservice@merchantasset.co.th</a></h4>

                </div>
              </div>
              <!-- <button mat-flat-button color="primary">Close</button> -->
          </mat-step>
        </mat-horizontal-stepper>

</mat-card>
