#led_insp{
  margin-top: 10px;
}

#led_his{
  margin-top: 10px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

.button_card_action {
  margin-left: 5px;
}

.resp_led_div{
  margin-top: 5px;
  display: block;

}
