<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<app-led-detail  [twsid] ="main_mitLedInspCust.twsid"  *ngIf="main_mitLedInspCust.twsid"></app-led-detail>

<!-- Found investor -->
<!-- <mat-card id="led_insp"   >
  <div class="row">
    <h4>Investor</h4>
  </div>
  <div class="card" *ngFor="let item of member_mitLedInspCust">
      <div class="card-body">
        <h5 class="card-title">{{item.cust_code}}</h5>
        <h5 class="card-title">{{item.firstName}}  {{item.lastName}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{item.cust_source}} - {{item.led_code_text}}</h6>
        <p class="card-text">
            {{item.memo}}
        </p>

        <a *ngIf="authority.mEdit == YES_VAL"  mat-flat-button class="button_card_action" color="primary" (click)="onEditInspCust(item)"   >Edit</a>

      </div>
    </div>
  </mat-card> -->

<!-- History & Resource -->

<mat-card id="led_his" >
    <mat-tab-group >

        <mat-tab label="Investor profile">
            <div class="card" >
                <div class="row card-body">
                    <div class="col-sm-6">
                  <h5 class="card-title">{{main_mitLedInspCust.cust_code}}</h5>
                  <h5 class="card-title">{{main_mitLedInspCust.firstName}}  {{main_mitLedInspCust.lastName}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{main_mitLedInspCust.cust_source}} - {{main_mitLedInspCust.led_code_text}}</h6>
                  <span *ngIf="main_mitLedInspCust.ReceiverBreezeDate ">Response to LED {{main_mitLedInspCust.REQ_STATUS | ledReqStatus}} {{main_mitLedInspCust.ReceiverBreezeDate }}</span>
                  <p class="card-text">
                      {{main_mitLedInspCust.memo}}
                  </p>

                  <a *ngIf="authority.mEdit == YES_VAL"  mat-flat-button class="button_card_action" color="primary" (click)="onEditInspCust(main_mitLedInspCust)"   >Edit</a>
                  <!-- <a *ngIf="authority.mEdit == YES_VAL && !main_mitLedInspCust.ReceiverBreezeDate "  mat-flat-button class="button_card_action" color="accent" (click)="onResponseToLED(main_mitLedInspCust)"  matTooltip="Response to LED" >Response to LED </a> -->

                </div>

                <div class="col-sm-6" *ngIf="authority.mEdit == YES_VAL && !main_mitLedInspCust.ReceiverBreezeDate " class="resp_led_div">
                  <div ><label id="example-radio-group-label">Response LED</label></div>
                  <mat-radio-group
                    aria-labelledby="example-radio-group-label"
                    [(ngModel)]="main_mitLedInspCust.REQ_STATUS">
                    <mat-radio-button  *ngFor="let item of ledReqStatusList" [value]="item.value">
                      {{item.viewValue}}
                    </mat-radio-button>
                  </mat-radio-group>

                  <div><a mat-flat-button class="button_card_action" color="accent" (click)="onResponseToLED(main_mitLedInspCust)"  matTooltip="Response to LED" >Response to LED </a></div>

                </div>


                </div>
              </div>
        </mat-tab>
        <mat-tab label="History">

                <form  (submit)="onAddHistory()" #custForm="ngForm" class="example-form" >
                    <div class="form-group shadow-textarea">
                        <textarea name="memo" [(ngModel)]="newHistory.memo" class="form-control z-depth-1" rows="3" placeholder="Write something here..." ></textarea>
                      </div>

                    <div class="row" *ngIf="authority.mEdit == YES_VAL" >
                      <button mat-flat-button class="button_card_action" color="primary" type='submit' >Submit</button>
                      <button mat-flat-button class="button_card_action"color="warn" type='reset' >Reset</button>
                    </div>
              </form>
            <hr>

          <app-led-insp-history [led_inspect_id]="main_mitLedInspCust.led_inspect_id" *ngIf="main_mitLedInspCust.led_inspect_id"></app-led-insp-history>
        </mat-tab>

        <mat-tab label="Reources">
          Wating ...
        </mat-tab>

      </mat-tab-group>
</mat-card>


