
 <div class="contrainer">

  <div class="card-body text-center">
    <div>
      <h2>Approval customer information</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    </div>
  </div>

  <table>
    <tr class='header'>
      <td >
        ID/Passport
      </td>
      <td>
        ID/Passport
      </td>
    </tr>
    <tr>
      <td >
        ID Type: {{mftsCustomer.Card_Type}}
      </td>
      <td>
        ID Type: {{fcCustomer.identificationCardType}}
      </td>
    </tr>

    <!-- <tr *ngIf="mftsCustomer.Cust_Code === fcCustomer.cardNumber" >
    <tr *ngIf="mftsCustomer.Cust_Code !== fcCustomer.cardNumber" class="gotDiff"> -->
      <tr>
      <td >
        ID No.: {{mftsCustomer.Cust_Code}}
      </td>
      <td>
        ID No.: {{fcCustomer.cardNumber}}
      </td>
    </tr>

    <tr>
      <td >
        Expiry Date (A.D.):{{mftsCustomer.Card_ExpDate}}
      </td>
      <td>
        Expiry Date (A.D.):{{fcCustomer.cardExpiryDate}}
      </td>
    </tr>
    <tr>
      <td >
        Apply FundConnext Form:
      </td>
      <td>
        Apply FundConnext Form:{{fcCustomer.openFundConnextFormFlag}}
      </td>
    </tr>
    <tr>
      <td >
        NDID Flag:
      </td>
      <td>
        NDID Flag:{{fcCustomer.ndidFlag}}
      </td>
    </tr>
    <tr class='header'>
      <td >
        Personal Information
      </td>
      <td>
        Personal Information
      </td>
    </tr>
    <tr >
      <td >
        Accompanying Document:
      </td>
      <td>
        Accompanying Document:{{fcCustomer.accompanyingDocument}}
      </td>
    </tr>
    <tr >
      <td >
        Application Date:
      </td>
      <td>
        Application Date:{{fcCustomer.applicationDate}}
      </td>
    </tr>
    <tr >
      <td >
        Gender: {{mftsCustomer.Sex}}
      </td>
      <td>
        Gender: {{fcCustomer.gender}}
      </td>
    </tr>

    <tr >
      <td >
        Title: {{mftsCustomer.Title_Name_T}}
      </td>
      <td>
        Title: {{fcCustomer.title}}
      </td>
    </tr>

    <!-- <tr *ngIf="mftsCustomer.First_Name_T === fcCustomer.thFirstName && mftsCustomer.Last_Name_T === fcCustomer.thLastName " >
    <tr *ngIf="mftsCustomer.First_Name_T !== fcCustomer.thFirstName || mftsCustomer.Last_Name_T !== fcCustomer.thLastName" class="gotDiff"> -->
      <tr>
      <td >
        Name-Surname (Thai): {{mftsCustomer.First_Name_T}} {{mftsCustomer.Last_Name_T}}
      </td>
      <td>
        <span *ngIf="mftsCustomer.First_Name_T === fcCustomer.thFirstName && mftsCustomer.Last_Name_T === fcCustomer.thLastName "> Name-Surname (Thai): {{fcCustomer.thFirstName}} {{fcCustomer.thLastName}}</span>
        <span *ngIf="mftsCustomer.First_Name_T !== fcCustomer.thFirstName || mftsCustomer.Last_Name_T !== fcCustomer.thLastName" class="gotDiff"> Name-Surname (Thai): {{fcCustomer.thFirstName}} {{fcCustomer.thLastName}}</span>
      </td>
    </tr>

      <tr>
      <td >
        Name-Surname (Eng): {{mftsCustomer.First_Name_E}} {{mftsCustomer.Last_Name_E}}
      </td>
      <td>
        <span *ngIf="mftsCustomer.First_Name_E === fcCustomer.enFirstName && mftsCustomer.Last_Name_E === fcCustomer.enLastName">Name-Surname (Eng): {{fcCustomer.enFirstName}} {{fcCustomer.enLastName}}</span>
        <span *ngIf="mftsCustomer.First_Name_E !== fcCustomer.enFirstName || mftsCustomer.Last_Name_E !== fcCustomer.enLastName" class="gotDiff">Name-Surname (Eng): {{fcCustomer.enFirstName}} {{fcCustomer.enLastName}}</span>
      </td>
    </tr>

    <tr >
      <td >
        Nationality:{{mftsCustomer.Nation_Code}}
      </td>
      <td>
        Nationality:{{fcCustomer.nationality}}
      </td>
    </tr>

    <tr >
    <!--<tr *ngIf="mftsCustomer.Mobile!==fcCustomer.mobileNumber" class="gotDiff"> -->
      <td >
        Mobile: {{mftsCustomer.Mobile}}
      </td>
      <td>
        <span *ngIf="mftsCustomer.Mobile !== fcCustomer.mobileNumber" class="gotDiff" > Mobile: {{fcCustomer.mobileNumber}}</span>
        <span *ngIf="mftsCustomer.Mobile === fcCustomer.mobileNumber" > Mobile: {{fcCustomer.mobileNumber}}</span>
      </td>
    </tr>

    <tr>
      <td >
        E-mail: {{mftsCustomer.Email}}
      </td>
      <td>
        <span *ngIf="mftsCustomer.Email !== fcCustomer.email" class="gotDiff" > E-mail: {{fcCustomer.email}} </span>
        <span *ngIf="mftsCustomer.Email === fcCustomer.email" > E-mail: {{fcCustomer.email}} </span>
      </td>
    </tr>
<!--

    <tr *ngIf="mftsCustomer.Email === fcCustomer.maritalStatus" >
    <tr *ngIf="mftsCustomer.Email !== fcCustomer.maritalStatus" class="gotDiff">
      <td >
        Marital Status:
      </td>
      <td>
        Marital Status:
      </td>
    </tr> -->

<!-- Residence Address -->
<!-- Workplace Address -->
<!-- Current Address -->

    <tr class='header'>
      <td >
        Occupation
      </td>
      <td>
        Occupation
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.occupationId}}  {{fcCustomer.occupationOther}}
      </td>
    </tr>
    <tr class='header'>
      <td >
        Business Type
      </td>
      <td>
        Business Type
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.businessTypeId}}  {{fcCustomer.businessTypeOther}}
      </td>
    </tr>
    <tr class='header'>
      <td >
        Source of Income's Country
      </td>
      <td>
        Source of Income's Country
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.incomeSourceCountry}}
      </td>
    </tr>
    <tr class='header'>
      <td >
        Source of Income:
      </td>
      <td>
        Source of Income
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.incomeSource}}  {{fcCustomer.incomeSourceOther}}
      </td>
    </tr>
    <tr class='header'>
      <td >
        Monthly Income
      </td>
      <td>
        Monthly Income
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.monthlyIncomeLevel}}
      </td>
    </tr>

    <tr class='header'>
      <td >
        Do you have any money laundering infringement record?
      </td>
      <td>
        Do you have any money laundering infringement record?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.committedMoneyLaundering}}
      </td>
    </tr>

    <tr class='header'>
      <td >
        Are you a politician or connected to any political person?
      </td>
      <td>
        Are you a politician or connected to any political person?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.politicalRelatedPerson}}
      </td>
    </tr>

    <tr class='header'>
      <td >
        Have you ever been denied to process transaction from other financial institutions?
      </td>
      <td>
        Have you ever been denied to process transaction from other financial institutions?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.rejectFinancialTransaction}}
      </td>
    </tr>

    <tr class='header'>
      <td >
        Do you consent to expose to foreign exchange risk for investment in funds that invest overseas?
      </td>
      <td>
        Do you consent to expose to foreign exchange risk for investment in funds that invest overseas?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.canAcceptFxRisk}}
      </td>
    </tr>

    <tr class='header'>
      <td >
        Do you consent to the risk from derivatives investment?
      </td>
      <td>
        Do you consent to the risk from derivatives investment?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.canAcceptDerivativeInvestment}}
      </td>
    </tr>

    <tr class='header'>
      <td >
        Suitability
      </td>
      <td>
        Suitability
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.suitabilityRiskLevel}} - {{fcCustomer.suitabilityEvaluationDate}}
      </td>
    </tr>

    <tr class='header'>
      <td >
        Vulnerable Investor
      </td>
      <td>
        Vulnerable Investor
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.vulnerableFlag}}
      </td>
    </tr>

    <tr class='header'>
      <td >
        Declaration of Status as a U.S. Person
      </td>
      <td>
        Declaration of Status as a U.S. Person
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.fatca}}
      </td>
    </tr>

    <tr class='header'>
      <td >
        CDD Score
      </td>
      <td>
        CDD Score
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>
        {{fcCustomer.cddScore}} - {{fcCustomer.cddDate}}
      </td>
    </tr>

  </table>

  <button [disabled]="false"  type="button" class="btn btn-primary px-4" (click)=onApprove() >Approve</button>

 </div>
