button{
  margin-top: 15px;
}

.header{
  background-color:lightskyblue;
}

.gotDiff{
  color: red;
}

.show_block{
  // display: block;
  line-height: 50%;
  margin-top: 10px;
}

.show_block div{
  padding-top: 10px;
  padding-left: 10px;
}

.p_companyName{
  line-height: 130%;
}

table th{
  text-align: center;
}
