 <div class="contrainer">
  <table>
    <tr class='header'>
      <td >
        ID/Passport
      </td>
      <td>
        ID/Passport
      </td>
    </tr>
    <tr>
      <td >
        ID Type: {{mftsCustomer.Card_Type}}
      </td>
      <td>
        ID Type:
      </td>
    </tr>
    <tr>
      <td >
        ID No.: {{mftsCustomer.Cust_Code}}
      </td>
      <td>
        ID No.:
      </td>
    </tr>
    <tr>
      <td >
        Expiry Date (A.D.):
      </td>
      <td>
        Expiry Date (A.D.):
      </td>
    </tr>
    <tr>
      <td >
        Apply FundConnext Form:
      </td>
      <td>
        Apply FundConnext Form:
      </td>
    </tr>
    <tr>
      <td >
        NDID Flag:
      </td>
      <td>
        NDID Flag:
      </td>
    </tr>
    <tr class='header'>
      <td >
        Personal Information
      </td>
      <td>
        Personal Information
      </td>
    </tr>
    <tr >
      <td >
        Accompanying Document:
      </td>
      <td>
        Accompanying Document:
      </td>
    </tr>
    <tr >
      <td >
        Application Date:
      </td>
      <td>
        Application Date:
      </td>
    </tr>
    <tr >
      <td >
        Gender: {{mftsCustomer.Sex}}
      </td>
      <td>
        Gender:
      </td>
    </tr>
    <tr >
      <td >
        Title: {{mftsCustomer.Title_Name_T}}
      </td>
      <td>
        Title:
      </td>
    </tr>
    <tr >
      <td >
        Name-Surname (Thai): {{mftsCustomer.First_Name_T}} {{mftsCustomer.Last_Name_T}}
      </td>
      <td>
        Name-Surname (Thai):
      </td>
    </tr>
    <tr >
      <td >
        Name-Surname (Eng): {{mftsCustomer.First_Name_E}} {{mftsCustomer.Last_Name_E}}
      </td>
      <td>
        Name-Surname (Eng):
      </td>
    </tr>
    <tr >
      <td >
        Nationality:
      </td>
      <td>
        Nationality:
      </td>
    </tr>
    <tr >
      <td >
        Mobile: {{mftsCustomer.Mobile}}
      </td>
      <td>
        Mobile:
      </td>
    </tr>
    <tr >
      <td >
        E-mail: {{mftsCustomer.Email}}
      </td>
      <td>
        E-mail:
      </td>
    </tr>
    <tr >
      <td >
        Marital Status:
      </td>
      <td>
        Marital Status:
      </td>
    </tr>

<!-- Residence Address -->
<!-- Workplace Address -->
<!-- Current Address -->

    <tr class='header'>
      <td >
        Occupation
      </td>
      <td>
        Occupation
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>
    <tr class='header'>
      <td >
        Business Type
      </td>
      <td>
        Business Type
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>
    <tr class='header'>
      <td >
        Source of Income's Country
      </td>
      <td>
        Source of Income's Country
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>
    <tr class='header'>
      <td >
        Source of Income
      </td>
      <td>
        Source of Income
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>
    <tr class='header'>
      <td >
        Monthly Income
      </td>
      <td>
        Monthly Income
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

    <tr class='header'>
      <td >
        Do you have any money laundering infringement record?
      </td>
      <td>
        Do you have any money laundering infringement record?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

    <tr class='header'>
      <td >
        Are you a politician or connected to any political person?
      </td>
      <td>
        Are you a politician or connected to any political person?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

    <tr class='header'>
      <td >
        Have you ever been denied to process transaction from other financial institutions?
      </td>
      <td>
        Have you ever been denied to process transaction from other financial institutions?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

    <tr class='header'>
      <td >
        Do you consent to expose to foreign exchange risk for investment in funds that invest overseas?
      </td>
      <td>
        Do you consent to expose to foreign exchange risk for investment in funds that invest overseas?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

    <tr class='header'>
      <td >
        Do you consent to the risk from derivatives investment?
      </td>
      <td>
        Do you consent to the risk from derivatives investment?
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

    <tr class='header'>
      <td >
        Suitability
      </td>
      <td>
        Suitability
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

    <tr class='header'>
      <td >
        Vulnerable Investor
      </td>
      <td>
        Vulnerable Investor
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

    <tr class='header'>
      <td >
        Declaration of Status as a U.S. Person
      </td>
      <td>
        Declaration of Status as a U.S. Person
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

    <tr class='header'>
      <td >
        CDD Score
      </td>
      <td>
        CDD Score
      </td>
    </tr>
    <tr>
      <td >

      </td>
      <td>

      </td>
    </tr>

  </table>

  <button class="col-sm-3" mat-flat-button color="primary" (click)=onApprove()>Approve</button>

 </div>
