
<mat-card class="cust-container" >

    <form [formGroup]="form"  #custForm="ngForm" >
        <mat-card-title>{{empFormSerice.from_title}} </mat-card-title>

        <div class="row">
            <mat-form-field class="col-md-4">
              <input   matInput formControlName="firstName" placeholder="First name(TH)"
              [(ngModel)]="employee.First_Name">
              <mat-error *ngIf="form.get('firstName').invalid">Please enter a first name.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4">
              <input  matInput formControlName="lastName" placeholder="Last name(TH)"
              [(ngModel)]="employee.Last_Name">
              <mat-error *ngIf="form.get('lastName').invalid">Please enter a first name.</mat-error>
            </mat-form-field>
          </div>



          <div class="row"  >
              <mat-form-field class="col-md-4">
                <input matInput [matDatepicker]="dobDate" formControlName="dobDate"
                  [placeholder]="empFormSerice.Birth_Day_label"
                 [(ngModel)]="employee.Birth_Day" >
                <mat-datepicker-toggle matSuffix [for]="dobDate"></mat-datepicker-toggle>
                <mat-datepicker #dobDate></mat-datepicker>
                <mat-error *ngIf="form.get('dobDate').invalid ">Please correct date of birth /Register date</mat-error>
              </mat-form-field>
          </div>

      </form>
  </mat-card>
