
                <div class="panel-body">
                    <ul class="media-list" *ngFor="let item of mitLedInspHistoryArray">
                        <li class="media">
                            <a href="#" class="pull-left">
                                <!-- <img src="\assets\img\avatars\thump1.jpg" alt="" class="img-circle"> -->
                                <img src="\assets\img\avatars\noPerson.png" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted">
                                    <small class="text-muted">{{item.createDate | date: 'dd/MM/yyyy h:mm a'}}</small>
                                </span>
                                <strong class="text-success pull-left">{{item.createBy}}</strong>
                                <p>
                                  {{item.memo}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

