<mat-card id="led_header" class="cust-container" *ngIf="!spinnerLoading">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>
            LED.
        </mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>
      <mat-card-content>
      <div class="container">

          <div class="row">
              <p>คดีหมายเลขดำ {{ledMas.black_case}}   - ปีคดีหมายเลขดำ {{ledMas.black_yy}} </p>
            </div>
            <div class="row">
                <p>คดีหมายเลขแดง  {{ledMas.red_case}}  - ปีคดีหมายเลขแดง {{ledMas.red_yy}}</p>
            </div>
            <div class="row"><p>ชื่อศาล {{ledMas.court_name}}</p>
            </div>
            <div class="row"><p>ชื่อโจทก์ (หน้าหมาย): {{ledMas.plaintiff1}}</p></div>

            <div class="row">
              <p>เลขบัตรประชาชน / เลขนิติบุคคล: {{ledMas.df_id}}</p>
            </div>
            <div class="row">
              <p>ชื่อจำเลย :{{ledMas.df_name}}</p>
            </div>
            <div class="row">
              <p>สกุลจำเลย :{{ledMas.df_surname}} </p>
            </div>

            <div class="row">
                <p>วันที่พิทักษ์ทรัพย์ชั่วคราว {{ledMas.tmp_prot_dd}} / {{ledMas.tmp_prot_mm}} / {{ledMas.tmp_prot_yy}}</p>
            </div>

            <div class="row">
                <p>วันที่พิทักษ์ทรัพย์เด็ดขาด {{ledMas.abs_prot_dd}} / {{ledMas.abs_prot_mm}} / {{ledMas.abs_prot_yy}}</p>
            </div>

            <div class="row">
                <p>วันที่ศาลสั่งให้จัดการทรัพย์มรดก {{ledMas.df_manage_dd}} / {{ledMas.df_manage_mm}} / {{ledMas.df_manage_yy}} </p>
            </div>

            <div class="row">
              <p>วันที่พิพากษาให้ล้มละลาย {{ledMas.bkr_prot_dd}} / {{ledMas.bkr_prot_mm}} / {{ledMas.bkr_prot_yy}}</p>
            </div>
      </div>
      </mat-card-content>
</mat-card>
