<mat-tab-group>
    <mat-tab label="Profile"> 
        <div class="card">
        <form class="example-form">
        
              <mat-form-field class="col-md-6">
                <!-- <mat-label>FirstName</mat-label> -->
                <input matInput placeholder="FirstName" value="">
              </mat-form-field>
        
              <mat-form-field class="col-md-6">
                <mat-label>LastName</mat-label>
                <input matInput placeholder="LastName" value="">
              </mat-form-field>
        
              <mat-form-field class="col-md-6">
                <mat-label>CustomerAlias</mat-label>
                <input matInput placeholder="CustomerAlias" value="">
              </mat-form-field>
        
              <mat-form-field class="col-md-6">
                <mat-label>วันเกิด</mat-label>
                <input matInput [matDatepicker]="empDate"
                  placeholder="DOB"
                  [readonly]="true" >
                <mat-datepicker-toggle matSuffix [for]="empDate"></mat-datepicker-toggle>
                <mat-datepicker #empDate disabled="false"></mat-datepicker>
                <!-- <mat-error *ngIf="form.get('empDate').invalid ">Please correct date expire date</mat-error> -->
              </mat-form-field>
        
              <mat-label>Sex</mat-label>
              <section class="example-full-width">
                  <mat-radio-group >
                    <mat-radio-button class="example-margin"  *ngFor="let obj of SexList" [value]="obj.code">{{obj.desc}}</mat-radio-button>
                  </mat-radio-group>
              </section>
        
            
              <mat-form-field class="col-md-6">
                <mat-label>Mobile</mat-label>
                <input matInput #Mobile placeholder="เบอร์มือถือ">
                <mat-hint align="end">{{Mobile.value.length}} / 10</mat-hint>
              </mat-form-field>
        
              <mat-form-field class="col-md-6">
                <mat-label>Telephone
                </mat-label>
                <input matInput placeholder="Telephone">
              </mat-form-field>
        
            <!-- Fax -->
            <mat-form-field class="col-md-6">
              <mat-label>Fax
              </mat-label>
              <input matInput placeholder="Fax">
            </mat-form-field>
        <div>
            <!-- Email -->
            <mat-form-field class="col-md-6">
              <mat-label>Email</mat-label>
              <input type="email" matInput
                     placeholder="Ex. pat@example.com">
              <mat-hint>Errors appear instantly!</mat-hint>
            </mat-form-field>
        
            <!-- SocialAccount -->
            <mat-form-field class="col-md-6">
              <mat-label>SocialAccount</mat-label>
              <input type="email" matInput
                     placeholder="FC, LinkIn, Line">
              <mat-hint>Errors appear instantly!</mat-hint>
            </mat-form-field>
          </div>
          </form>
    </div>
    </mat-tab>

    <!-- ***************************** Performance -->
    <mat-tab label="Performance"> 
        <div class="animated fadeIn">

            <div class="row">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header">
                      Performance
                    </div>
                    <div class="card-body">
                      <div class="row">
                        
                            <div class="col-sm-4">
                              <div class="callout callout-info">
                                <small class="text-muted">Target on 2021</small>
                                <br>
                                <strong class="h4">1,000,000</strong>
                              </div>
                            </div>
                            <!--/.col-->
                            <div class="col-sm-4">
                              <div class="callout callout-danger">
                                <small class="text-muted">AUM  on 2020-01-30</small>
                                <br>
                                <strong class="h4">500,000</strong>
                              </div>
                            </div><!--/.col-->
                            <!--/.col-->
                            <div class="col-sm-4">
                                <div class="callout callout-warning">
                                <small class="text-muted">AUM  on 2020-01-30</small>
                                <br>
                                <strong class="h4">50%</strong>
                                </div>
                            </div><!--/.col-->

                         
                      </div><!--/.row-->

                      <hr class="mt-0">

                      <div class="card">
                        <div class="card-header">
                          Line Chart
                          <div class="card-header-actions">
                            <a href="http://www.chartjs.org">
                              <small class="text-muted">docs</small>
                            </a>
                          </div>
                        </div>
                        <div class="card-body">
                          <div class="chart-wrapper">
                            <canvas baseChart class="chart"
                            [datasets]="lineChartData"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [colors]="lineChartColours"
                            [legend]="lineChartLegend"
                            [chartType]="lineChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                          </div>
                        </div>
                      </div>

                      <br>
                      <h3>Team</h3>
                          <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light">
                          <tr>
                            <th class="text-center"></th>
                            <th></th>
                            <!-- <th class="text-center">Country</th> -->
                            <th>AUM</th>
                            <!-- <th class="text-center">Payment Method</th> -->
                            <th>Activity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="text-center">
                              <div class="avatar">
                                <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                <span class="avatar-status badge-success"></span>
                              </div>
                            </td>
                            <td>
                              <div>Yanida</div>
                              <div class="small text-muted">
                                <span>PW</span> | Registered: Jan 1, 2015
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="flag-icon flag-icon-us h4 mb-0" title="us" id="us"></i>
                            </td> -->
                            <td>
                              <div class="clearfix">
                                <div class="float-left">
                                  <strong>50%</strong>
                                </div>
                                <div class="float-right">
                                  <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                </div>
                              </div>
                              <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                            </td> -->
                            <td>
                              <div class="small text-muted">Last login</div>
                              <strong>10 sec ago</strong>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                              <div class="avatar">
                                <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                <span class="avatar-status badge-danger"></span>
                              </div>
                            </td>
                            <td>
                              <div>Tananya</div>
                              <div class="small text-muted">
        
                                <span>PW</span> | Registered: Jan 1, 2015
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="flag-icon flag-icon-br h4 mb-0" title="br" id="br"></i>
                            </td> -->
                            <td>
                              <div class="clearfix">
                                <div class="float-left">
                                  <strong>10%</strong>
                                </div>
                                <div class="float-right">
                                  <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                </div>
                              </div>
                              <div class="progress progress-xs">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="fa fa-cc-visa" style="font-size:24px"></i>
                            </td> -->
                            <td>
                              <div class="small text-muted">Last login</div>
                              <strong>5 minutes ago</strong>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                              <div class="avatar">
                                <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                <span class="avatar-status badge-warning"></span>
                              </div>
                            </td>
                            <td>
                              <div>Quintin Ed</div>
                              <div class="small text-muted">
                                <span>PW</span> | Registered: Jan 1, 2015
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="flag-icon flag-icon-in h4 mb-0" title="in" id="in"></i>
                            </td> -->
                            <td>
                              <div class="clearfix">
                                <div class="float-left">
                                  <strong>74%</strong>
                                </div>
                                <div class="float-right">
                                  <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                </div>
                              </div>
                              <div class="progress progress-xs">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 74%" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="fa fa-cc-stripe" style="font-size:24px"></i>
                            </td> -->
                            <td>
                              <div class="small text-muted">Last login</div>
                              <strong>1 hour ago</strong>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                              <div class="avatar">
                                <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                <span class="avatar-status badge-secondary"></span>
                              </div>
                            </td>
                            <td>
                              <div>Rosakorn</div>
                              <div class="small text-muted">
                                <span>BD</span> | Registered: Jan 1, 2015
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="flag-icon flag-icon-fr h4 mb-0" title="fr" id="fr"></i>
                            </td> -->
                            <td>
                              <div class="clearfix">
                                <div class="float-left">
                                  <strong>98%</strong>
                                </div>
                                <div class="float-right">
                                  <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                </div>
                              </div>
                              <div class="progress progress-xs">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="fa fa-paypal" style="font-size:24px"></i>
                            </td> -->
                            <td>
                              <div class="small text-muted">Last login</div>
                              <strong>Last month</strong>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                              <div class="avatar">
                                <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                <span class="avatar-status badge-success"></span>
                              </div>
                            </td>
                            <td>
                              <div>Supasiri</div>
                              <div class="small text-muted">
                                <span>BD</span> | Registered: Jan 1, 2015
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="flag-icon flag-icon-es h4 mb-0" title="es" id="es"></i>
                            </td> -->
                            <td>
                              <div class="clearfix">
                                <div class="float-left">
                                  <strong>22%</strong>
                                </div>
                                <div class="float-right">
                                  <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                </div>
                              </div>
                              <div class="progress progress-xs">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="fa fa-google-wallet" style="font-size:24px"></i>
                            </td> -->
                            <td>
                              <div class="small text-muted">Last login</div>
                              <strong>Last week</strong>
                            </td>
                          </tr>
                          <tr>
                            <td class="text-center">
                              <div class="avatar">
                                <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                                <span class="avatar-status badge-danger"></span>
                              </div>
                            </td>
                            <td>
                              <div>Hasun</div>
                              <div class="small text-muted">
                                <span>PW2</span> | Registered: Jan 1, 2015
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="flag-icon flag-icon-pl h4 mb-0" title="pl" id="pl"></i>
                            </td> -->
                            <td>
                              <div class="clearfix">
                                <div class="float-left">
                                  <strong>43%</strong>
                                </div>
                                <div class="float-right">
                                  <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                                </div>
                              </div>
                              <div class="progress progress-xs">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </td>
                            <!-- <td class="text-center">
                              <i class="fa fa-cc-amex" style="font-size:24px"></i>
                            </td> -->
                            <td>
                              <div class="small text-muted">Last login</div>
                              <strong>Yesterday</strong>
                            </td>
                          </tr>
                        </tbody>
                      </table> 
                    </div>
                  </div>
                </div><!--/.col-->
              </div><!--/.row-->
        </div>
    </mat-tab>

    <!-- ******************************** Activities -->

    <mat-tab label="Activities"> 
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon"><i class="fas fa-history"></i></mat-icon>
            Activity
          </ng-template>
      
          <mat-expansion-panel class="example-expansion">
            <mat-expansion-panel-header>
              <mat-panel-title>
                2020 dec 20
                <br>1h
              </mat-panel-title>
              <mat-panel-description>
                <!-- <mat-icon>date_range</mat-icon> -->
                hason 2020-12-20 1h / นัดหมาย
              </mat-panel-description>
            </mat-expansion-panel-header>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
          </mat-expansion-panel>
      
          <mat-expansion-panel class="example-expansion">
            <mat-expansion-panel-header>
              <mat-panel-title>
                2020 dec 10
                <br>5d
              </mat-panel-title>
              <mat-panel-description>
                <!-- <mat-icon>date_range</mat-icon> -->
                by hason 2020-12-10 5d / Order - KFGTECH (50,000)
              </mat-panel-description>
            </mat-expansion-panel-header>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
          </mat-expansion-panel>
      
      
          <mat-expansion-panel class="example-expansion">
            <mat-expansion-panel-header>
              <mat-panel-title>
                2020 dec 11
                <br>6d
              </mat-panel-title>
              <mat-panel-description>
                <!-- <mat-icon>date_range</mat-icon> -->
                by hason 2020-12-11 6d / Call Report
              </mat-panel-description>
            </mat-expansion-panel-header>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
          </mat-expansion-panel>
    
    </mat-tab>
  </mat-tab-group>