h3 {
  margin: 0 0 10px;
}

pre {
  // background-color:   #f5f5f5;
  // background-color:   orchid !important;
  padding: 15px;
}


.cal-month-view  {
  background-color: orchid !important;
}

cal-div {
  width: 400 px;
}
