.txt_green {
  color: green
}

.txt_red {
  color: red
}
.txt_yellow {
  color: darkorange
}


.port_number{
text-align: right;
display: inline;
}

.inline{
  display: inline;
}

.mktVal{
  text-align: right;
  width: 100%;
}
.port_lbdu_detail{
  text-indent: 50px;
}
