<mat-spinner *ngIf="spinnerLoading"></mat-spinner>
<mat-card class="example-card" *ngIf="!spinnerLoading">

    <form [formGroup]="form" (submit)="onSerachCust()" #custForm="ngForm" >
        <mat-card-title>Employee Information
            <a mat-button routerLink="/trade/customerDetail" routerLinkActive="mat-accent" matTooltip="New employee">
              <i class="fas fa-user-plus fa-2x" ></i>
            </a>
          </mat-card-title>
          <mat-card-content>
            <div class="condition-div">
              <mat-form-field>
                <input matInput formControlName="employeeName" placeholder="Employee Name">
                <mat-error *ngIf="form.get('employeeName').invalid">Please enter a condition.</mat-error>
              </mat-form-field>
            </div>

            <div class="condition-div row">
                <mat-form-field class="col-sm-12 col-md-4">
                  <mat-select formControlName="department" placeholder="Department"  >
                    <mat-option *ngFor="let obj of departmentList" [value]="obj.DEP_CODE">
                      {{obj.NAME}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.get('department').invalid">Choose department.</mat-error>
                </mat-form-field>
              </div>

          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="primary" type='submit'>Search</button>&nbsp;
            <button mat-stroked-button color="warn" type='reset'>Reset</button>

          </mat-card-actions>
      </form>
</mat-card>

<div class="mat-elevation-z8" *ngIf="!spinnerLoading">
    <mat-card class="resultDiv">
      <mat-card-title>Result</mat-card-title>
      <mat-card-content>

        <table mat-table [dataSource]="dataSource">
              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

                <!-- Employee ID -->
              <ng-container matColumnDef="empID">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.empID}} </td>
              </ng-container>

              <!-- First Name -->
              <ng-container matColumnDef="First_Name">
                  <th mat-header-cell *matHeaderCellDef> First Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.First_Name}} </td>
              </ng-container>

              <!-- Last Name -->
              <ng-container matColumnDef="Last_Name">
                  <th mat-header-cell *matHeaderCellDef> Last Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.Last_Name}} </td>
              </ng-container>

              <!--Position -->
              <ng-container matColumnDef="Position">
                  <th mat-header-cell *matHeaderCellDef>Position </th>
                  <td mat-cell *matCellDef="let element"> {{element.Position}} </td>
              </ng-container>

              <!--Position -->
              <ng-container matColumnDef="Department">
                  <th mat-header-cell *matHeaderCellDef>Department </th>
                  <td mat-cell *matCellDef="let element"> {{element.Department}} </td>
              </ng-container>

              <!--officeEmail -->
              <ng-container matColumnDef="officeEmail">
                  <th mat-header-cell *matHeaderCellDef>Email </th>
                  <td mat-cell *matCellDef="let element"> {{element.officeEmail}} </td>
              </ng-container>

                <!-- Action  -->
            <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element"> <i class="far fa-edit"  [routerLink]="['/trade/customerEdit',element.Cust_Code,'SEARCH_CUST_SCR']"></i> </td>
            </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [length]="totalRecords"
          [pageSize]="rowsPerPage"
          [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)">
        </mat-paginator>

      </mat-card-content>

    </mat-card>
  </div>
