mat-spinner {
  margin: auto;
}

mat-card {
  margin-top: 10px;
}

table {
  width: 100%;
}

a {
  margin-left: 10px;
}

.button_card_action {
  margin-top: 10px;
}

.status-radio-group{
  // margin-right: auto
  flex-direction: column;
  margin-left: 40px;
}
