
<mat-card class="example-card" >
    <form [formGroup]="form"  #custForm="ngForm" >
        <mat-card-title>LED detail</mat-card-title>

        <div class="example-container">

            <mat-form-field >
                <input   matInput formControlName="twsid" placeholder=" twsid"
                [(ngModel)]="mitLedMas.twsid">
                <mat-error *ngIf="form.get('twsid').invalid">Please enter cust_code</mat-error>
            </mat-form-field>

            <mat-form-field >
                <input   matInput formControlName="cust_code" placeholder="ID"
                [(ngModel)]="mitLedMas.df_id">
                <mat-error *ngIf="form.get('cust_code').invalid">Please enter ID</mat-error>
            </mat-form-field>

            <mat-form-field >
                <input   matInput formControlName="firstName" placeholder="First Name"
                [(ngModel)]="mitLedMas.df_name">
                <mat-error *ngIf="form.get('firstName').invalid">Please enter firstName</mat-error>
            </mat-form-field>

            <mat-form-field >
                <input   matInput formControlName="lastName" placeholder=" Last Name"
                [(ngModel)]="mitLedMas.df_surname">
                <mat-error *ngIf="form.get('lastName').invalid">Please enter lastName</mat-error>
            </mat-form-field>

            <div class="panel-body" >
              <label>History</label>
              <ul class="media-list" *ngFor="let item of masHistory">
                  <li class="media">
                      <!-- <a href="#" class="pull-left">
                          <img src="\assets\img\avatars\noPerson.png" alt="" class="img-circle">
                      </a> -->
                      <div class="media-body">
                          <span class="text-muted">
                              <small class="text-muted">{{item.createDate | date: 'dd/MM/yyyy h:mm a'}}</small>
                          </span>
                          <strong class="text-success pull-left">{{item.createBy}}</strong>
                          <p>
                            {{item.memo}}
                          </p>
                          <p>
                              <i class="far fa-2x fa-file-pdf"></i>
                            {{item.resourceRef}}
                          </p>
                      </div>
                  </li>
              </ul>

              <div class="row" *ngIf="authority.mEdit == YES_VAL" >

                  <mat-card-actions>
                      <a  mat-flat-button class="button_card_action" color="primary" (click)="onSave()"  >Save</a>
                  </mat-card-actions>
              </div>

          </div>
        </div>
      </form>
  </mat-card>

  <div class="row btn_control">

          <a id="btn_close"  mat-flat-button color="accent"  (click)="onClose()"> Close </a>

  </div>
