
  <div class="container ">
    <form [formGroup]="form"  >
        <mat-card-title>LED detail</mat-card-title>

        <div class="example-container">

            <mat-form-field >
                <input   matInput formControlName="twsid" placeholder=" twsid"
                [(ngModel)]="mitLedMas.twsid">
                <mat-error *ngIf="form.get('twsid').invalid">Please enter cust_code</mat-error>
            </mat-form-field>

            <mat-form-field >
                <input   matInput formControlName="cust_code" placeholder="ID"
                [(ngModel)]="mitLedMas.df_id">
                <mat-error *ngIf="form.get('cust_code').invalid">Please enter ID</mat-error>
            </mat-form-field>

            <mat-form-field >
                <input   matInput formControlName="firstName" placeholder="First Name"
                [(ngModel)]="mitLedMas.df_name">
                <mat-error *ngIf="form.get('firstName').invalid">Please enter firstName</mat-error>
            </mat-form-field>

            <mat-form-field >
                <input   matInput formControlName="lastName" placeholder=" Last Name"
                [(ngModel)]="mitLedMas.df_surname">
                <mat-error *ngIf="form.get('lastName').invalid">Please enter lastName</mat-error>
            </mat-form-field>

            <mat-card-title>History
              <i *ngIf="authority.mEdit == YES_VAL" class="fas fa-plus-circle" (click)="addHistory()" ></i>
            </mat-card-title>

            <div *ngIf="new_mitLedMasHis " >
                <form [formGroup]="addHistForm"   >
                    <div class='row  '>
                    <mat-form-field >
                        <mat-select  formControlName="led_state" placeholder="LED code"
                        [(ngModel)]="new_mitLedMasHis.led_state">
                            <mat-option  *ngFor="let obj of codeLookupList" [value]="obj.keycode">
                              {{obj.keyText}}
                            </mat-option>
                          </mat-select>
                        <mat-error *ngIf="addHistForm.get('led_state').invalid">Choose one</mat-error>
                    </mat-form-field>
                  </div>

                  <div class='row '>
                      <mat-form-field >
                          <textarea matInput placeholder="Memo" formControlName="memo" [(ngModel)]="new_mitLedMasHis.memo"></textarea>
                          <mat-error *ngIf="addHistForm.get('memo').invalid">Please enter Memo</mat-error>
                      </mat-form-field>
                  </div>

                  <div class='row '>
                  <mat-form-field >
                          <input   matInput formControlName="resourceRef" placeholder=" Reference source"
                          [(ngModel)]="new_mitLedMasHis.resourceRef">
                          <mat-error *ngIf="addHistForm.get('resourceRef').invalid">Please enter reference source</mat-error>
                      </mat-form-field>
                  </div>

                  <div class="row"  >
                      <mat-card-actions>
                          <a  mat-flat-button class="button_card_action" color="primary" (click)="onSave()"  >Save</a>
                          <a  mat-flat-button class="button_card_action" color="accent" (click)="onNewHisCancel()"  >Cancel</a>
                      </mat-card-actions>
                  </div>

                </form>
            </div>

            <div class="panel-body" >
              <ul class="media-list" *ngFor="let item of masHistory">
                  <li class="media">
                      <!-- <a href="#" class="pull-left">
                          <img src="\assets\img\avatars\noPerson.png" alt="" class="img-circle">
                      </a> -->
                      <div class="media-body">
                          <span class="text-muted">
                              <small class="text-muted">{{item.createDate | date: 'dd/MM/yyyy h:mm a'}}</small>
                          </span>
                          <strong class="text-success pull-left">{{item.createBy}}</strong>
                          <p>
                            {{item.memo}}
                          </p>
                          <p>
                              <i class="far fa-2x fa-file-pdf"></i>
                            {{item.resourceRef}}
                          </p>
                          <hr>
                      </div>
                  </li>
              </ul>



          </div>
        </div>
      </form>

  <div class="row ">
          <a id="btn_close"  mat-flat-button color="accent"  (click)="onClose()"> Close </a>
  </div>

</div>
