<div>
  <mat-spinner *ngIf="spinnerLoading"></mat-spinner>
</div>

<!-- <mat-card> -->
<div class="master_div">
  <form [formGroup]="searchForm" (submit)="onSerachCust()" #custForm="ngForm" *ngIf="!spinnerLoading">
    <mat-card-title>Search Customer Information
      <!-- <a mat-button routerLink="/trade/customerDetail" routerLinkActive="mat-accent" matTooltip="New customer">
        <i class="fas fa-user-plus fa-2x" ></i>
      </a> -->
    </mat-card-title>
    <mat-card-content>
      <div class="condition-div">
        <mat-form-field>
          <input matInput formControlName="custId" placeholder="Card No./ Name">
          <!-- <mat-error *ngIf="form.get('custId').invalid">Please enter a condition.</mat-error> -->
        </mat-form-field>

        <!-- <mat-form-field>
          <mat-select  formControlName="custType"  placeholder="Type of Unitholder">
            <mat-option value="option">Option</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('custType').invalid">Please enter a condition.</mat-error>
        </mat-form-field> -->
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button  [disabled]="searchForm.invalid" mat-stroked-button color="primary" type='submit'>Search</button>&nbsp;
      <button mat-stroked-button color="warn" type='reset' (click)="onReset()" >Reset</button>

    </mat-card-actions>
  </form>
</div>
<!-- </mat-card> -->