.act-main-div{
  background: #ffffff;
}
.master_div{
  background: #ffffff;
  margin: auto;
}

:host {
  display: block;
}
mat-card{
       margin-top: 10px;
}

mat-spinner {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}