<!-- <div>
  <mat-spinner *ngIf="spinnerLoading"></mat-spinner>
</div> -->

<mat-card>
  <!-- <form [formGroup]="searchForm" (submit)="onSerachCust()" #custForm="ngForm" *ngIf="!spinnerLoading" class="example-form"> -->
  <form [formGroup]="searchForm" (submit)="onSerachCust()" #custForm="ngForm" class="example-form">
    <mat-card-title>Search Customer Information
        <a mat-button  [routerLink]="['/trade/CRM-Personal-Data','','SEARCH_CUST_SCR']"  routerLinkActive="mat-accent" matTooltip="New customer">
          <i class="fas fa-user-plus fa-2x" ></i>
        </a>

    </mat-card-title>
    <mat-card-content>
      <div class="condition-div">
        <mat-form-field class="col-md-6">
          <input matInput formControlName="idCard" placeholder="Card No.">
          <!-- <mat-error *ngIf="form.get('custId').invalid">Please enter a condition.</mat-error> -->
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput  formControlName="firstName" placeholder="First Name">
          <!-- <mat-error *ngIf="form.get('custId').invalid">Please enter a condition.</mat-error> -->
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput  formControlName="lastName" placeholder="Last Name">
          <!-- <mat-error *ngIf="form.get('custId').invalid">Please enter a condition.</mat-error> -->
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput formControlName="CustomerAlias" placeholder="Alias Name">
          <!-- <mat-error *ngIf="form.get('custId').invalid">Please enter a condition.</mat-error> -->
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput formControlName="Mobile" placeholder="Mobile">
          <!-- <mat-error *ngIf="form.get('custId').invalid">Please enter a condition.</mat-error> -->
        </mat-form-field>

        <!-- <mat-form-field>
          <mat-select  formControlName="custType"  placeholder="Type of Unitholder">
            <mat-option value="option">Option</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('custType').invalid">Please enter a condition.</mat-error>
        </mat-form-field> -->
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button  [disabled]="searchForm.invalid" mat-stroked-button color="primary" type='submit'>Search</button>&nbsp;
      <button mat-stroked-button color="warn" type='reset' (click)="onReset()" >Reset</button>

    </mat-card-actions>
  </form>
</mat-card>

<mat-card >

  <table mat-table [dataSource]="cust_dataSource" class='full-width '>

    <ng-container matColumnDef="Cust_Code">
      <th mat-header-cell *matHeaderCellDef> ID card /Pass </th>
      <td mat-cell *matCellDef="let element"> {{element.Cust_Code}} </td>
    </ng-container>

    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="['/trade/CRM-Personal-Data',element.CustCode,'SEARCH_CUST_SCR']" matTooltip="Edit">{{element.FirstName}} {{element.LastName}} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Aliast">
      <th mat-header-cell *matHeaderCellDef> Aliast Name </th>
      <td mat-cell *matCellDef="let element">{{element.CustomerAlias}} </td>
    </ng-container>

    <ng-container matColumnDef="RM">
      <th mat-header-cell *matHeaderCellDef> Marketing </th>
      <td mat-cell *matCellDef="let element"> {{element.RM}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="LastAct">
      <th mat-header-cell *matHeaderCellDef> Last act. </th>
      <td mat-cell *matCellDef="let element"> {{element.LastAct}} </td>
    </ng-container> -->

    <!-- Edit  -->
    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <i class="far fa-edit fa-lg"  [routerLink]="['/trade/CRM-Personal-Data',element.CustCode,'SEARCH_CUST_SCR']" matTooltip="View"></i>
          <i class="far fa-edit fa-lg"  [routerLink]="['/trade/CRM-Activity']" matTooltip="Call report"></i>
          <!-- <i class="far fa-edit fa-lg"  [routerLink]="['/trade/customerEdit',element.CustCode,'SEARCH_CUST_SCR']" matTooltip="Edit"></i> -->
          <!-- <i class="fab fa-adn fa-lg" (click)="onApprove(element.Cust_Code)" matTooltip="Call report"></i> -->
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="cust_displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: cust_displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="totalRecords"
  [pageSize]="rowsPerPage"
  [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)">
</mat-paginator>

</mat-card>
