
<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<div class="contrainer" *ngIf="!spinnerLoading" >

  <h3>Upload Customer Individual(Partial)</h3>

    <form [formGroup]="uploadAPIForm" class="example-form">

      <!-- <div class="form-group row">
        <label for="id" class="col-sm-2 col-form-label">Cust Code</label>
        <div class="col-sm-10">
          <input type="text" class="form-control col-sm-3" id="id"  [(ngModel)]="custCode" formControlName="id">
        </div>
      </div> -->

      <div class="form-group row">
        <label for="suitLevel" class="col-sm-2 col-form-label">Suit level</label>
        <div class="col-sm-10">
          <!-- <input type="text" class="form-control col-sm-3" id="suitLevel"  [(ngModel)]="suitabilityRiskLevel" formControlName="suitLevel"> -->
          <select class="form-control col-sm-3" required id="suitLevel"  [(ngModel)]="suitabilityRiskLevel" formControlName="suitLevel">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>

        </div>
      </div>

      <div class="form-group row">
        <label for="cddScore" class="col-sm-2 col-form-label">CDD score</label>
        <div class="col-sm-10">
          <!-- <input type="text" class="form-control col-sm-3" id="cddScore"  [(ngModel)]="cddScore" formControlName="cddScore"> -->
          <select class="form-control col-sm-3" required id="cddScore"  [(ngModel)]="cddScore" formControlName="cddScore">
            <option value=""></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>

        </div>
      </div>

      <div class="form-group row">
        <label for="fatca" class="col-sm-2 col-form-label">FATCA</label>
        <div class="col-sm-10">
          <!-- <input type="text" class="form-control col-sm-3" id="fatca"  [(ngModel)]="fatca" formControlName="fatca"> -->
          <mat-radio-group id="fatca"  [(ngModel)]="fatca" formControlName="fatca" aria-label="Select an option">
            <mat-radio-button value="true">true - ใช่</mat-radio-button>
            <mat-radio-button value="false">false – ไม่ใช่</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row margin_top_30">
        <p>Form: {{uploadAPIForm.valid}} </p>
          <button mat-stroked-button color="warn" (click)=onClose()>
            Close</button>

          <button mat-stroked-button color="primary" (click)=onUploadAPI() [disabled]="uploadAPIForm.invalid">
            FC API Upload <i class="fas fa-cloud-upload-alt"></i> </button>
      </div>

    </form>

</div>
