
  @media screen and (max-width : 1920px){
    .div-only-mobile{
    visibility:hidden;
    }
  }
  @media screen and (max-width : 906px){
    .div_destop{
    visibility:hidden;
    }
    .div-only-mobile{
    visibility:visible;
    }
  }

.suit_condition {
  margin-top: 20px;
 }

.fa-arrow-color {
  color: orangered;
  margin-right: 10px;
}

.suit-activate {
  color: orangered;
  font-size: large;
  // font-size: x-large;
}
.suit-txt-activate {
  color: orangered;
  font-size: medium;

  width: 100%;
  align-items: center;
  vertical-align: inherit;
  margin-right: 10px;
}
