
  @media screen and (max-width : 1920px){ // For desktop
    .div-only-mobile{
     visibility:hidden;
     height: 0px;

    }

    .div_destop{
      visibility:visible;
      }
  }
  @media screen and (max-width : 906px){ //For mobile
    .div_destop{
    visibility:hidden;
    height: 0px;
    }

    .div-only-mobile{
    visibility:visible;
    height: auto;
    }

    .risk_eva_result_mb{

      h5 {
        color: darkslateblue;
      }
      table {
        margin-bottom: 20px;
      }
      td, th {
        width: 4rem;
        height: 2rem;
        border: 1px solid #ccc;
        text-align: center;
      }
      td {
        font-size: large;
      }
      th {
        background: lightblue;
        border-color: white;
      }
      body {
        padding: 1rem;
      }

    }
  }

.suit_condition {
  margin-top: 20px;
 }

.fa-arrow-color {
  color: orangered;
  margin-right: 10px;
}

.suit-activate {
  color: orangered;
  font-size: large;
  // font-size: x-large;
}
.suit-txt-activate {
  color: orangered;
  font-size: medium;

  width: 100%;
  align-items: center;
  vertical-align: inherit;
  margin-right: 10px;
}
