.suit_condition {
  margin-top: 100px;
 }


.fa-arrow-color {
  color: orangered;
  margin-right: 10px;
}

.suit-activate {
  color: orangered;
  font-size: large;
  // font-size: x-large;
}
.suit-txt-activate {
  color: orangered;
  font-size: medium;

  width: 100%;
  align-items: center;
  vertical-align: inherit;
  margin-right: 10px;
}
