<form [formGroup]="schFormGroup">
<mat-card class="col-md-6">
    <mat-card-header>Welcome Task</mat-card-header>
    <mat-card-content>

        <h5>Open (Plan)</h5>

      <mat-form-field class="col-md-6">
        <input  matInput formControlName="title" [(ngModel)]="crmTaskObj.title" placeholder="Title" required >
        <mat-error *ngIf="schFormGroup.get('title').invalid" >Please fill Title.</mat-error>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Note
        </mat-label>
        <textarea matInput formControlName="note" [(ngModel)]="crmTaskObj.note"  placeholder="Note" ></textarea>
      </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>ประเภท Activity </mat-label>
            <mat-select [(ngModel)]="crmTaskObj.schType" formControlName="schType" >
                <mat-option  *ngFor="let obj of taskTypeList" [value]="obj.code">
                  {{obj.text}}
                </mat-option>
              </mat-select>
        </mat-form-field>

        <mat-form-field >
          <mat-label> Schedule Start Date</mat-label>
          <input matInput [matDatepicker]="schStartDate"   [(ngModel)]="crmTaskObj.schStartDate" formControlName="schStartDate"     placeholder="Schedule Start Date " >
          <mat-datepicker-toggle matSuffix [for]="schStartDate"></mat-datepicker-toggle>
          <mat-datepicker #schStartDate disabled="false"></mat-datepicker>
          <mat-error *ngIf="schFormGroup.controls['schStartDate'].hasError('required')  &&
          schFormGroup.get('schStartDate').touched">Please choose  Date.</mat-error>
          <!-- <mat-hint align="end">Not more then 100 characters long.</mat-hint> -->
        </mat-form-field>


        <section class="example-full-width" *ngIf="crmTaskObj.schType=='contactCustAct' " >
        <mat-label>Channel</mat-label>
        <div>
          <mat-radio-group formControlName="channel"  [(ngModel)]="crmTaskObj.channel" required >
            <mat-radio-button class="example-margin"  *ngFor="let obj of channelList" [value]="obj.code">{{obj.text}}</mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="schFormGroup.controls['channel'].hasError('required')  &&
          schFormGroup.get('channel').touched">Please choose Contact Channel.</mat-error>
        </div>
        </section>


        <mat-form-field class="example-full-width">
          <mat-label>Product Group</mat-label>
          <mat-select formControlName="prodCate" [(ngModel)]="crmTaskObj.prodCate"  multiple>
              <mat-option  *ngFor="let obj of prodGroupList" [value]="obj.code">
                {{obj.text}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Product Name</mat-label>
          <mat-select formControlName="productItem" [(ngModel)]="crmTaskObj.productItem" multiple>
              <mat-option  *ngFor="let obj of productList" [value]="obj.code">
                {{obj.text}}
              </mat-option>
            </mat-select>
        </mat-form-field>


        <div class="div_feeback">
        <h5>Close (feeback)</h5>

        <section class="example-section">
          <mat-slide-toggle
              class="example-margin"
              [color]="color"
              [checked]="checked"
              [disabled]="disabled">
            Close
          </mat-slide-toggle>
        </section>

        <mat-form-field >
          <mat-label> Close Date ({{crmTaskObj.schCloseDate}})</mat-label>
          <input matInput  [(ngModel)]="crmTaskObj.schCloseDate" [matDatepicker]="schCloseDate"   formControlName="schCloseDate"     placeholder="Schedule Close Date " >
          <mat-datepicker-toggle matSuffix [for]="schCloseDate"></mat-datepicker-toggle>
          <mat-datepicker #schCloseDate disabled="false"></mat-datepicker>
          <mat-error *ngIf="schFormGroup.controls['schCloseDate'].hasError('required')  &&
          schFormGroup.get('schCloseDate').touched">Please choose  Date.</mat-error>
        </mat-form-field>

        <section class="example-full-width">
          <mat-label>Feedback Result</mat-label>
          <div>
          <mat-radio-group  [(ngModel)]="crmTaskObj.feedBackRS" formControlName="feedbackRS"  >
            <mat-radio-button class="example-margin"  *ngFor="let obj of feedbackList" [value]="obj.code">{{obj.text}}</mat-radio-button>
          </mat-radio-group>
        </div>
        </section>

         <!-- Incase not interest ; code=2 -->
        <mat-form-field class="example-full-width" *ngIf="crmTaskObj.feedBackRS=='02' " >
          <mat-label>Reason not interest</mat-label>
          <mat-select formControlName="feedbackReason" [(ngModel)]="crmTaskObj.feedBackReson"  multiple>
              <mat-option  *ngFor="let obj of feedbackCategory" [value]="obj.code">
                {{obj.text}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Feedback Note
          </mat-label>
          <textarea matInput formControlName="feedbackNote" [(ngModel)]="crmTaskObj.feedBackNote" placeholder="Feedback Note" ></textarea>
        </mat-form-field>

        <!-- Incase interest to invest; code=1 -->
        <div *ngIf="crmTaskObj.feedBackRS=='1' ">
          <section class="example-full-width">
            <mat-label>Invest type</mat-label>
            <div>
            <mat-radio-group  formControlName="investType" [(ngModel)]="crmTaskObj.investType"  >
              <mat-radio-button value="amount">Amount</mat-radio-button>
              <mat-radio-button value="unit">Unit</mat-radio-button>
            </mat-radio-group>
          </div>
          </section>


          <mat-form-field class="example-full-width">
            <mat-label>Volumn</mat-label>
            <input type="number" matInput [(ngModel)]="crmTaskObj.investValue"  placeholder="0.0000" >
            <mat-hint align="end">Number 0.0000</mat-hint>
          </mat-form-field>

          <mat-form-field >
            <mat-label> Invest Date</mat-label>
            <input matInput [matDatepicker]="investDate"   [(ngModel)]="crmTaskObj.investDate"   formControlName="investDate"     placeholder="Schedule invest date " >
            <mat-datepicker-toggle matSuffix [for]="investDate"></mat-datepicker-toggle>
            <mat-datepicker #investDate disabled="false"></mat-datepicker>
            <mat-error *ngIf="schFormGroup.controls['investDate'].hasError('required')  &&
            schFormGroup.get('investDate').touched">Please invest date.</mat-error>
          </mat-form-field>

        </div>
      </div>


    </mat-card-content>
    <mat-card-actions>
      <a mat-flat-button class="button_card_action" color="primary" (click)="onSubmit()"  >SAVE</a>
      <button mat-flat-button class="button_card_action"color="warn" type='reset' >Reset</button>

    </mat-card-actions>
</mat-card>
</form>
