<!-- <form [formGroup]="suitFormGroup" >
  <span class="label_title"><h5>แบบมาตรฐานในการประเมินความเหมาะสมในการลงทุน</h5></span>
  </form> -->

  <span class="label_title"><h5>แบบมาตรฐานในการประเมินความเหมาะสมในการลงทุน</h5></span>
   <!-- Show Suit question  -->
  <!-- <div *ngIf="canDoSuit" > -->
  <form [formGroup]="suitFormGroup" *ngIf="canDoSuit" >

      <div *ngFor="let ques of suitQuestions" class="questions">

          <span  *ngIf="ques.id == 11" class="blue-txt">
              <p>คำถามข้อ 11-12 ใช้เป็นข้อมูลเพิ่มเติมเพื่อประกอบการให้คำแนะนำ</p>
            </span>

            <span *ngIf="ques.id == 11" class="blue-txt">
              <p>ใช้เฉพาะที่จะมีการลงทุนในอนุพันธ์และหุ้นกู้อนุพันธ์โดยตรงเท่านั้น</p>
            </span>

            <span *ngIf="ques.id == 12" class="blue-txt">
              <p>ใช้เฉพาะที่จะมีการลงทุนในต่างประเทศ</p>
            </span>

            <span id='ques'>{{ ques.id }}. {{ ques.name }} </span>

            <div *ngIf="!ques.image == ''" class="q_image">
              <img src="{{ ques.image }}" />
            </div>

            <!-- <ul> -->
              <div *ngFor="let choice of ques.choices" class="answer">
                <div *ngIf="ques.multilchoice">
                  <input  type="checkbox"
                  value=" {{ choice.score }}"
                  id="{{ choice.id }}"
                  [(ngModel)]="choice.answer"
                  [ngModelOptions]="{standalone: true}"
                  [disabled]="suitFormGroup.disabled"
                  />
                  {{ choice.name }}
                </div>

                <div *ngIf="!ques.multilchoice" >
                  <input name="{{ ques.id }}"
                    id="{{ ques.id }}"
                    type="radio"
                    value="{{ choice.score }}"
                    [(ngModel)]="ques.answer"
                    [ngModelOptions]="{standalone: true}"
                    [disabled]="suitFormGroup.disabled"
                  />
                  {{ choice.name }}
                </div>

            </div>
          <!-- </ul> -->

      </div>

    <div class ="row" *ngIf="onSuitCalculate">
        <mat-spinner></mat-spinner>
    </div>
  </form>
  <!-- </div> -->

  <app-suit-result-table *ngIf="!canDoSuit && canSaveSuit" [riskScore]="survey.suitScore"  [riskLevel]="survey.riskLevel"  [riskLevelTxt]="survey.riskLevelTxt"    ></app-suit-result-table>

  <mat-card-actions  class="stepper_action center-screen " *ngIf="!suitFormGroup.disabled">

    <a *ngIf="canDoSuit"  mat-flat-button color="primary" (click)="calSuit()" class ="act_button col-sm-12 col-lg-3"> {{formService.LABEL_CALCULATE}}</a>
    <a *ngIf="!canDoSuit && canSaveSuit" (click)="canDoSuit =true;" class="btn btn-outline-success my-2 my-sm-0 col-sm-12 col-lg-3" ><i class="fas fa-pencil-alt"></i> {{formService.label_NewSurvey}}</a>

  <!-- <mat-divider></mat-divider> -->
    <button mat-flat-button *ngIf="!canDoSuit && canSaveSuit"  matStepperPrevious color="accent" class="col-sm-12 col-lg-3"><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
    <button mat-flat-button *ngIf= "!canDoSuit && canSaveSuit"  matStepperNext color="primary" (click)=checkSuit_FormInvalid(suitFormGroup) class="col-sm-12 col-lg-3">{{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button>
  </mat-card-actions>

  <!-- </div> -->
