<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<div  class="container DIV_SET_REG" *ngIf="!spinnerLoading" >


  <div class="row">
    <div>
      <p>Regis Fail:{{regisFail}}</p>
    </div>
    <div class="col-md-6 mx-auto">

<!-- *************** Fill in register information Step -->
<mat-horizontal-stepper [linear]="isStepperLinear" labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">

        <ng-template matStepLabel>Fill out your info</ng-template>


          <!-- <alert type="info">
              <img src="assets/img/mpam/AW_3fb-click.jpg" class="img-fluid" >
              <br>
              <p>กรุณากรอกข้อมูลที่ได้ลงทะเบียนกับบริษัท</p>
            </alert> -->
          <div class="STEP1_HEADER">
              <img src="assets/img/mpam/AW_3fb-click.jpg" class="img-fluid" >
              <p>กรุณากรอกข้อมูลที่ได้ลงทะเบียนกับบริษัท</p>
          </div>

          <mat-form-field class="col-md-12">
            <input matInput placeholder="เลขประจำตัวประชาชน/ ID card" formControlName="idCard" [(ngModel)]="register.idCard"  >
        </mat-form-field>

          <mat-form-field class="col-md-12">
            <input matInput placeholder="ชื่อ / First name" formControlName="firstName" [(ngModel)]="register.firstName"  >
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <input matInput placeholder="นามสกุล / Last name" formControlName="lastName" [(ngModel)]="register.lastName"  >
        </mat-form-field>

        <mat-form-field class="col-md-12">
            <input matInput placeholder="โทรศัพท์มือถือ / Mobile Phone" formControlName="mobile" [(ngModel)]="register.mobile"  >
        </mat-form-field>

        <mat-form-field class="col-md-12">
            <input matInput placeholder="อีเมลล์ / Email" formControlName="email" [(ngModel)]="register.email"  >
        </mat-form-field>


        <div>
            <recaptcha
            [formControl]="myRecaptcha"
            (scriptLoad)="onScriptLoad()"
            (scriptError)="onScriptError()"
          ></recaptcha>
        </div>

          <div>
              <button type="button" class="btn btn-primary" (click)="onRegister(stepper)" >Next</button>
          </div>

      </form>
  </mat-step>

  <!-- *************** Term of Condiftion Step -->
  <mat-step>

          <ng-template matStepLabel>Verify</ng-template>


              <div class="termCondition">
                  <p *ngFor="let txt of ST_TermCondition">{{txt}}</p>
              </div>

          <mat-checkbox  [(ngModel)]="register.acceptFlag"  (change)="OnConditionChange()"  >Agree to terms and conditions</mat-checkbox>

             <div class="row div_otp">
                <div class="col-md-3 mb-3">
                    <!-- <label>OTP</label> -->
                    <input type="text" [(ngModel)]="register.otp" class="form-control"  placeholder="OTP" [disabled]="!register.acceptFlag" required>
                  </div>

                  <div class="col-md-3 mb-3" >
                      <button type="button" class="btn" (click)="requestOTP()" [disabled]="!register.acceptFlag" >Request OTP</button>
                  </div>
             </div>

          <div>
              <button type="button" matStepperNext class="btn btn-primary" (click)="onProcData(stepper)" [disabled]="!register.acceptFlag || !register.otp ">Done</button>
          </div>

  </mat-step>

  <!-- *************** Final Step -->
  <mat-step>
      <ng-template matStepLabel>Finish</ng-template>

      <alert type="info">
          <img src="assets/img/mpam/AW_3fb-click.jpg" class="img-fluid" >
          <br>
          <p>Contraturation, We already send data.Please check your E-Mail.</p>
        </alert>

  </mat-step>
</mat-horizontal-stepper>

    </div>
  </div>
</div>
