<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<div  class="container DIV_SET_REG" *ngIf="!spinnerLoading" >

<!-- <div class="row" *ngIf="regisFail || OTPFail">
  </div> -->

  <mat-card class="col-md-6 mx-auto" *ngIf="regisFail || OTPFail">
      <!-- <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header> -->
      <img mat-card-image src="assets/img/mpam/MPAM_ST_2.png" >

      <mat-card-content>

          <!-- <div class="DIV_ALERT alert alert-danger" role="alert" *ngIf="regisFail">
              This is a danger alert—check it out!
            </div> -->

          <!-- <div class="DIV_ALERT alert alert-danger" *ngIf="regisFail"> -->
          <div class="DIV_ALERT alert alert-danger" role="alert" *ngIf="regisFail">
            <!-- <p>ข้อมูลที่ระบุไม่ตรงกับข้อมูลในระบบบริษัท </p> -->

            <!-- <p>1.ข้อมูลที่ระบุของท่านไม่ตรงกับข้อมูลที่อยู่ในระบบของบริษัท</p>
            <p>2.ท่านกรอกข้อมูลเกินจำนวนครั้งที่กำหนด จะมีเจ้าหน้าที่ติดต่อกลับ</p> -->
            <!-- <p>ท่านกรอกข้อมูลผิดเกินจำนวนที่กำหนด สามารถติดต่อบริษัทตามข้อมูลด้านล่าง</p> -->
            <!-- <p>ข้อมูลที่ท่านระบุไม่ตรงกับข้อมูลที่อยู่ในระบบของบริษัท</p> -->
            <p>ข้อมูลไม่ถูกต้องในระบบของบริษัท</p>

          </div>
          <div class="DIV_ALERT" *ngIf="OTPFail">
            <p>Verify Fail over limited {{OTPCount}}.</p>
          </div>


          <br>
          <hr>
          <p> {{MPAM_WEALTH_CONTACT}} </p>

      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button [routerLink]="['/set-regis2']" >Register again</button> -->
      </mat-card-actions>
    </mat-card>




<div class="row" *ngIf="!(regisFail || OTPFail)">
<!-- <div class="row" > -->
  <!-- <div>
    <p>Regis Fail:{{regisCount}}</p>
  </div>
   -->
  <div class="col-md-6 mx-auto">

    <mat-horizontal-stepper [linear]="isStepperLinear" labelPosition="bottom" #stepper>
      <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">

            <!-- <ng-template matStepLabel>Fill out your info</ng-template> -->
            <ng-template matStepLabel>กรอกข้อมูล</ng-template>

              <div class="STEP1_HEADER div_back">
                  <img src="assets/img/mpam/MPAM_ST_2.png" class="img-fluid" >
                  <p>กรุณากรอกข้อมูลที่ได้ให้ไว้กับบริษัท</p>
              </div>


              <mat-form-field class="col-md-12">
                <input matInput placeholder="เลขประจำตัวประชาชน/ ID card" formControlName="idCard" [(ngModel)]="register.idCard"  required>
            </mat-form-field>

              <mat-form-field class="col-md-12">
                <input matInput placeholder="ชื่อ / First name " formControlName="firstName" [(ngModel)]="register.firstName" required >
            </mat-form-field>

            <mat-form-field class="col-md-12">
              <input matInput placeholder="นามสกุล / Last name " formControlName="lastName" [(ngModel)]="register.lastName"  required>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <input matInput placeholder="โทรศัพท์มือถือ / Mobile Phone " formControlName="mobile" [(ngModel)]="register.mobile"  required>
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <input matInput placeholder="อีเมลล์ / Email " formControlName="email" [(ngModel)]="register.email"  required>

            </mat-form-field>
            <span *ngIf="firstFormGroup.hasError('email', 'email') && firstFormGroup.get('email').touched" class="warningText">
              กรุณากรอกข้อมูลในรูปแบบ email
            </span>

            <div class="recaptcha">
                <recaptcha
                [formControl]="myRecaptcha"
                (scriptLoad)="onScriptLoad()"
                (scriptError)="onScriptError()"
              ></recaptcha>
            </div>
            <hr>
              <div>
                  <!-- <button type="button" class="btn btn-primary" (click)="onRegister(stepper)" >Next</button> -->

                  <button mat-raised-button color="primary" (click)="onRegister(stepper)" [disabled]="!firstFormGroup.valid " >ต่อไป</button>
              </div>
          </form>
      </mat-step>

      <mat-step>

              <!-- <ng-template matStepLabel></ng-template> -->
              <ng-template matStepLabel>ยืนยัน</ng-template>


                  <div class="termCondition">
                      <p id="header">ข้อตกลงและเงื่อนไขของการใช้บริการ Online</p>
                      <p *ngFor="let txt of ST_TermCondition">{{txt}}</p>
                  </div>

              <!-- <mat-checkbox  [(ngModel)]="register.acceptFlag"  (change)="OnConditionChange()"  >Agree to terms and conditions</mat-checkbox> -->
              <mat-checkbox  [(ngModel)]="register.acceptFlag"  (change)="OnConditionChange()" class="blue_txt" >ข้าพเจ้ายอมรับในข้อตกลงและเงื่อนไข</mat-checkbox>

                <div class="row div_otp">

                  <input   type="text" [(ngModel)]="register.otp" class="form-control"  placeholder="OTP" [disabled]="!register.acceptFlag" required>
                  <button  mat-flat-button color="accent" (click)="requestOTP()" [disabled]="!register.acceptFlag" >Request OTP</button>

                   <p>กรุณาระบุรหัสรักษาความปลอดภัย SMS-OTP ที่ได้รับ ภายใน 1 นาที ถ้าไม่ได้รับให้ Request OTP อีกครั้ง </p>
                </div>
              <hr>
              <div>
                  <!-- <button type="button"  class="btn btn-primary" (click)="onProcData(stepper)" [disabled]="!register.acceptFlag || !register.otp ">Done</button> -->
                  <button mat-raised-button color="primary" (click)="onProcData(stepper)" [disabled]="!register.acceptFlag || !register.otp " >ดำเนินการ</button>
              </div>

      </mat-step>

      <mat-step>
          <!-- <ng-template matStepLabel>Finish</ng-template> -->
          <ng-template matStepLabel>จัดส่ง</ng-template>
          <!-- <img  class="img-fluid finalImage" mat-card-image src="assets/img/mpam/AW_2fb-boost-post.jpg" > -->
          <!-- <img  class="img-fluid finalImage" mat-card-image src="assets/img/mpam/AW_2fb-boost-post.jpg" > -->

          <img src="assets/img/mpam/MPAM_ST_2.png" class="img-fluid" >
          <mat-card-content>
            <!-- <div class='div_final'>
              <p>ระบบได้ส่งข้อมูลการเข้าระบบ Streaming For Fund ไปยัง E-mail ของท่านแล้ว </p>
            </div> -->
            <div class='div_final'>

              <h3>บริษัทได้รับข้อมูลของท่านเรียบร้อยแล้ว ดำเนินการจัดส่ง User name และ Password ให้ทางอีเมลล์</h3>
            <!-- <h3>ระบบได้บันทึกข้อมูลเรียบร้อยแล้ว จะส่งอีเมลยืนยันไปให้ท่าน หากท่านไม่ได้รับอีเมล กรุณาติดต่อเบอร์ 02-6606689 หรือ <span class="nowrap">e-mail : wealthservice@merchantasset.co.th</span>></h3> -->
            <!-- <h3>ระบบได้ส่งข้อมูลการเข้าระบบ Streaming For Fund ไปยัง E-mail ของท่านแล้ว</h3> -->
            <br>
            <!-- <h3>ขอขอบพระคุณลูกค้าทุกท่าน สามารถติดตามรายละเอียดเพิ่มเติมได้ที่</h3> -->
            <br>
            <div class="divSameLine">
                <!-- <i class="fas fa-2x fa-globe"></i> -->
                <h4><a href="mailto:wealthservice@merchantasset.co.th">wealthservice@merchantasset.co.th</a></h4>
            </div>
            <div class="divSameLine">
                <!-- <i class="fas fa-2x fa-phone"></i>  -->
                <h4>Wealthservice Tel. 02-6606689</h4>
            </div>

            <div class="divSameLine">
                <i class="fab fa-2x fa-line"></i><img class="lineQR_img" mat-card-image src="assets/img/mpam/mpamLineQR.png" alt="Photo of a Shiba Inu">
            </div>
            </div>
        </mat-card-content>


      </mat-step>
    </mat-horizontal-stepper>

  </div>
</div>

</div>
