
<mat-card class="cust-container" >

  <form [formGroup]="form"  #custForm="ngForm" >
      <mat-card-title>{{userFormService.from_title}} </mat-card-title>

      <div class="row">
          <mat-form-field class="col-md-4">
            <input   matInput formControlName="firstName" placeholder="First name(TH)"
            [(ngModel)]="user.First_Name">
            <mat-error *ngIf="form.get('firstName').invalid">Please enter a first name.</mat-error>
          </mat-form-field>

          <mat-form-field class="col-md-4">
            <input  matInput formControlName="lastName" placeholder="Last name(TH)"
            [(ngModel)]="user.Last_Name">
            <mat-error *ngIf="form.get('lastName').invalid">Please enter a first name.</mat-error>
          </mat-form-field>
        </div>



        <div class="row"  >
            <mat-form-field class="col-md-4">
              <input matInput [matDatepicker]="dobDate" formControlName="dobDate"
                [placeholder]="userFormService.Birth_Day_label"
                [readonly]="true"
               [(ngModel)]="user.Birth_Day">
              <mat-datepicker-toggle matSuffix [for]="dobDate"></mat-datepicker-toggle>
              <mat-datepicker #dobDate disabled="false"></mat-datepicker>
              <mat-error *ngIf="form.get('dobDate').invalid ">Please correct date of birth /Register date</mat-error>
            </mat-form-field>
        </div>

<!--
        <div class="row"  >
            <mat-form-field>
              <input matInput [matDatepicker]="dp3" placeholder="Input disabled" disabled>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
        </div> -->


        <mat-card-actions>
          <!-- <button mat-flat-button class="button_card_action" color="primary" type='submit' *ngIf="!isDisableFields">Submit</button> -->

          <a mat-flat-button class="button_card_action" color="primary" (click)="onSubmit()"  >{{this.userFormService.submit_btn}}</a>
          <!-- <button mat-flat-button class="button_card_action" color="warn" type='reset' *ngIf="!isDisableFields">Reset</button> -->

          <a *ngIf="isDisableFields" class="button_card_action" mat-flat-button color="primary"  (click)="goBack()">
              {{this.userFormService.back_btn}}
          </a>
        </mat-card-actions>

    </form>
</mat-card>
