<div class="container ">
   <div class="row">
      <div class='row '>

          <!-- <section class="example-section">
              <mat-checkbox [(ngModel)]="cddData.ReqModifyFlag"  (change)="modifOnChange(cddData.ReqModifyFlag)"  >{{formService.REQ_MODIFY}}</mat-checkbox>
          </section> -->

      </div>
    </div>

<form [formGroup]="cddFormGroup" class="cddForm">

  <div class='row label_header'>
    <code>
        {{formService.LABEL_PERSON_INFO}}
    </code>
  </div>
<!--
  <div class='row'>
          <mat-radio-group  [(ngModel)]="cddData.identificationCardType"  formControlName="identificationCardType" required>
              <mat-radio-button *ngFor="let cardType of cardTypeList" [value]="cardType.Code">{{cardType.Description}}</mat-radio-button>
          </mat-radio-group>
  </div>

    <div class='row'>
        <mat-form-field class="col-md-4 col-sm-4">
            <input matInput [(ngModel)]="cddData.pid" placeholder={{formService.label_idNumber}}  formControlName="pid"  required>
        </mat-form-field>

        <mat-form-field  *ngIf="isPassportCard()">
                <mat-select [(ngModel)]="cddData.passportCountry" formControlName="passportCountry" placeholder={{formService.label_passCountry}} required >
                  <mat-option *ngFor="let obj of countryList" [value]="obj.Code">
                    {{obj.Eng_Name}}
                  </mat-option>
                </mat-select>
        </mat-form-field>
    </div> -->

    <div class='row'>
        <mat-form-field class="col-md-4 col-sm-4">
            <input matInput [(ngModel)]="cddData.pid" placeholder={{formService.label_idNumber}}  formControlName="pid"  required readonly=true style="color: gray">
        </mat-form-field>
    </div>
    <div class='row'>
        <mat-form-field class="col-md-4">
            <input matInput [(ngModel)]="cddData.PIDExpDate"  [matDatepicker]="expDatePicker" formControlName="PIDExpDate"  placeholder={{formService.label_PIDExpDate}} readonly=true>
            <mat-datepicker-toggle matSuffix [for]="expDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #expDatePicker ></mat-datepicker>
            <mat-error *ngIf="cddFormGroup.get('PIDExpDate').invalid ">Please correct ID expire date</mat-error>
        </mat-form-field>

        <mat-checkbox
        [(ngModel)]="cardNotExpChecked"
        (change)="OnCardNotExpChange($event)"
          formControlName="cardNotExp"  >บัตรตลอดชีพ Not Expired</mat-checkbox>
    </div>

    <div class='row'>
        <mat-form-field class="col-md-4 col-sm-4">
            <mat-select [(ngModel)]="cddData.title" formControlName="title" placeholder={{formService.label_title}} required >
              <mat-option *ngFor="let obj of titleList" [value]="obj.Code">
                  {{obj.Code}}-{{obj.Description}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-4 col-sm-4" *ngIf="isTitleOther()">
            <input matInput [(ngModel)]="cddData.titleOther"  placeholder={{formService.label_other}}  formControlName="titleOth"  required>
        </mat-form-field>
    </div>


    <div class='row'>
        <mat-form-field class="col-md-4" >
            <input matInput [(ngModel)]="cddData.firstName" placeholder="{{formService.label_firstName_th}}  ({{formService.LABEL_thai}})"  formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <input matInput [(ngModel)]="cddData.lastName"  placeholder="{{formService.label_lastName_th}} ({{formService.LABEL_thai}})"  formControlName="lastName"  required>
        </mat-form-field>
    </div>

    <div class='row'>
        <mat-form-field class="col-md-4" >
            <input matInput [(ngModel)]="cddData.firstNameE" placeholder="{{formService.label_firstName_eng}} ({{formService.LABEL_eng}})"  formControlName="firstNameE" required>
        </mat-form-field>
        <mat-form-field class="col-md-4">
            <input matInput [(ngModel)]="cddData.lastNameE"  placeholder="{{formService.label_lastName_eng}} ({{formService.LABEL_eng}})"  formControlName="lastNameE"  required>
        </mat-form-field>
    </div>


    <div class="row" >
        <mat-form-field class="col-md-4">
            <input matInput [(ngModel)]="cddData.dob"  [matDatepicker]="dobDatePicker" formControlName="dob"  placeholder={{formService.label_DOB}} readonly=true>
            <mat-datepicker-toggle matSuffix [for]="dobDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dobDatePicker ></mat-datepicker>
            <mat-error *ngIf="cddFormGroup.get('dob').invalid ">Please correct date of birth</mat-error>
          </mat-form-field>
      </div>

      <!-- <div class="row" >
          <mat-form-field class="col-md-4">
              <input matInput [(ngModel)]="cddData.PIDExpDate"  [matDatepicker]="expDatePicker" formControlName="PIDExpDate"  placeholder={{formService.label_PIDExpDate}} readonly=true>
              <mat-datepicker-toggle matSuffix [for]="expDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #expDatePicker ></mat-datepicker>
              <mat-error *ngIf="cddFormGroup.get('PIDExpDate').invalid ">Please correct ID expire date</mat-error>
            </mat-form-field>
        </div> -->


      <div class='row'>
          <mat-form-field class="col-md-4">
              <input matInput [(ngModel)]="cddData.mobile" placeholder={{formService.label_mobile}}  formControlName="mobile" required>
          </mat-form-field>

          <mat-form-field class="col-md-4">
              <input matInput [(ngModel)]="cddData.email" placeholder={{formService.label_email}}  formControlName="email" required>
          </mat-form-field>
      </div>

      <section>
          <!-- <h5>สถานภาพ Marital Status * </h5> -->
          <div class='row label_header'>
              <code>สถานภาพ (Marital Status)</code>
          </div>

          <div class='row'>
              <section class="example-section" >
                  <mat-radio-group [(ngModel)]="cddData.maritalStatus"  (change)="maritalStatusOnChange(cddData.maritalStatus)" formControlName="maritalStatus">
                      <mat-radio-button class="example-margin" value="Single">โสด Single</mat-radio-button>
                      <mat-radio-button class="example-margin" value="Married">สมรส Married</mat-radio-button>
                      <mat-radio-button class="example-margin" value="Divorced">หย่า Divorced</mat-radio-button>
                      <mat-radio-button class="example-margin" value="Widowhood">หม้าย Widowed</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="cddFormGroup.get('maritalStatus').invalid"> *โปรดเลือก Please choose </mat-error>
                </section>
          </div>

          <div class="div_block" *ngIf="cddData.maritalStatus == 'Married'">

                  <tabset *ngIf="cddData.maritalStatus == 'Married'" >
                    <tab heading= "ข้อมูลคู่สมรส (ถ้ามี) Spouse Information (If any)" >
                      <!-- <app-personal-info #SP [personModel]="cddData.SPpersonModel" [adult]="true" ></app-personal-info> -->

                      <!-- Spouce section -->
                      <div class="row ">
                        <!-- <p>ประเภทบัตร ID Type</p> -->
                        <mat-radio-group class="col-md-4" [(ngModel)]="cddData.SPpersonModel.cardType"  formControlName="spCardType"
                        placeholder="ประเภทบัตร ID Type"   required (change)="CardTypeChange($event)">
                            <mat-radio-button *ngFor="let cardType of cardTypeList" [value]="cardType.Code">{{cardType.Description}}</mat-radio-button>
                        </mat-radio-group>
                      </div>

                      <div class="row" >
                        <mat-form-field  class="col-md-4"  >
                          <input matInput #SPcardNumber [(ngModel)]="cddData.SPpersonModel.cardNumber" placeholder="เลขที่ No"  formControlName="spCardNumber" required
                          (keyup.enter)="cardNumberUpdate(SPcardNumber.value)"
                          (blur)="cardNumberUpdate(SPcardNumber.value)">
                        </mat-form-field>

                        <mat-form-field class="col-md-4 col-sm-4" *ngIf="cddData.SPpersonModel.cardType == 'PASSPORT'" >
                            <mat-select  [(ngModel)]="cddData.SPpersonModel.passportCountry"
                            formControlName="spPassportCountry" placeholder="ประเทศที่ออก Issuing Country" required >
                            <mat-option *ngFor="let obj of countryList" [value]="obj.Code">
                              {{obj.Eng_Name}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>


                      <div class='row'>
                        <mat-form-field class="col-md-4" >
                            <input matInput [(ngModel)]="cddData.SPpersonModel.cardExpDate"  [matDatepicker]="spCardExpDate" formControlName="spCardExpDate"  placeholder="วันหมดอายุ (ค.ศ.) Expire Date" readonly=true>
                            <mat-datepicker-toggle matSuffix [for]="spCardExpDate"></mat-datepicker-toggle>
                            <mat-datepicker #spCardExpDate ></mat-datepicker>
                            <mat-error *ngIf="cddFormGroup.get('spCardExpDate').invalid ">Please correct ID expire date</mat-error>
                        </mat-form-field>

                        <mat-checkbox [(ngModel)]="cddData.SPpersonModel.cardNotExp"
                        (change)="OnSPCardNotExpChange($event)"
                          formControlName="spCardNotExp"  >บัตรตลอดชีพ Not Expired</mat-checkbox>
                      </div>


                      <div class='row'>
                        <mat-form-field class="col-md-4 col-sm-4">
                            <mat-select  [(ngModel)]="cddData.SPpersonModel.title" formControlName="spTitle" placeholder="คำนำหน้า Title" required >
                              <mat-option *ngFor="let obj of titleList" [value]="obj.Code">
                                  {{obj.Code}}-{{obj.Description}}
                              </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <mat-form-field  *ngIf="isSpouceTitleOther()">
                            <input matInput [(ngModel)]="cddData.SPpersonModel.titleOther"  placeholder= "อื่นๆ Other" formControlName="spTitleOther"  required>
                        </mat-form-field>
                      </div>


                      <div class='row'>
                        <mat-form-field class="col-md-4" >
                            <input matInput [(ngModel)]="cddData.SPpersonModel.firstName" placeholder="ชื่อ Name"  formControlName="spFirstName" required>
                        </mat-form-field>
                        <mat-form-field class="col-md-4">
                            <input matInput [(ngModel)]="cddData.SPpersonModel.lastName"  placeholder="นามสกุล Surname"  formControlName="spLastName"  required>
                        </mat-form-field>
                      </div>
                      <!-- Spouce section -->
                    </tab>
                  </tabset>

          </div>
        </section>

        <section>
            <div class='row label_header'>
                <code>จำนวนบุตร หรือบุตรบุญธรรมที่ยังไม่บรรลุนิติภาวะ (อายุไม่ถึง 20 ปี และยังไม่ได้สมรส)</code>
              </div>
              <div class="row">
                  <a id="btn_add_child"  mat-flat-button color="accent" (click)="addChildren()" class ="act_button"> เพิ่มบุตร  Add children ...  </a>
              </div>
              <tabset >
                <tab heading= "บุตร Child {{i+1}}" id="tab{{i}}" *ngFor="let obj of cddData.children;let i = index">
                    <i  id="btn_remove_child" class="fas fa-2x fa-trash-alt" (click)="removeChild(i)"  matTooltip="ลบ Remove...{{i+1}}"></i>
                    <app-personal-info #Child [personModel]="obj" [adult]="false"  ></app-personal-info>
                </tab>
              </tabset>
          </section>


      <div class='row label_header'>
        <code>{{formService.LABEL_BACKGROUND}}</code>
      </div>

      <div class='row'>
              <mat-form-field class="col-md-4">
                  <mat-select [(ngModel)]="cddData.typeBusiness" formControlName="typeBusiness" placeholder={{formService.label_typeBusiness}} required >
                    <mat-option *ngFor="let obj of businessTypeList" [value]="obj.Code">
                      {{obj.Thai_Name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="cddFormGroup.get('typeBusiness').invalid">Please choose one.</mat-error>
                </mat-form-field>

              <mat-form-field class="col-md-4" *ngIf="isBusinessTypeOther()">
                  <input matInput [(ngModel)]="cddData.typeBusiness_Oth" placeholder= {{formService.label_other}}  formControlName="typeBusinessOth" required>
              </mat-form-field>
      </div>

      <div class='row'>
          <mat-form-field class="col-md-4">
              <mat-select [(ngModel)]="cddData.occupation" formControlName="occupation" placeholder={{formService.label_occupation}} required >
                <mat-option *ngFor="let obj of occupationList" [value]="obj.Code">
                  {{obj.Thai_Name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cddFormGroup.get('occupation').invalid">Please choose one.</mat-error>
            </mat-form-field>

          <mat-form-field class="col-md-4" *ngIf="isOccupationOther()" >
              <input matInput [(ngModel)]="cddData.occupation_Oth" placeholder={{formService.label_other}}  formControlName="occupationOth" required>
          </mat-form-field>
       </div>

       <div class='row'>

            <mat-form-field class="col-md-4">
                <mat-select [(ngModel)]="cddData.position" formControlName="position" placeholder= {{formService.label_position}} required >
                  <mat-option *ngFor="let obj of positionList" [value]="obj.Code">
                  {{obj.Thai_Name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="cddFormGroup.get('occupation').invalid">Please choose one.</mat-error>
            </mat-form-field>

            <mat-form-field class="col-md-4" *ngIf="isPositionOther()">
                <input matInput [(ngModel)]="cddData.position_Oth" placeholder= {{formService.label_other}}  formControlName="positionOth" required>
            </mat-form-field>
      </div>

      <div class='row'>
          <!-- {{cddData.incomeLevel}} -->
          <mat-form-field class="col-md-4">
              <mat-select [(ngModel)]="cddData.incomeLevel" formControlName="incomeLevel" placeholder= {{formService.label_incomeLevel}} required >
                <mat-option *ngFor="let obj of incomeList" [value]="obj.Code">
                 {{obj.Thai_Name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cddFormGroup.get('incomeLevel').invalid">Please choose one.</mat-error>
            </mat-form-field>
      </div>

      <!-- {{cddData.incomeSourceList}} -->
      <div class='row'>
            <mat-form-field class="col-md-4">
                <mat-select [(ngModel)]="cddData.incomeSourceList" multiple name="type_list" formControlName="incomeSource" placeholder={{formService.label_incomeSource}} required >
                   <mat-option *ngFor="let obj of incomeSourceList" [value]="obj.Code">
                    {{obj.Thai_Name}}
                </mat-option>
                </mat-select>
                <mat-error *ngIf="cddFormGroup.get('incomeSource').invalid">Please choose one.</mat-error>
            </mat-form-field>


            <!-- <mat-form-field class="col-md-4">
              <mat-select [(ngModel)]="cddData.incomeSource" formControlName="incomeSource" placeholder={{formService.label_incomeSource}} required >
                <mat-option *ngFor="let obj of incomeSourceList" [value]="obj.Code">
                    {{obj.Thai_Name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="cddFormGroup.get('incomeSource').invalid">Please choose one.</mat-error>
            </mat-form-field> -->

          <mat-form-field class="col-md-4" *ngIf="isIncomeSource()">
              <input matInput [(ngModel)]="cddData.incomeSource_Oth" placeholder={{formService.label_other}}  formControlName="incomeSourceOth" required>
          </mat-form-field>

      </div>

      <div class='row'>
          <mat-form-field class="col-md-4">
              <input matInput [(ngModel)]="cddData.workPlace" placeholder= {{formService.label_workPlace}}  formControlName="workPlace" required>
          </mat-form-field>
      </div>


      <section>
          <p>คำสั่งสำหรับหักภาษี ณ ที่จ่ายสำหรับเงินปันผล * </p>
          <div class='row'>
              <section class="example-section" >
                  <mat-radio-group [(ngModel)]="cddData.taxDeduction"   formControlName="taxDeduction">
                      <mat-radio-button class="example-margin" value="Y">ยินยอม  Consent</mat-radio-button>
                      <mat-radio-button class="example-margin" value="N">ไม่ยินยอม   Do not consent</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="cddFormGroup.get('taxDeduction').invalid"> *โปรดเลือก Please choose </mat-error>
                </section>
          </div>
        </section>

      <section>
          <p>ท่านเคยมีประวัติการกระทำผิดกฎหมายฟอกเงินหรือไม่ * </p>
          <div class='row'>
              <section class="example-section" >
                  <mat-radio-group [(ngModel)]="cddData.moneyLaundaring"   formControlName="moneyLaundaring">
                      <mat-radio-button class="example-margin" value="Y">ใช่ Yes</mat-radio-button>
                      <mat-radio-button class="example-margin" value="N">ไม่ใช่ No</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="cddFormGroup.get('moneyLaundaring').invalid"> *โปรดเลือก Please choose </mat-error>
                </section>
          </div>
      </section>

      <section>
          <p>ท่านเป็นนักการเมืองหรือเกี่ยวข้องกับนักการเมือง หรือบุคคลที่มีสถานภาพทางการเมืองหรือไม่ * </p>
          <div class='row'>
              <section class="example-section" >
                  <mat-radio-group [(ngModel)]="cddData.politicalRelate"   formControlName="politicalRelate">
                      <mat-radio-button class="example-margin" value="Y">ใช่ Yes</mat-radio-button>
                      <mat-radio-button class="example-margin" value="N">ไม่ใช่ No</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="cddFormGroup.get('politicalRelate').invalid"> *โปรดเลือก Please choose </mat-error>
                </section>
          </div>
      </section>

      <section>
          <p>ท่านเคยถูกปฏิเสธการรับทำธุรกรรมทางการเงินจากสถาบันทางการเงินอื่นหรือไม่ * </p>
          <div class='row'>
              <section class="example-section" >
                  <mat-radio-group [(ngModel)]="cddData.rejectFinancial"   formControlName="rejectFinancial">
                      <mat-radio-button class="example-margin" value="Y">ใช่ Yes</mat-radio-button>
                      <mat-radio-button class="example-margin" value="N">ไม่ใช่ No</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="cddFormGroup.get('rejectFinancial').invalid"> *โปรดเลือก Please choose </mat-error>
                </section>
          </div>
      </section>
  </form>
</div>
