
  @media all and (min-width:768px){
    /* put your css styles in here */
  }

  .example-radio-group {
    display: block;
    flex-direction: column;
    margin: 15px 0;
  }

  .example-radio-button {
    margin: 5px;
    margin-left: 10px;
  }

  .newLine{
    display: block;
  }

  .card-header button{
    position: absolute;
    right: 5%;
  }
