
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h4>1. Personal Information {{fcIndCustomer.accountType}}
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Show/Hide
              </button></h4>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <form [formGroup]="indCustFormGroup" class="form_section">

                  <!-- <New line>-->
                  <div class="newLine">
                  <mat-form-field class="col-md-4">
                    <mat-select formControlName="identificationCardType" placeholder="identificationCardType" [(ngModel)]="fcIndCustomer.identificationCardType"
                    required  [disabled]="true">
                      <mat-option *ngFor="let obj of shareDataService.CardTypeList" [value]="obj.value">
                          {{obj.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="indCustFormGroup.get('identificationCardType').invalid">Require this field</mat-error>
                  </mat-form-field>

                  <mat-form-field class="col-md-4"  *ngIf="isPassport()" >
                    <mat-select formControlName="passportCountry" placeholder="Country" [(ngModel)]="fcIndCustomer.passportCountry"
                    required>
                    <mat-option [value]="">Please choose</mat-option>
                      <mat-option *ngFor="let obj of shareDataService.CountryList" [value]="obj.value">
                          {{obj.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="indCustFormGroup.get('passportCountry').invalid">Require this field</mat-error>
                  </mat-form-field>
                </div>

                    <div class="newLine">
                      <mat-form-field class="col-md-4" >
                        <input matInput [(ngModel)]="fcIndCustomer.cardNumber" formControlName="cardNumber"  placeholder="cardNumber"   required   maxlength="13" [readonly]="true" >
                        <mat-error *ngIf="indCustFormGroup.get('cardNumber').invalid">Require this field</mat-error>
                        <!-- <button mat-button *ngIf="fcIndCustomer.cardNumber" matSuffix mat-icon-button aria-label="Clear" (click)="fcIndCustomer.cardNumber=''">
                            <mat-icon>close</mat-icon>
                        </button> -->
                    </mat-form-field>
                  </div>

                  <div class="newLine">
                    <mat-checkbox  class="col-md-6 "(change)="OnCardNotExpChange($event)" >บัตรตลอดชีพ Not Expired {{fcIndCustomer.cardNotExp}}</mat-checkbox>

                    <mat-form-field class="col-md-4">
                        <input matInput [matDatepicker]="picker" [disabled]="fcIndCustomer.cardNotExp === 'Y'" [(ngModel)]="fcIndCustomer.cardExpiryDate" formControlName="cardExpiryDate"  placeholder="Choose cardExpiryDate" required>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker touchUi="true"></mat-datepicker>
                        <mat-error *ngIf="indCustFormGroup.get('cardExpiryDate').invalid">Require this field</mat-error>
                    </mat-form-field>
                  </div>

                <mat-form-field class="col-md-4">
                  <mat-select formControlName="gender" placeholder="gender" [(ngModel)]="fcIndCustomer.gender"
                  required>
                    <mat-option *ngFor="let obj of shareDataService.GenderList" [value]="obj.value">
                        {{obj.text}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="indCustFormGroup.get('gender').invalid">Require this field</mat-error>
                </mat-form-field>

                <!-- <New line>-->
              <div class="newLine">
                <mat-form-field class="col-md-4">
                  <mat-select formControlName="title" placeholder="title" [(ngModel)]="fcIndCustomer.title"
                  required >
                    <mat-option *ngFor="let obj of shareDataService.TitleList" [value]="obj.value">
                        {{obj.text}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="indCustFormGroup.get('title').invalid"  >Require this field</mat-error>
                </mat-form-field>

                <mat-form-field class="col-md-4" *ngIf="isTitleOther()" >
                  <input matInput formControlName="titleOther"  [(ngModel)]="fcIndCustomer.titleOther" placeholder="titleOther"  >
                  <button mat-button *ngIf="fcIndCustomer.titleOther" matSuffix mat-icon-button aria-label="Clear" (click)="fcIndCustomer.titleOther=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  <mat-error *ngIf="indCustFormGroup.get('titleOther').invalid">Require this field</mat-error>
                </mat-form-field>
              </div>
              <!-- <New line>-->
              <mat-form-field class="col-md-4" >
                <input matInput [(ngModel)]="fcIndCustomer.thFirstName" placeholder="{{formService.thFirstName}}"  formControlName="thFirstName" required>
                <button mat-button *ngIf="fcIndCustomer.thFirstName" matSuffix mat-icon-button aria-label="Clear" (click)="fcIndCustomer.thFirstName=''">
                    <mat-icon>close</mat-icon>
                  </button>
                <mat-error *ngIf="indCustFormGroup.get('thFirstName').invalid">Require this field</mat-error>
            </mat-form-field>
            <mat-form-field class="col-md-4">
                <input matInput [(ngModel)]="fcIndCustomer.thLastName"  placeholder="{{formService.thLastName}}" formControlName="thLastName"  required>
                <button mat-button *ngIf="fcIndCustomer.thLastName" matSuffix mat-icon-button aria-label="Clear" (click)="fcIndCustomer.thLastName=''">
                    <mat-icon>close</mat-icon>
                  </button>
                <mat-error *ngIf="indCustFormGroup.get('thLastName').invalid">Require this field</mat-error>
            </mat-form-field>

            <!-- <New line>-->
              <div class="newLine">
                <mat-form-field class="col-md-4 " >
                  <input matInput [(ngModel)]="fcIndCustomer.enFirstName" placeholder="enFirstName"  formControlName="enFirstName" required>
                  <button mat-button *ngIf="fcIndCustomer.enFirstName" matSuffix mat-icon-button aria-label="Clear" (click)="fcIndCustomer.enFirstName=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  <mat-error *ngIf="indCustFormGroup.get('enFirstName').invalid">Require this field</mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-4">
                  <input matInput [(ngModel)]="fcIndCustomer.enLastName"  placeholder="enLastName" formControlName="enLastName"  required>
                  <button mat-button *ngIf="fcIndCustomer.enLastName" matSuffix mat-icon-button aria-label="Clear" (click)="fcIndCustomer.enLastName=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  <mat-error *ngIf="indCustFormGroup.get('enLastName').invalid">Require this field</mat-error>
              </mat-form-field>
              </div>

            <!-- <New line>-->
              <div class="newLine">
                <mat-form-field class="col-md-4" >
                  <input type="number"  matInput [(ngModel)]="fcIndCustomer.mobileNumber" placeholder="mobileNumber"  formControlName="mobileNumber" required>
                  <button mat-button *ngIf="fcIndCustomer.mobileNumber" matSuffix mat-icon-button aria-label="Clear" (click)="fcIndCustomer.mobileNumber=''">
                      <mat-icon>close</mat-icon>
                    </button>
                  <mat-error *ngIf="indCustFormGroup.get('mobileNumber').invalid">Require this field</mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-4">
                  <input matInput [(ngModel)]="fcIndCustomer.email"  placeholder="email" formControlName="email"  [errorStateMatcher]="matcher" required>
                  <button mat-button *ngIf="fcIndCustomer.email" matSuffix mat-icon-button aria-label="Clear" (click)="fcIndCustomer.email=''">
                      <mat-icon>close</mat-icon>
                    </button>
                    <mat-hint>Example  xxxx@yyyy.com</mat-hint>
                     <mat-error >
                        Email is <strong>required</strong>
                      </mat-error>
              </mat-form-field>
              </div>


            <!-- <New line>-->
              <div class="newLine">
                <mat-form-field class="col-md-4">
                  <input matInput [matDatepicker]="birthDatepicker" [(ngModel)]="fcIndCustomer.birthDate" formControlName="birthDate"  placeholder="Choose birthDate" required>
                  <mat-datepicker-toggle matSuffix [for]="birthDatepicker"></mat-datepicker-toggle>
                  <mat-datepicker #birthDatepicker touchUi="true"></mat-datepicker>
                  <mat-error *ngIf="indCustFormGroup.get('birthDate').invalid">Require this field</mat-error>
              </mat-form-field>

              <mat-form-field class="col-md-4">
                  <mat-select formControlName="nationality" placeholder="Nationality" [(ngModel)]="fcIndCustomer.nationality" >
                    <mat-option *ngFor="let obj of shareDataService.nationList" [value]="obj.Nation_Code">
                      {{obj.Nation_Desc}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="indCustFormGroup.get('nationality').invalid">Require this field</mat-error>
                </mat-form-field>
              </div>


              <!-- <New line>-->
                <div class="newLine">
                  <mat-form-field class="col-md-4 ">
                    <mat-select formControlName="maritalStatus" placeholder="maritalStatus" [(ngModel)]="fcIndCustomer.maritalStatus"
                    required>
                      <mat-option *ngFor="let obj of shareDataService.MaritalStatusList" [value]="obj.value">
                          {{obj.text}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="indCustFormGroup.get('maritalStatus').invalid">Require this field</mat-error>
                  </mat-form-field>
                </div>

                <div class="div_block" *ngIf="fcIndCustomer.maritalStatus == 'Married'">
                  <tabset *ngIf="fcIndCustomer.maritalStatus == 'Married'" >
                    <tab heading= "ข้อมูลคู่สมรส (ถ้ามี) Spouse Information (If any)" >

                      <!-- Spouce section -->
                    <!-- <New line>-->
                      <div class="row">
                        <mat-form-field class="col-md-4">
                          <mat-select formControlName="spCardType" placeholder="identificationCardType" [(ngModel)]="fcIndCustomer.spouse.cardType">
                            <mat-option *ngFor="let obj of shareDataService.CardTypeList" [value]="obj.value">
                                {{obj.text}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="indCustFormGroup.get('spCardType').invalid">Require this field</mat-error>
                        </mat-form-field>


                        <mat-form-field class="col-md-4"  *ngIf="isSpoucePassport()" >
                          <mat-select formControlName="spPassportCountry" placeholder="Country" [(ngModel)]="fcIndCustomer.spouse.passportCountry"
                          required>
                          <mat-option [value]="">Please choose</mat-option>
                            <mat-option *ngFor="let obj of shareDataService.CountryList" [value]="obj.value">
                                {{obj.text}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="indCustFormGroup.get('spPassportCountry').invalid">Require this field</mat-error>
                        </mat-form-field>
                      </div>

                      <div class='row'>
                        <mat-form-field class="col-md-4" >
                            <input matInput formControlName="spCardNumber" [(ngModel)]="fcIndCustomer.spouse.cardNumber" placeholder="cardNumber"   required>
                        </mat-form-field>

                      </div>

                      <div class="newLine">
                        <mat-checkbox  class="col-md-4 "(change)="OnSPCardNotExpChange($event)" >บัตรตลอดชีพ Not Expired </mat-checkbox>

                        <mat-form-field class="col-md-4">
                            <input matInput formControlName="spCardExpDate" [disabled]="fcIndCustomer.spouse.cardNotExp === 'Y'" [matDatepicker]="spCardExpDate" [(ngModel)]="fcIndCustomer.spouse.cardExpDate"   placeholder="Choose cardExpiryDate" readonly=true>
                            <mat-datepicker-toggle matSuffix [for]="spCardExpDate"></mat-datepicker-toggle>
                            <mat-datepicker #spCardExpDate touchUi="true"></mat-datepicker>
                        </mat-form-field>
                      </div>

                      <div class='row'>
                        <mat-form-field class="col-md-4 col-sm-4">
                            <mat-select  formControlName="spTitle" [(ngModel)]="fcIndCustomer.spouse.title"  placeholder="คำนำหน้า Title" required >
                              <mat-option *ngFor="let obj of shareDataService.TitleList" [value]="obj.value">
                                {{obj.text}}
                            </mat-option>
                            </mat-select>

                        </mat-form-field>

                        <mat-form-field  *ngIf="isSpouceTitleOther()">
                            <input matInput formControlName="spTitleOther"  [(ngModel)]="fcIndCustomer.spouse.titleOther"  placeholder= "อื่นๆ Other">
                        </mat-form-field>
                      </div>

                      <div class='row'>
                        <mat-form-field class="col-md-4" >
                            <input matInput formControlName="spFirstName" [(ngModel)]="fcIndCustomer.spouse.firstName" placeholder="ชื่อ Name"   required>
                        </mat-form-field>
                        <mat-form-field class="col-md-4">
                            <input matInput formControlName="spLastName" [(ngModel)]="fcIndCustomer.spouse.lastName"  placeholder="นามสกุล Surname"    required>
                        </mat-form-field>
                      </div>
                      <div class='row'>
                        <mat-form-field class="col-md-4" >
                            <input matInput formControlName="spTelephone"  [(ngModel)]="fcIndCustomer.spouse.phoneNumber" placeholder="Telephone"  >
                        </mat-form-field>

                      </div>
                      <!-- Spouce section -->
                    </tab>
                  </tabset>
                </div>

                <section >
                    <span class="label_title"><h5>จำนวนบุตร หรือบุตรบุญธรรมที่ยังไม่บรรลุนิติภาวะ (อายุไม่ถึง 20 ปี และยังไม่ได้สมรส)</h5></span>

                    <div class="row">
                        <a  id="btn_add_child"  mat-flat-button color="accent" (click)="addChildren()" class ="act_button"> เพิ่มบุตร  Add children ...  </a>
                    </div>
                    <tabset >
                      <tab heading= "บุตร Child {{i+1}}" id="tab{{i}}" *ngFor="let obj of fcIndCustomer.children;let i = index">
                          <i  id="btn_remove_child" class="far fa-2x fa-times-circle" (click)="removeChild(i)"  matTooltip="ลบ Remove...{{i+1}}"></i>

                          <app-personal-info #Child [personModel]="obj" [adult]="false"  ></app-personal-info>
                      </tab>
                    </tabset>
                </section>

                </form>
            </div>
          </div>
        </div>
    </div>



