<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Download API</mat-card-title>
        <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
      </mat-card-header>

    <form [formGroup]="downloadForm" (submit)="downloadExe()" #custForm="ngForm" *ngIf="!spinnerLoading">

        <mat-form-field class="row">
            <mat-select formControlName="fileType"  [(ngModel)]="fcdownloadAPI.fileType" placeholder="Download File type">
            <mat-option *ngFor="let item of fileTypeList" [value]="item.value">{{item.display}}</mat-option>
              </mat-select>
          </mat-form-field>

          <div class="row">
              <mat-form-field>
                <input matInput formControlName="businessDate"  [matDatepicker]="picker" placeholder="business Date" (dateChange)="onChangeDate($event)"
                [(ngModel)]="fcdownloadAPI.businessDate">
                <mat-datepicker-toggle matSuffix [for]="picker"  >
                  <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
          </div>
          <div class="row col-sm-6">
              <button mat-raised-button color="primary" [disabled]="!downloadForm.valid"  >Execute</button>
          </div>
      </form>
      <hr>
      <div class='row'>
        <label>Result</label>
        <hr>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [disabled]="!canExeBtn">
            <mat-button-toggle value="bold">Excel</mat-button-toggle>
            <mat-button-toggle value="italic">View data</mat-button-toggle>
          </mat-button-toggle-group>
      </div>
</mat-card>

