<div class="row">
  <div class="col-md-12">

    <a mat-button  [routerLink]="['/trade/CRM-Task','','ACT_DASHBOARD']"  routerLinkActive="mat-accent" matTooltip="New Task">
      <i class="fas fa-user-plus fa-2x" ></i>
    </a>

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Dashboard">

        <div class="col-md-12">
          <canvas baseChart class="chart col-md-6"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
       </div>

  </mat-tab>

  <!-- Calendar -->
  <mat-tab label="Calendar">
      <app-crm-act-calendar></app-crm-act-calendar>

 </mat-tab>
</mat-tab-group>

</div>
</div>
