<form class="example-form">

<mat-card class="cust-container" >

  <mat-card-title>CRM Activity</mat-card-title>
     <!-- CustomerGroup -->
  <mat-form-field class="example-full-width">
    <mat-label>ประเภท Activity</mat-label>
    <mat-select >
        <mat-option  *ngFor="let obj of actTypeList" [value]="obj.code">
          {{obj.desc}}
        </mat-option>
      </mat-select>
    <!-- <mat-error *ngIf="form.get('status').invalid">Please choose status.</mat-error> -->
  </mat-form-field>


  <mat-card-actions>
    <button mat-button (click)="onSave()" >SAVE</button>
    <button mat-button>CLOSE</button>
  </mat-card-actions>

  </mat-card>
</form>

<!-- <form [formGroup]="ownerForm" autocomplete="off" novalidate (ngSubmit)="createOwner(ownerForm.value)" fxLayout="column wrap"
      fxLayoutAlign="center center" fxLayoutGap="10px"> -->

<form class="example-form" autocomplete="off" novalidate [formGroup]="contactForm">
  <mat-card class="cust-container" >
    <h2>Contact Customer</h2>
<!--
  CONTACT
  contactCustAct={contactChannel:'',dateTime:'',prod:'',contactResult:'',nextTime:'',note:''}
   -->
   <div class ='contact_class'>
    <mat-label>Contact Channel</mat-label>
    <section class="example-full-width">
      <mat-radio-group formControlName="contactChannel"  id="contactChannel" [(ngModel)]="contactCustAct.contactChannel" required>
        <mat-radio-button class="example-margin"  *ngFor="let obj of contactChannelList" [value]="obj.code">{{obj.desc}}</mat-radio-button>
      </mat-radio-group>
      <mat-error *ngIf="contactForm.controls['contactChannel'].hasError('required')  &&
      contactForm.get('contactChannel').touched">Please choose Contact Channel 2.</mat-error>

   <!-- <mat-error *ngIf="hasError('contactChannel', 'required')">Contact Channel is <strong>required</strong> </mat-error> -->

    </section>

    <mat-form-field class="example-full-width">
      <mat-label>Contact Date</mat-label>
      <input matInput [matDatepicker]="contactDate"
      formControlName="contactDate"  [(ngModel)]="contactCustAct.contactDate"
        placeholder="DOB"
        [readonly]="true" >
      <mat-datepicker-toggle matSuffix [for]="contactDate"></mat-datepicker-toggle>
      <mat-datepicker #contactDate disabled="false"></mat-datepicker>
      <!-- <mat-error *ngIf="form.get('contactDate').invalid ">Please correct date expire date</mat-error> -->

      <mat-error *ngIf="contactForm.controls['contactDate'].hasError('required')  &&
      contactForm.get('contactDate').touched">Please choose Contact Channel 2.</mat-error>

      <mat-hint align="end">Not more then 100 characters long.</mat-hint>
    </mat-form-field>

      <section class="example-full-width">
        <mat-label>Product Group</mat-label>
        <mat-radio-group #prodCat formControlName="prodCat"  [(ngModel)]="contactCustAct.prodCat">
          <mat-radio-button class="example-margin"  *ngFor="let obj of prodGroupList" [value]="obj.code">{{obj.desc}}</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="contactForm.get('prodCat').invalid">Please choose Product Group.</mat-error>

      </section>


      <mat-form-field class="example-full-width">
        <mat-label>Product Name</mat-label>
        <mat-select formControlName="product"  [(ngModel)]="contactCustAct.product">
            <mat-option  *ngFor="let obj of ProductList" [value]="obj.code">
              {{obj.desc}}
            </mat-option>
          </mat-select>
        <!-- <mat-error *ngIf="form.get('status').invalid">Please choose status.</mat-error> -->
      </mat-form-field>

    <section class="example-full-width">
      <mat-label>Contact Result</mat-label>
      <mat-radio-group formControlName="contactResult"  [(ngModel)]="contactCustAct.contactResult" >
        <mat-radio-button class="example-margin"  *ngFor="let obj of contactResult" [value]="obj.code">{{obj.desc}}</mat-radio-button>
      </mat-radio-group>
    </section>

    <mat-form-field class="example-full-width">
      <mat-label>Next Deal Date</mat-label>
      <input matInput
      formControlName="nextTime"  [(ngModel)]="contactCustAct.nextTime"
      [matDatepicker]="nextDate"
        placeholder="DOB"
        [readonly]="true" >
      <mat-datepicker-toggle matSuffix [for]="nextDate"></mat-datepicker-toggle>
      <mat-datepicker #nextDate disabled="false"></mat-datepicker>
      <!-- <mat-error *ngIf="form.get('nextDate').invalid ">Please correct date expire date</mat-error> -->
    </mat-form-field>

    <!-- InvestCondition -->
    <mat-form-field class="example-full-width">
      <mat-label>Note
      </mat-label>
      <textarea matInput formControlName="note"  [(ngModel)]="contactCustAct.note" placeholder="Note" ></textarea>
      <mat-error *ngIf="contactForm.controls['note'].hasError('required')  &&
      contactForm.get('note').touched">Please entry note.</mat-error>
    </mat-form-field>
    </div>
  <!--
    CONTACT
  -->
</mat-card>
</form>

<!--
  MEET CUSTTOMER
  meetCustAct={datetime:dd/mm/yyyy hh:mm,locate:xxxx, Note:xxxx,}
   -->
<form class="example-form">
  <mat-card class="cust-container" >
   <div class ='contact_class'>
    <h2>Meet Customer</h2>

    <mat-form-field class="example-full-width">
      <mat-label>Contact Date</mat-label>
      <input matInput [matDatepicker]="meetDate"
        placeholder="Contact Date"
        [readonly]="true" >
      <mat-datepicker-toggle matSuffix [for]="meetDate"></mat-datepicker-toggle>
      <mat-datepicker #meetDate disabled="false"></mat-datepicker>
      <!-- <mat-error *ngIf="form.get('contactDate').invalid ">Please correct date expire date</mat-error> -->
    </mat-form-field>

    <!-- Locate -->
    <mat-form-field class="example-full-width">
      <mat-label>Locate
      </mat-label>
      <textarea matInput placeholder="Locate"></textarea>
    </mat-form-field>

    <!-- note -->
    <mat-form-field class="example-full-width">
      <mat-label>Note
      </mat-label>
      <textarea matInput placeholder="Note"></textarea>
    </mat-form-field>
    </div>
  <!--
    CONTACT
  -->
</mat-card>
</form>

<!--
  *********************  Appointment
  appointmentAct={subject:xxxx,startTime:dd/mm/yyyy hh:mm,endTime:dd/mm/yyyy hh:mm, Note:xxxx,allDay:Y/N,}
   -->
   <form class="example-form">
    <mat-card class="cust-container" >
     <div class ='contact_class'>
      <h2>Appointment</h2>

      <mat-form-field class="example-full-width">
        <mat-label>Contact Date</mat-label>
        <input matInput [matDatepicker]="appointStartDate"
          placeholder="Contact Date"
          [readonly]="true" >
        <mat-datepicker-toggle matSuffix [for]="appointStartDate"></mat-datepicker-toggle>
        <mat-datepicker #appointStartDate disabled="false"></mat-datepicker>
        <!-- <mat-error *ngIf="form.get('contactDate').invalid ">Please correct date expire date</mat-error> -->
      </mat-form-field>


      <section class="example-section">
        <mat-checkbox class="example-margin">All day</mat-checkbox>
      </section>

      <!-- note -->
      <mat-form-field class="example-full-width">
        <mat-label>Note
        </mat-label>
        <textarea matInput placeholder="Note"></textarea>
      </mat-form-field>
      </div>
  </mat-card>
  </form>
    <!--
      Appointment
    -->

   <!--
  *********************  OFFER
   Offer{product:xxxx,offerResult:xxxx,value:yyyy,amount:xxxx,note:xxxx,offerDate}
   -->
   <form class="example-form">
    <mat-card class="cust-container" >
     <div class ='contact_class'>
      <h2>Offer</h2>

      <mat-form-field class="example-full-width">
        <mat-label>Product</mat-label>
        <mat-select >
            <mat-option  *ngFor="let obj of ProductList" [value]="obj.code">
              {{obj.desc}}
            </mat-option>
          </mat-select>
        <!-- <mat-error *ngIf="form.get('status').invalid">Please choose status.</mat-error> -->
      </mat-form-field>

      <section class="example-full-width">
        <mat-label>Offer Result</mat-label>
        <mat-radio-group >
          <mat-radio-button class="example-margin"  *ngFor="let obj of offerResult" [value]="obj.code">{{obj.desc}}</mat-radio-button>
        </mat-radio-group>
      </section>

      <mat-form-field class="example-full-width">
        <!-- <mat-label>FirstName</mat-label> -->
        <input matInput type="number" placeholder="Amount" value="0">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <!-- <mat-label>FirstName</mat-label> -->
        <input matInput type="number" placeholder="Volumn" value="0">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Offer Date</mat-label>
        <input matInput [matDatepicker]="offerDate"
          placeholder="Offer Date 2"
          [readonly]="true" >
        <mat-datepicker-toggle matSuffix [for]="offerDate"></mat-datepicker-toggle>
        <mat-datepicker #offerDate disabled="false"></mat-datepicker>
        <!-- <mat-error *ngIf="form.get('contactDate').invalid ">Please correct date expire date</mat-error> -->
      </mat-form-field>

      <!-- note -->
      <mat-form-field class="example-full-width">
        <mat-label>Note
        </mat-label>
        <textarea matInput placeholder="Note"></textarea>
      </mat-form-field>
      </div>
  </mat-card>
  </form>
    <!--
      OFFER
    -->

  <!--
  *********************  Order
   Offer{product:xxxx,value:yyyy,amount:xxxx,note:xxxx,orderDate}
   -->
   <form class="example-form">
    <mat-card class="cust-container" >
     <div class ='contact_class'>
      <h2>Order</h2>

      <mat-form-field class="example-full-width">
        <mat-label>Product</mat-label>
        <mat-select >
            <mat-option  *ngFor="let obj of ProductList" [value]="obj.code">
              {{obj.desc}}
            </mat-option>
          </mat-select>
        <!-- <mat-error *ngIf="form.get('status').invalid">Please choose status.</mat-error> -->
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <!-- <mat-label>FirstName</mat-label> -->
        <input matInput type="number" placeholder="Amount" value="0">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <!-- <mat-label>FirstName</mat-label> -->
        <input matInput type="number" placeholder="Volumn" value="0">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Order Date</mat-label>
        <input matInput [matDatepicker]="orderDate"
          placeholder="Order Date 2"
          [readonly]="true" >
        <mat-datepicker-toggle matSuffix [for]="orderDate"></mat-datepicker-toggle>
        <mat-datepicker #orderDate disabled="false"></mat-datepicker>
        <!-- <mat-error *ngIf="form.get('contactDate').invalid ">Please correct date expire date</mat-error> -->
      </mat-form-field>

      <!-- note -->
      <mat-form-field class="example-full-width">
        <mat-label>Note
        </mat-label>
        <textarea matInput placeholder="Note"></textarea>
      </mat-form-field>
      </div>
  </mat-card>
  </form>
    <!--
      Order
    -->
