.button_card_action {
  margin-left: 10px;
}

.full-container > * {
  width: 100%;
}

input[type=file] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
