

<mat-card class="col-md-6 mx-auto" >
  <!-- <img mat-card-image src="assets/img/mpam/AW_3fb-click.jpg"  alt="Photo of a Shiba Inu"> -->
  <img mat-card-image src="assets/img/mpam/MPAM_ST4.png" >
  <mat-card-content>

    <!-- <div  class="col-md-6 mx-auto div_welcome"> -->
    <div  class="mx-auto div_welcome">

      <!-- <p>Welcome to Streaming For Fund</p>
      <p>เทรดกองทุนออนไลน์…สะดวก “Streaming for fund”</p> -->
      <p>เปิดประสบการณ์ใหม่ ซื้อ-ขาย กองทุนรวมผ่าน <span class="nowrap">“Streaming for fund”  </span></p>


      <!-- <a class="btn" [routerLink]="['/set-regis2']" matTooltip="Click here" >ลูกค้าปัจจุบัน</a> -->
      <a [routerLink]="['/set-regis2']" class="btn btn-primary btn-lg active col-md-12" role="button" aria-pressed="true">ลูกค้าปัจจุบัน</a>
      <!-- <a class="btn" [routerLink]="['/set-regis']" matTooltip="คลิ๊ก สำหรับลูกค้าใหม่" >ลูกค้าใหม่</a> -->
      <a [routerLink]="['/set-regis']" class="btn btn-primary btn-lg active col-md-12" role="button" aria-pressed="true">ลูกค้าใหม่</a>

    </div>

  </mat-card-content>
  <!-- <mat-card-actions>
    <button mat-button [routerLink]="['/set-regis2']" >Register again</button>
  </mat-card-actions> -->
</mat-card>
