
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">

      <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <!-- 1 st -->
        <mat-step [stepControl]="firstFormGroup">

          <form [formGroup]="firstFormGroup" class="col-md-6">
            <ng-template matStepLabel>Identify</ng-template>

            <mat-form-field >
              <input matInput placeholder="ID card" formControlName="identifier" [(ngModel)]="openAccount.identifier"  >
            </mat-form-field>

            <div>
                <button type="button" class="btn btn-success" matStepperNext >Next</button>
            </div>

          </form>
        </mat-step>
        <!-- VERIFY -->
        <mat-step >
            <ng-template matStepLabel>Verify indentify</ng-template>

            <div>
                <button type="button" class="btn btn-secondary" matStepperPrevious >Back</button>
                <button type="button" class="btn btn-success" matStepperNext >Next</button>
            </div>
        </mat-step>

        <!-- FILL FORM -->
        <mat-step [stepControl]="fillFormGroup">

          <form [formGroup]="fillFormGroup">
            <ng-template matStepLabel>Complete form</ng-template>

                <mat-form-field class="col-md-6">
                    <input matInput placeholder="ID card" formControlName="identifier" [(ngModel)]="openAccount.identifier"  >
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput placeholder="Title" formControlName="title" [(ngModel)]="openAccount.title"  >
                </mat-form-field>

                <mat-form-field class="col-md-6">
                    <input matInput placeholder="Full name" formControlName="firstName" [(ngModel)]="openAccount.firstName"  >
                </mat-form-field>

                <mat-form-field class="col-md-6">
                  <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="openAccount.lastName"  >
                </mat-form-field>

            <mat-form-field class="col-md-6">
                <input matInput placeholder="Sex" formControlName="sex" [(ngModel)]="openAccount.sex"  >
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <input matInput placeholder="Date of birth" formControlName="dob" [(ngModel)]="openAccount.dob"  >
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <input matInput placeholder="Issue date" formControlName="dob" [(ngModel)]="openAccount.cardIssueDate"  >
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <input matInput placeholder="Expire date" formControlName="dob" [(ngModel)]="openAccount.cardExpDate"  >
            </mat-form-field>

            <mat-form-field class="col-md-6">
                <input matInput placeholder="Nationality" formControlName="nationality" [(ngModel)]="openAccount.nationality"  >
            </mat-form-field>

            <div>
                <button type="button" class="btn btn-secondary" matStepperPrevious >Back</button>
                <button type="button" class="btn btn-success" matStepperNext >Next</button>
            </div>
          </form>

        </mat-step>

        <!-- SUBMIT -->
        <mat-step>
          <ng-template matStepLabel>Submit</ng-template>
          You are now done.
          <div>
              <button type="button" class="btn btn-secondary" matStepperPrevious >Back</button>
              <button type="button" class="btn btn-success" matStepperNext >Submit</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </div>
  </div>
</div>
