mat-radio-button{
  margin-left: 15px;
}

.container {
  margin: auto;
  margin-top: 10px;
}

.input-group {
  margin-top: 10px;
}

button{
  margin-left: 10px;
}

.step_actin_bar{
  margin-top: 20px;
}

.label_title h5{
  // color: darkslateblue;
  margin-top: 15px;
}

.fa-color{
  color: darkorange;
}

th{
  text-align: center;
}

.td_center{
  text-align: center;
}
i{
  margin-left: 10px;
}

.table100{
  width: 100%;
}
.sameline{
  display: inline-flex;
  margin-bottom: 15px;;
}
.sameline a {
  margin-left: 20px;
}
