mat-radio-button{
  margin-left: 15px;
}

mat-spinner {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}


.container {
  margin: auto;
  margin-top: 10px;
}

.input-group {
  margin-top: 10px;
}

button{
  margin-left: 10px;
}

.step_actin_bar{
  margin-top: 20px;
}

.label_title h5{
  // color: darkslateblue;
  margin-top: 15px;
}

.fa-color{
  color: darkorange;
}

th{
  text-align: center;
}

.td_center{
  text-align: center;
}
i{
  margin-left: 10px;
}

.table100{
  width: 100%;
}
.sameline{
  display: inline-flex;
  margin-bottom: 15px;;
}
.sameline a {
  margin-left: 20px;
}

.newLine{
  display: block;
}

.card-header button{
  position: absolute;
  right: 5%;
}

.margin_top_30{
  margin-top: 30px;
}

.div_error{
  display: block;
}

.firstFormGroup{
  text-align: center;
}

.pid_div input {
  // background-color: floralwhite;
  // border-color: bisque;
  text-align: center;
  // font-size: x-large;
  // color: deeppink;
}

.first_step{
  // text-align: -webkit-center;
  width: 100%;
  text-align: -webkit-center;
}

.first_step .row{
margin-top: 10px;
}

.otp_verify{
  margin-top: 50px;
  display: block;
}

// .otp_verify input{
//   text-align: center;
//   margin-top: 10px;
//   margin: 0 auto;
// }


.firstFormGroup input{
  text-align: center;
  margin-top: 10px;
  margin: 0 auto;
}

// .otp_verify #mobileNumber{
//   margin: 0 auto;
//   // width: 25%;
//   margin-top: 10px;
// }

#opt_code{
  margin-top: 10px;
}

.otp_verify button{
  margin-top: 10px;
}

.otp_verify p{
  text-align: center;
}
