
<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">

      <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <!-- 1 st -->
        <mat-step [stepControl]="firstFormGroup">

          <form [formGroup]="firstFormGroup" class="col-md-6">
            <ng-template matStepLabel>Entry ID</ng-template>

            <mat-form-field >
              <input matInput placeholder="ID card" formControlName="identifier" [(ngModel)]="fcIndCustomer.cardNumber"  >
            </mat-form-field>

            <div>
                <button type="button" class="btn btn-success" matStepperNext >Next</button>
            </div>

          </form>
        </mat-step>

        <!-- NDID VERIFY -->
        <mat-step >
            <ng-template matStepLabel>Verify indentify(NDID)</ng-template>

            <app-ndid-proxy [fcIndCustomer]="fcIndCustomer" (ndidDone)="ndidDone($event)" ></app-ndid-proxy>

            <div class="step_actin_bar">
                <button type="button" class="btn btn-secondary" matStepperPrevious >Back</button>
                <button type="button" class="btn btn-success" matStepperNext >Next</button>
            </div>
        </mat-step>

        <!-- FILL FORM -->
        <mat-step [stepControl]="indCustFormGroup">

            <ng-template matStepLabel>Complete form</ng-template>
            <app-fc-ind-customer [fcIndCustomer]="fcIndCustomer" [indCustFormGroup]="indCustFormGroup" [re_addrFormGroup]="re_addrFormGroup" [cu_addrFormGroup]="cu_addrFormGroup" [wk_addrFormGroup]="wk_addrFormGroup" ></app-fc-ind-customer>

            <div>
                <button type="button" class="btn btn-secondary" matStepperPrevious >Back</button>
                <button type="button" class="btn btn-success" matStepperNext (click)="onSubmit()">Submit</button>
                <!-- <button type="button" class="btn btn-success" matStepperNext (click)="onFillFormClick()" >Next</button> -->
            </div>

        </mat-step>

        <!-- Thank you -->
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
          <div>
              <!-- <button type="button" class="btn btn-secondary" matStepperPrevious >Back</button>
              <button type="button" class="btn btn-success" matStepperNext (click)="onSubmit()">Submit</button> -->
              <button type="button" class="btn btn-success" (click)="onClose()">Close</button>

          </div>
        </mat-step>
      </mat-horizontal-stepper>

    </div>
  </div>
</div>
