
  <div *ngFor="let ques of questions" class="questions">

    <span>{{ ques.id }}. {{ ques.name }} </span>

    <div>
      <ul>
        <div *ngFor="let choice of ques.choices">

          <div *ngIf="ques.multilchoice">
            <input type="checkbox"  value=" {{ choice.score }}"  id="{{ choice.id }}"  [(ngModel)]="choice.answer"  [ngModelOptions]="{standalone: true}" />
            {{ choice.name }}
          </div>

          <div *ngIf="!ques.multilchoice">
            <input  type="radio"  [(disabled)]="questionDisabled"  name="{{ ques.id }}"  id="{{ ques.id }}"   value="{{ choice.score }}"   [(ngModel)]="ques.answer" />
            {{ choice.name }}
          </div>
        </div>
      </ul>
    </div>
  </div>
