
.questions{
    margin: auto;
    margin-top: 20px;
}

.blue-txt{
    color: #1194F6;
    font-size: 17px;
}

.q_image{
  img {
    width: 30%;
  }
}

// // @media (max-width : 320px) {
// @media only screen and (width : 1024px) and (orientation : landscape) {
//   .q_image{
//     img {
//       width: 100%;
//     }
//   }
// }
