
mat-form-field {
  margin-left: 10px;
}

// mat-form-field,
// input {
//   width: 100%;
// }

mat-spinner {
  top: 100px;
  margin: auto;
}

.questions{
    margin: auto;
    margin-top: 20px;
}

.blue-txt{
    color: #1194F6;
    font-size: 17px;
}


.act_button {
  margin-left: 10px;
}

.label_header {
  font-size: 2rem;
  color: cornflowerblue;
  margin-top: 15px;
}

.q_image{
  img {
    width: 30%;
  }
}
