<!--
  <mat-spinner *ngIf="spinnerLoading"></mat-spinner>
  <mat-card class="example-full-width" *ngIf="!spinnerLoading">
-->

<mat-card class="example-full-width" >

<mat-tab-group mat-align-tabs="center">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon"><i class="fas fa-id-card"></i></mat-icon>
      Profile
    </ng-template>

    <mat-card class="cust-container" >
    <mat-card-title>CRM Personal Data</mat-card-title>

    <form [formGroup]="personalForm"   >

      <mat-form-field class="col-md-6">
        <input matInput  formControlName="FirstName" [(ngModel)]="personal.FirstName" placeholder="FirstName" >
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>LastName</mat-label>
        <input matInput formControlName="LastName" [(ngModel)]="personal.LastName" placeholder="LastName" >
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>CustomerAlias</mat-label>
        <input matInput formControlName="CustomerAlias" [(ngModel)]="personal.CustomerAlias"  placeholder="CustomerAlias" >
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>วันเกิด</mat-label>
        <input matInput  [matDatepicker]="Dob" formControlName="Dob" [(ngModel)]="personal.Dob"
          placeholder="DOB"
          [readonly]="true" >
        <mat-datepicker-toggle matSuffix [for]="Dob"></mat-datepicker-toggle>
        <mat-datepicker #Dob disabled="false"></mat-datepicker>
      </mat-form-field>

      <mat-label>Sex</mat-label>
      <section  class="example-full-width" >
          <mat-radio-group  formControlName="Sex" [(ngModel)]="personal.Sex">
            <mat-radio-button class="example-margin"  *ngFor="let obj of SexList" [value]="obj.code">{{obj.desc}}</mat-radio-button>
          </mat-radio-group>
      </section>

      <mat-form-field class="col-md-6">
        <mat-label>Mobile</mat-label>
        <input matInput formControlName="Mobile" [(ngModel)]="personal.Mobile" #Mobile >
        <mat-hint align="end">{{Mobile.value.length}} / 10</mat-hint>
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Telephone
        </mat-label>
        <input matInput formControlName="Telephone" [(ngModel)]="personal.Telephone" >
      </mat-form-field>

      <div>
        <!-- Email -->
        <mat-form-field class="col-md-6">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="Email" [(ngModel)]="personal.Email" >
          <mat-hint>jhone@gmail.com</mat-hint>
        </mat-form-field>

        <!-- SocialAccount -->
        <mat-form-field class="col-md-6">
          <mat-label>SocialAccount</mat-label>
          <input matInput formControlName="SocialAccount" [(ngModel)]="personal.SocialAccount"  >
          <mat-hint >FC, LinkIn, Line</mat-hint>
        </mat-form-field>

      </div>

      <div>
        <h3>Important data</h3>
        <mat-form-field class="col-md-6">
          <textarea matInput formControlName="ImportantData" [(ngModel)]="personal.ImportantData" rows=5></textarea>
          <mat-hint >Something is special data for customer</mat-hint>
        </mat-form-field>
      </div>

      <div>
        <h2>Invest Info</h2>
      </div>

      <!-- Refer -->
      <mat-form-field class="col-md-6">
        <mat-label>Refer</mat-label>
        <mat-select formControlName="Refer" [(ngModel)]="personal.Refer" >
            <mat-option  *ngFor="let obj of ReferList" [value]="obj.code">
              {{obj.desc}}
            </mat-option>
          </mat-select>
      </mat-form-field>

      <div>
        <mat-label>สถานะลูกค้า</mat-label>
        <section class="example-full-width">
          <mat-radio-group formControlName="State" [(ngModel)]="personal.State">
            <mat-radio-button class="example-margin"  *ngFor="let obj of stateList" [value]="obj.code">{{obj.desc}}</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>

      <mat-label>ประเภทของลูกค้า</mat-label>
      <section class="example-full-width">
        <mat-radio-group formControlName="Type" [(ngModel)]="personal.Type" >
          <mat-radio-button class="example-margin"  *ngFor="let obj of custTypeList" [value]="obj.code">{{obj.desc}}</mat-radio-button>
        </mat-radio-group>
      </section>

       <!-- Class -->
       <mat-label>Class</mat-label>
       <section class="example-full-width">
         <mat-radio-group  formControlName="Class" [(ngModel)]="personal.Class" >
           <mat-radio-button class="example-margin"  *ngFor="let obj of ClassList" [value]="obj.code">{{obj.desc}}</mat-radio-button>
         </mat-radio-group>
       </section>

      <!-- Interested -->
      <mat-form-field class="col-md-6">
        <mat-label>Interested</mat-label>
        <mat-select multiple formControlName="Interested" [(ngModel)]="personal.Interested" >
            <mat-option  *ngFor="let obj of interestList" [value]="obj.code">
              {{obj.desc}}
            </mat-option>
          </mat-select>
        <!-- <mat-error *ngIf="form.get('status').invalid">Please choose status.</mat-error> -->
      </mat-form-field>

      <div>
        <mat-form-field class="col-md-6">
          <mat-label>SourceOfCustomer</mat-label>
          <mat-select formControlName="SourceOfCustomer" [(ngModel)]="personal.SourceOfCustomer">
              <mat-option  *ngFor="let obj of SourceOfCustomerList" [value]="obj.code">
                {{obj.desc}}
              </mat-option>
            </mat-select>
            <mat-hint>Accetpt by</mat-hint>
        </mat-form-field>

        <!-- UserOwner -->
        <mat-form-field class="col-md-6">
          <mat-label>UserOwner
          </mat-label>
          <input matInput  disabled  [(ngModel)]="personal.UserOwner" [ngModelOptions]="{standalone: true}">
          <mat-hint>Marketing</mat-hint>
        </mat-form-field>
      </div>

      <!-- InvestCondition -->
      <mat-form-field class="example-full-width">
        <mat-label>InvestCondition </mat-label>
        <textarea matInput rows="3" formControlName="InvestCondition" [(ngModel)]="personal.InvestCondition" ></textarea>
      </mat-form-field>

      <mat-card-actions>
        <a mat-flat-button class="button_card_action" color="primary" (click)="onPersonFormSubmit()"  >SAVE</a>
        <!-- <a  class="button_card_action" mat-flat-button color="primary"  (click)="goBack()"> BACK</a> -->
      <button mat-flat-button class="button_card_action"color="warn" type='reset' *ngIf="!isDisableFields">Reset</button>



      </mat-card-actions>

    </form>

    </mat-card>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon"><i class="fas fa-money-check-alt"></i></mat-icon>
      Portfolio
    </ng-template>

    <div class="div_top10">
      <h5>Internal </h5>

      <mat-form-field class="col-md-6">
        <mat-label>ID card</mat-label>
        <input matInput  [(ngModel)]="personal.IdCard">
        <!-- <mat-hint align="end">Number 0.0000</mat-hint>  -->
      </mat-form-field>

      <mat-form-field class="col-md-6">
        <mat-label>Account No</mat-label>
        <input matInput [(ngModel)]="personal.AccountNo" >
        <!-- <mat-hint align="end">Number 0.0000</mat-hint>  -->
      </mat-form-field>

    </div>

    <div class="div_top10">
      <h3>LBDU <small> 100,000.00</small></h3>

      <table mat-table [dataSource]="lbdu_dataSource" class="col-md-6">
        <!-- Position Column -->
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef width='40%'> Code </th>
          <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
        </ng-container>

        <!--  Column -->
        <ng-container matColumnDef="Val">
          <th mat-header-cell *matHeaderCellDef> Val </th>
          <td mat-cell *matCellDef="let element">{{element.Val}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="lbdu_displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: lbdu_displayedColumns;"></tr>
      </table>

    </div>

    <div class="div_top10">
      <h3>PRIVATE <small> 70,000,000.00</small></h3>

      <table mat-table [dataSource]="private_dataSource" class="col-md-6">
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef width='40%'> Code </th>
          <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
        </ng-container>

        <ng-container matColumnDef="Val">
          <th mat-header-cell *matHeaderCellDef> Val </th>
          <td mat-cell *matCellDef="let element"> {{element.Val }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="private_displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: private_displayedColumns;"></tr>
      </table>


    </div>

    <div class="div_top10">
      <h3>BOND <small>13,000,000.00</small></h3>

      <table mat-table [dataSource]="bond_dataSource" class="col-md-6">
        <ng-container matColumnDef="Code">
          <th mat-header-cell *matHeaderCellDef width='40%'> Code </th>
          <td mat-cell *matCellDef="let element"> {{element.Code}} </td>
        </ng-container>

          <ng-container matColumnDef="Val">
            <th mat-header-cell *matHeaderCellDef> Val </th>
            <td mat-cell *matCellDef="let element">{{element.Val}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="bond_displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: bond_displayedColumns;"></tr>
      </table>


    </div>

  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon"><i class="fas fa-history"></i></mat-icon>
      Timeline
    </ng-template>

    <mat-expansion-panel class="example-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          2020 dec 20
          <br>1h
        </mat-panel-title>
        <mat-panel-description>
          <!-- <mat-icon>date_range</mat-icon> -->
          hason 2020-12-20 1h / นัดหมาย
        </mat-panel-description>
      </mat-expansion-panel-header>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
    </mat-expansion-panel>

    <mat-expansion-panel class="example-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          2020 dec 10
          <br>5d
        </mat-panel-title>
        <mat-panel-description>
          <!-- <mat-icon>date_range</mat-icon> -->
          by hason 2020-12-10 5d / Order - KFGTECH (50,000)
        </mat-panel-description>
      </mat-expansion-panel-header>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
    </mat-expansion-panel>


    <mat-expansion-panel class="example-expansion">
      <mat-expansion-panel-header>
        <mat-panel-title>
          2020 dec 11
          <br>6d
        </mat-panel-title>
        <mat-panel-description>
          <!-- <mat-icon>date_range</mat-icon> -->
          by hason 2020-12-11 6d / Call Report
        </mat-panel-description>
      </mat-expansion-panel-header>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
    </mat-expansion-panel>


  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon"><i class="fas fa-history"></i></mat-icon>
      PDPA Consent
    </ng-template>
    <h3>Consents </h3>

    <table mat-table [dataSource]="consent_dataSource" class="col-md-6">

      <ng-container matColumnDef="topic">
        <th mat-header-cell *matHeaderCellDef> Topic </th>
        <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
      </ng-container>

        <ng-container matColumnDef="submitDate">
          <th mat-header-cell *matHeaderCellDef> Submit Date </th>
          <td mat-cell *matCellDef="let element">{{element.submitDate}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let element">{{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a > Edit </a>
            <a > Cancel </a>

          </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="consent_displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: consent_displayedColumns;"></tr>
    </table>

  </mat-tab>
</mat-tab-group>

</mat-card>
