.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


.example-full-width {
  width: 100%;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

td {
  padding-right: 8px;
}

mat-expansion-panel {
  margin-top: 10px;
 }

 mat-card-actions {
   margin-bottom: 10px;
 }

 .button_card_action {
   margin-left: 10px;
 }

 .card_option {
   margin-top: 10px;
 }

 .example-tab-icon {
  margin-right: 8px;
}

.example-card {
  max-width: 400px;
}

mat-card{
  margin: auto;

}

.example-expansion {
  max-width: 800px;
}

mat-panel-title{
  width: 30%;
}

mat-panel-description{
  width: 70%;
}

mat-expansion-panel {
  margin-bottom: 5px;
}

.div_top10{
  margin-top: 10px;
}


mat-spinner {
  top: 100px;
  margin: auto;
}