<mat-spinner *ngIf="spinnerLoading"></mat-spinner>
<mat-card *ngIf="!spinnerLoading">
  <form [formGroup]="form" #custForm="ngForm">
    <mat-card-title>
      {{ formService.from_suit_title }}

      <i
        *ngIf="ADD_NEW"
        class="fas fa-plus-square fa-1x"
        matTooltip="{{ formService.addNewBtn }}"
        (click)="onAddNew()"
      ></i>
      <div *ngIf="customer.First_Name_T" id="cust_content">
        <img
          src="assets/img/avatars/noPerson.png"
          class="img-avatar box_img"
          alt="{{ customer.First_Name_T }}"
        />
        <span
          >{{ customer.Title_Name_T }} {{ customer.First_Name_T }}
          {{ customer.Last_Name_T }}</span
        >
      </div>
      <div class="row">
        <mat-form-field class="col-md-4">
          <input
            matInput
            formControlName="pid"
            placeholder="{{ formService.pid_label }}"
            [(ngModel)]="survey.pid"
          />
          <mat-error *ngIf="form.get('pid').invalid">Please enter ID</mat-error>
        </mat-form-field>
      </div>

      <mat-card-actions>
        <a
          *ngIf="!INTERNAL_USER"
          mat-flat-button
          color="primary"
          (click)="verify()"
        >
          Verify</a
        >
        <a
          *ngIf="INTERNAL_USER"
          mat-flat-button
          color="primary"
          (click)="searchCust()"
        >
          Search</a
        >
      </mat-card-actions>
    </mat-card-title>
  </form>

  <mat-card-content *ngIf="canDoSuit">
    <mat-card-title>
      {{ formService.from_suit_title }}
    </mat-card-title>
    <form>
      <!-- <app-suit-tree-view [questions]="suitQuestions"></app-suit-tree-view> -->
      <ul>
          <div *ngFor="let ques of suitQuestions" class="questions">
            <span>{{ ques.id }}. {{ ques.name }} </span>
            <div>
              <ul>
                <div *ngFor="let choice of ques.choices">

                  <div *ngIf="ques.multilchoice">
                    <input type="checkbox"
                    value=" {{ choice.score }}"
                    id="{{ choice.id }}"
                    [(ngModel)]="choice.answer"
                    [ngModelOptions]="{standalone: true}"
                    />
                    {{ choice.name }}
                  </div>

                  <div *ngIf="!ques.multilchoice">
                    <input
                      name="{{ ques.id }}"
                      id="{{ ques.id }}"
                      type="radio"
                      value="{{ choice.score }}"
                      [(ngModel)]="ques.answer"
                    />
                    {{ choice.name }}
                  </div>

                </div>
              </ul>
              <!-- <app-suit-tree-view [questions]="dir.questions"></app-suit-tree-view> -->
            </div>
            <!-- <BR> -->
          </div>
        </ul>
<!-- /********************************/ -->
      <mat-card-actions>
        <button
          mat-flat-button
          class="button_card_action"
          color="warn"
          (click)="suiteFormRESET()"
          type="reset"
        >
          Suit Reset
        </button>

        <a mat-flat-button color="primary" (click)="calSuit()"> Calculate</a>
      </mat-card-actions>
    </form>

    <div class="suitResult" *ngIf="canSaveSuit">
      <h4>Result</h4>
      <mat-slider
        class="example-margin"
        [disabled]="disabled"
        [invert]="invert"
        [max]="max"
        [min]="min"
        [step]="step"
        [thumbLabel]="thumbLabel"
        [(ngModel)]="riskLevel"
        [vertical]="vertical"
      >
      </mat-slider>
      <h5>{{ riskLevel }} - {{ riskLevelTxt }}</h5>
      <p>{{ riskLevelDesc }}</p>

      <a mat-flat-button color="primary" (click)="saveSuit()">
        Save Suitability</a
      >
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="canDoFATCA">
  <mat-card-content>
    <mat-card-title>
      {{ formService.from_fatca_title }}
    </mat-card-title>

    <form>
      <app-suit-tree-view [questions]="fatcaQuestions"></app-suit-tree-view>

      <mat-card-actions>
        <button
          mat-flat-button
          class="button_card_action"
          color="warn"
          (click)="fatcaFormRESET()"
          type="reset"
        >
          FATCA Reset
        </button>

        <a mat-flat-button color="primary" (click)="saveFATCA()"> Save FATCA</a>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
