mat-card-content {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  border: 0;
}

.modal-dialog {
  margin-top: auto;
  margin-bottom: auto;
  max-height: 95vh;
  overflow-x: inherit;
  overflow-y: auto;
}

mat-spinner {
    margin: auto;
  }
  