<mat-spinner *ngIf="spinnerLoading"></mat-spinner>
<mat-card *ngIf="!spinnerLoading">

  <form [formGroup]="form" (submit)="onSubmit()" #custForm="ngForm" >

            <mat-card-title>
                  {{formService.from_title}}
                  <i *ngIf="ADD_NEW" class="fas fa-plus-square fa-1x" matTooltip="{{formService.addNewBtn}}" (click)="onAddNew()"></i>

                  <div class="row">

                      <mat-form-field class="col-md-4">
                          <input   matInput formControlName="pid" placeholder={{formService.pid_label}}
                          [(ngModel)]="survey.pid">
                          <mat-error *ngIf="form.get('pid').invalid">Please enter  ID</mat-error>
                      </mat-form-field>
                  </div>

                  <mat-card-actions>
                    <a *ngIf="!INTERNAL_USER" mat-flat-button color="primary"  (click)="verify()"> Verify</a>
                    <a *ngIf="INTERNAL_USER" mat-flat-button color="primary"  (click)="searchCust()"> Search</a>
                  </mat-card-actions>

            </mat-card-title>

            <mat-card-content *ngIf="canDoSurvey">

                  <app-suit-tree-view [questions]="questions"></app-suit-tree-view>

                  <mat-card-actions>
                        <button mat-flat-button class="button_card_action" color="primary" type='submit'>Submit</button>
                        <button mat-flat-button class="button_card_action" color="warn" type='reset'>Reset</button>
                  </mat-card-actions>

            </mat-card-content>
      </form>
</mat-card>
