
<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<mat-card *ngIf="!spinnerLoading">
  <div class="container">
      <!-- <h5>Merchnat partner survey</h5> -->
      <div class='branner'>
          <img src="assets/img/brand/MPAM-logo.png" />
      </div>

      <nav class="navbar navbar-light bg-light">
          <form class="form-inline" [formGroup]="form" #custForm="ngForm" >
            <span *ngIf="!verifyFLag">
                <input class="form-control mr-sm-2" type="search" placeholder="{{ formService.pid_label }}" aria-label="Search"
                formControlName="pid" [(ngModel)]="survey.pid"  >
                <a *ngIf="!INTERNAL_USER" mat-flat-button   class="btn btn-outline-success my-2 my-sm-0"  (click)="getCustomerData()">Search</a>
            </span>

            <ul class="nav navbar-nav ml-auto" *ngIf="verifyFLag">
                <li >
                    <strong>Welcome</strong>
                    <p> {{ customer.Title_Name_T }} {{ customer.First_Name_T }} {{ customer.Last_Name_T }}</p>
                </li>

                <!-- <a (click) = "onLogout()"><i class="fa fa-lock" ></i> Logout</a> -->
                <a (click) = "onLogout()" class="btn btn-outline-success my-2 my-sm-0" ><span class=" cui-account-logout" aria-hidden="true"></span> Exit</a>

            </ul>
          </form>
        </nav>

    <!-- <form [formGroup]="form" #custForm="ngForm"  >
          <mat-card-title>
              {{ formService.from_title }}
              <div *ngIf="verifyFLag" id="cust_content">
                <img  src="assets/img/avatars/noPerson.png" class="img-avatar box_img"  alt="{{ customer.First_Name_T }}"  />
                <span>{{ customer.Title_Name_T }} {{ customer.First_Name_T }}
                  {{ customer.Last_Name_T }}
                  </span>

              </div>
              <div>
              <div class="row">
                <mat-form-field class="col-md-4 col-sm-4">
                  <input  matInput  formControlName="pid"  placeholder="{{ formService.pid_label }}"
                    [(ngModel)]="survey.pid"   />
                  <mat-error *ngIf="form.get('pid').invalid">Please enter ID</mat-error>
                </mat-form-field>
              </div>

              <mat-card-actions class="col-md-4 col-sm-4">
                <a *ngIf="!INTERNAL_USER" mat-flat-button  color="primary"  (click)="getCustomerData()">
                  OK</a>
                <a *ngIf="INTERNAL_USER"  mat-flat-button  color="primary"  (click)="searchCust()">
                  Search</a >
              </mat-card-actions>
            </div>
            </mat-card-title>
    </form> -->

  </div>

  <!-- VERIFY -->
  <div *ngIf="needVerify" class="container ">
      <div class="row ">
          <!-- <h5>Request verify method.</h5> -->
          <div class="row">
              <mat-radio-group  [(ngModel)]="verifyBy" class="col-lg-4 col-md-4 col-sm-4" >
                  <mat-radio-button value="DOB" (change)="verifyByChange($event)" [disabled]="!customer.Birth_Day"  >Verify by date of birth </mat-radio-button>
                  <mat-radio-button value="OTP" (change)="verifyByChange($event)" [disabled]="this.customer.Mobile[0] + this.customer.Mobile[1] == PREFIX_MOBILE_ALLOW_SEND_SMS "  >
                    Verify by OTP to register</mat-radio-button>
                </mat-radio-group>
          </div>
      </div>

      <div id='div_DOB' *ngIf="verifyBy=='DOB'" >
        <div class="row" >
            <mat-form-field class="col-md-4 col-sm-4">
            <input  matInput   placeholder="Please verify your date of birth"    [(ngModel)]="verifyDOB_val"  />
            </mat-form-field>
            <p>Format:ddmmyyyyy  (example = 31011976)</p>
        </div>
        <div class="row col-md-4 col-sm-4" >
            <a *ngIf="!INTERNAL_USER" mat-flat-button  color="primary"  (click)="verifyDOB()" class="col-md-4"> Verify</a>
        </div>
      </div>

      <!-- Verify OTP section -->
      <div id='div_OTP' *ngIf="verifyBy=='OTP'">
          <div class="row  col-md-4 col-sm-4" >
              <a *ngIf="!INTERNAL_USER" mat-flat-button  color="primary"  (click)="requestOTP()" class="col-md-4">Request OTP</a>
          </div>

         <div id='OTP_INTRY' *ngIf="showOtpEntry" >
            <div class="row col-md-4 col-sm-4">
                <mat-form-field class="col-md-4">
                    <input  matInput   placeholder="Please input OTP"    [(ngModel)]="verifyOTP_val"  />
                </mat-form-field>
            </div>
            <div class="row col-md-4 col-sm-4 ">
                <a *ngIf="!INTERNAL_USER" mat-flat-button  color="primary"  (click)="verifyConfirmOTP()" class="col-md-4"> Verify</a>
            </div>
         </div>
      </div>
  </div>

  <!-- ************* STEPPER  -->
  <div class='container'>
  <mat-horizontal-stepper labelPosition="bottom" linear  #stepper *ngIf="verifyFLag" class="col" >
    <!-- ***************** #1  Persional Information Step-->
    <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{formService.STEPER_1}}</ng-template>

        <div class="stepper_action" >
            <button mat-flat-button  matStepperNext color="primary" >Next</button>
        </div>

        <app-cust-cdd [custCode]="survey.pid" [cddFormGroup]="firstFormGroup"></app-cust-cdd>
        </form>

        <!-- <mat-card-content > -->
            <h5>{{ formService.from_fatca_title }}</h5>
            <form>

                  <app-suit-tree-view [questions]="fatcaQuestions"></app-suit-tree-view>

                  <mat-card-actions>
                      <button mat-flat-button  class="button_card_action"  color="warn"  (click)="fatcaFormRESET()" type="reset" >Reset</button>
                        <a mat-flat-button color="primary" (click)="saveFATCA()"> Save</a>
                  </mat-card-actions>
            </form>
          <!-- </mat-card-content>   -->
    </mat-step>

     <!-- ***************** #2 Information step-->
     <mat-step [stepControl]="register_formGroup" >
        <ng-template matStepLabel>{{formService.STEPER_2}}</ng-template>
        <div class="stepper_action" >
            <button mat-flat-button  matStepperPrevious color="accent" >Back</button>
            <button mat-flat-button  matStepperNext color="primary" >Next</button>
        </div>

        <div>
            <mat-expansion-panel [(expanded)]='register_expanded'>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      Residence Registration Address
                  </mat-panel-title>
                      <mat-panel-description *ngIf="!register_expanded && !mobile"  >
                          {{re_addrData.Print_Address}}
                  </mat-panel-description>

                </mat-expansion-panel-header>
                <form [formGroup]="register_formGroup">
                    <app-cust-addr [addrData]="re_addrData" [custCode]="survey.pid" [addrFormGroup]="register_formGroup" ></app-cust-addr>
                </form>
              </mat-expansion-panel>
        </div>

        <div >
            <mat-expansion-panel [(expanded)]='work_expanded'>
                <mat-expansion-panel-header>
                  <mat-panel-title >
                      Workplace Address
                  </mat-panel-title>
                  <mat-panel-description *ngIf="!work_expanded && !mobile" >
                        {{work_addrData.Print_Address}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <div>
                    <section class="example-section">
                        <mat-radio-group   [(ngModel)]="workAddrAs"  (change)="workAddrOnChange(workAddrAs)" >
                          <mat-radio-button class="example-margin" value="R">Same as Residence Registration Address</mat-radio-button>
                          <mat-radio-button class="example-margin" value="O">Other (Please specify)</mat-radio-button>
                        </mat-radio-group>
                      </section>
                </div>
                <form [formGroup]="work_formGroup">
                    <app-cust-addr *ngIf="showWorkAddr" [addrData]="work_addrData" [custCode]="survey.pid"  [addrFormGroup]="work_formGroup" ></app-cust-addr>
                </form>

              </mat-expansion-panel>
          </div>

          <div>
              <mat-expansion-panel [(expanded)]='current_expanded' >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                        Current Address
                    </mat-panel-title>
                    <mat-panel-description *ngIf="!current_expanded && !mobile" >
                            {{cur_addrData.Print_Address}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class='row'>
                      <section class="example-section" >
                          <mat-radio-group [(ngModel)]="currAddrAs"  (change)="cuurAddrOnChange(currAddrAs)"  >
                              <mat-radio-button class="example-margin" value="R">Same as Residence Registration Address</mat-radio-button>
                              <mat-radio-button class="example-margin" value="W">Same as Workplace Address </mat-radio-button>
                              <mat-radio-button class="example-margin" value="O">Other (Please specify)</mat-radio-button>
                            </mat-radio-group>
                        </section>
                  </div>

                  <form [formGroup]="current_formGroup">
                      <app-cust-addr *ngIf="showCurrentAddr" [addrData]="cur_addrData" [custCode]="survey.pid"  [addrFormGroup]="current_formGroup"></app-cust-addr>
                  </form>

                </mat-expansion-panel>
            </div>

            <div class='row'>
                <mat-card-actions class="col-md-4">
                    <a mat-flat-button color="primary" (click)="saveAddrAll()"  > Save address.</a>
                </mat-card-actions>
            </div>


    </mat-step>

  <!-- ***************** #3  Suitability Step-->
    <mat-step [stepControl]="firstFormGroup"   >
            <ng-template matStepLabel>{{formService.STEPER_3}}</ng-template>

            <div class="stepper_action">
                <button mat-flat-button  matStepperPrevious color="accent" >Back</button>
                <button mat-flat-button  matStepperNext color="primary" >Next</button>

            </div>

            <!-- <mat-card-content  > -->

              <div *ngIf="!canDoSuit"  class="container "  >

                  <div class="row" class="col-md-4">
                          <h5>Risk Level: {{ cust_RiskLevel }} - {{ cust_RiskLevelTxt }} </h5>
                  </div>
                  <div class="row" class="col-md-4">
                      <p>Evaluated Date: {{ cust_RiskDate | date:'yyyy-MM-dd' }}</p>
                  </div>

                  <a mat-flat-button color="primary" (click)="canDoSuit =true;"> New Survey</a>
              </div>


            <div *ngIf="canDoSuit" >
            <form>
            <ul>
                <div *ngFor="let ques of suitQuestions" class="questions">
                  <span>{{ ques.id }}. {{ ques.name }} </span>
                  <div>
                    <ul>
                      <div *ngFor="let choice of ques.choices">

                        <div *ngIf="ques.multilchoice">
                          <input type="checkbox"
                          value=" {{ choice.score }}"
                          id="{{ choice.id }}"
                          [(ngModel)]="choice.answer"
                          [ngModelOptions]="{standalone: true}"
                          />
                          {{ choice.name }}
                        </div>

                        <div *ngIf="!ques.multilchoice">
                          <input
                            name="{{ ques.id }}"
                            id="{{ ques.id }}"
                            type="radio"
                            value="{{ choice.score }}"
                            [(ngModel)]="ques.answer"
                          />
                          {{ choice.name }}
                        </div>

                      </div>
                    </ul>
                  </div>
                </div>
              </ul>

              <mat-card-actions>
                  <button   mat-flat-button class="button_card_action"  color="warn"  (click)="suiteFormRESET()"  type="reset"  >
                    Suit Reset
                  </button>

                  <a mat-flat-button color="primary" (click)="calSuit()"> Calculate</a>
                  <a mat-flat-button color="accent" (click)="canDoSuit =false;"> Cancel</a>
              </mat-card-actions>

            <div class="suitResult" *ngIf="canSaveSuit">
                <h4>Result</h4>

                <h5>{{ riskLevel }} - {{ riskLevelTxt }}</h5>
                <p>{{ riskLevelDesc }}</p>

                <a mat-flat-button color="primary" (click)="saveSuit()">   Save Suitability</a>
              </div>
            </form>
            </div>

            <!-- </mat-card-content> -->
    </mat-step>

<!-- ***************** #4 FATCA  step -->
    <mat-step [stepControl]="firstFormGroup"  >
            <ng-template matStepLabel>{{formService.STEPER_4}}</ng-template>
            <div class="stepper_action">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()"  color="accent">Reset</button>
              </div>
            <!-- <mat-card-content > -->
            <!-- <h5>{{ formService.from_fatca_title }}</h5>
            <form>

                  <app-suit-tree-view [questions]="fatcaQuestions"></app-suit-tree-view>

                  <mat-card-actions>
                      <button mat-flat-button  class="button_card_action"  color="warn"  (click)="fatcaFormRESET()" type="reset" >Reset</button>
                        <a mat-flat-button color="primary" (click)="saveFATCA()"> Save</a>
                  </mat-card-actions>
            </form> -->
          <!-- </mat-card-content>   -->
    </mat-step>
</mat-horizontal-stepper>
</div>

</mat-card>
