mat-card-content {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  border: 0;
}

mat-spinner {
  margin: auto;
}

.modal-dialog {
  margin-top: auto;
  margin-bottom: auto;
  max-height: 95vh;
  overflow-x: inherit;
  overflow-y: auto;
}

.button_card_action {
  margin-left: 20px;
}

.blue-txt{
  color: #1194F6;
  font-size: 17px;
}

//Customer info
#cust_content {
  position: absolute;

  top: 10px;  
  right: 50px;
}
#cust_content img {
  position: absolute;
 
  width: 60%;
}
#cust_content span {
  position: relative;
  font-size: 0.6em;
  color: #6d6d6d;
  top: 60px;
  right: 25px;
}


