
html {
  height: 100%;
}

body {
  background: url(https://ir.ebaystatic.com/pictures/aw/pics/cmp/ds3/imgbg.jpg) repeat 0 0 #f8f8f8;
  color: #333;
  font-size: 14px;
  // font-family: "Helvetica neue",Helvetica,Arial,Sans-serif;
  font-family: sans-serif;
  line-height: 1;
  min-height: 100%;
}

.spinner {
  width: 100%;
  height: 100%;
}
.spinner:before {
  background-color:grey;
  top: -50%;
  left: -50%;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  content: " ";
}

.ver-div{
height: 100px;
display: flex;
align-content: center;
align-items: center;
}
.ver-div input {
  margin-left: 5px;
}
.ver-div span p {
  display: block;
  margin-left: 5px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-card-content {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  border: 0;
  padding: 24px;
}

mat-spinner {
  margin: auto;
}

mat-form-field {
  margin-left: 10px;
}

// mat-form-field, matInput {
//   width: 100%;
// }

.div_shadow {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.31);
  border-radius: 3px;
  border: 0;
  padding: 24px;
}

.modal-dialog {
  margin-top: auto;
  margin-bottom: auto;
  max-height: 95vh;
  overflow-x: inherit;
  overflow-y: auto;
}


//Customer info
#cust_content {
  position: absolute;

  top: 10px;
  right: 50px;
}
#cust_content img {
  position: absolute;

  width: 60%;
}
#cust_content span {
  position: relative;
  font-size: 0.6em;
  color: #6d6d6d;
  top: 60px;
  right: 25px;
}

.mat-slider-horizontal {
  width: 300px;
}

.mat-slider-vertical {
  height: 300px;
}

.mat-flat-button{
  // margin: auto;
  margin-top: 10px;
}

.suitResult {
  color:darkblue;
  border-style: solid;
  border: 1px;
}

#div_DOB p{
  color: gray;
}

#div_DOB span{
  margin-top: 50px;
}

// // **********************
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.stepper_action {
  margin-bottom: 15px;
  text-align: right;
}
.stepper_action button{
  margin-left: 10px;
}

.stepper_action  a{
  margin-left: 10px;
}

.branner {
  margin-bottom: 15px;
}
.branner > p{
  font-size: x-large;
}

.block {
  display: inline;
}

.fatca_desc{
  display: block;
  margin-left: 10px;
}
.fatca_desc p{
  margin-left: 15px;
}

.center-screen {
width: 100%;
margin-top: 10px;
  align-items: center;
  text-align: center;
  display: inline-block;
}

.center-screen2 {
  // width: 100%;
  margin-top: 10px;
    align-items: center;
    text-align: center;
    // display: inline-block;
  }


#mat-horizontal-stepper {
  margin-top: 15px;
}

.display_block {
  margin-top: 30px;
  margin-left: 20px;

  display:block;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 4em;
}

.act_button {
  margin-left: 10px;
}

.label_header {
  font-size: 120%;
  color: cornflowerblue;
  margin-top: 15px;
}
.form_section {
  font-size: 110%;

}
.blue-txt{
  color: #1194F6;
  // font-size: 120%;
  font-size: x-large;
}
.q_image{
  img {
    width: 30%;
  }
}
.icon3x {
  size: 3em;
}
.Finish_section {
  font-size: 200%;
  height: 200px;
  margin-top: 10%;
}
.questions{
  margin-top: 5px;
}
.questions #ques{
  font-size: x-large;
}

// ***********************************
.fullscreen {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}


    /* padding-right: 15px; */
    /* padding-left: 15px; */

// ***********************************
    .desk{
      // width:400px;
      // height:200px;
      // background:red;
    }
    .div-only-mobile{
      // width:400px;
      // height:200px;
      // background:orange;
    }
    @media screen and (max-width : 1920px){
      .div-only-mobile{
      visibility:hidden;
      }
    }
    @media screen and (max-width : 906px){
     .desk{
      visibility:hidden;
      }
     .div-only-mobile{
      visibility:visible;
      }
    }

    @media screen and (min-width: 768px) {
      .divCenter {
        position:fixed;
        top: 50%;
        left: 50%;
        width:40em;
        // height:28em;
        margin-top: -19em; /*set to a negative number 1/2 of your height*/
        margin-left: -25em; /*set to a negative number 1/2 of your width*/
        border: 1px solid #ccc;
        background-color: #f3f3f3;
      }


    .contrainer{
      text-align: center;
    }
      .custInfo{
        position:absolute;
        top:1em;
        right:10em;
       }
    }

// *************TEST *******************
std-bb {
  margin-bottom: 20px;
  padding: 17px 20px 9px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 4px 4px 1px #eee;
}

code {
    margin-bottom: 1em;
    padding: 12px 8px;
    padding-bottom: 20px;
    width: auto;
    width: 100% ;
    max-height: 600px;
    overflow: auto;
    font-family: sans-serif;
    // font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
    // font-size: 1rem;
    // font-size: x-large;
    color: black;
    background-color: #eff0f1;
    border-radius: 3px;
}

.code_large {
  font-size: x-large;
  color: darkblue;
}

.label_title h3{
  color: darkslateblue;
  margin-top: 15px;
}


code p {
  color: darkblue;
}

.txt_warning {
  color: darkblue;
  font-size: 120%
}

.suit_result{
  border-radius: 25px;
  background: lavender;
  padding: 20px;

}
.suit_result span{
  display: block;
  color: darkblue;

}
.suit_result #suit_label {
  font-size: x-large;
}

.suit_result #suit_level {
  font-size: xx-large;
  color: orangered;

}

.suit_result #suit_txt {
  font-size: x-large;
  color: orangered;
}
.suit_result #suit_date {
  font-size: medium;
}

.mobileHint {
  display: block;
}

.mobileHint > p{
  // color: darkgray;
  font-size: x-large;
}

.mobileHint  > mat-radio-group{
  font-size: initial;
}



.btn{
  margin-left: 20px;
}

.Entry_OTP {
  margin-top: 50px;
  white-space: nowrap;
}
.Entry_OTP > div {
  width: 300px;
  display: inline-block;
}

.divIDCust{
  margin-top: 10px;;
}

.divOTP{
  margin-top: 10px;;
}

.divOTP code{
  text-align: center;
  margin-top: 30px;
}

.divOTP code h5{
  text-align: center;
  margin-top: 30px;
}

.margin_top_40 {
  margin-top: 40px;
}

.margin_top_30{
  margin-top: 30px;
}

.margin_top_10{
  margin-top: 10px;
}

.choose_verify{
  margin-top: 40px;
}

.verify_div{
  padding: 50px;
}

code {
  color: darkslateblue;
}
