<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<mat-card *ngIf="!verifyFLag" class="divCenter" >
  <div class="container" *ngIf="!verifyFLag " >
      <div class="block">
          <div class='branner col-md-6'>
            <img  src="assets/img/brand/MPAM-logo.png" />
          </div>
          <div *ngIf="verifyFLag" class='branner col-md-6' >
                <strong>{{ formService.label_Welcome }}</strong>
                <p> {{ customer.Title_Name_T }} {{ customer.First_Name_T }} {{ customer.Last_Name_T }}</p>
          </div>
      </div>

      <nav class="navbar navbar-light " *ngIf="!verifyFLag" >
          <form [formGroup]="form" #custForm="ngForm" >
            <div class="contrainer ">

              <span *ngIf="!needVerify" >
                <code>
                  <h5>เข้าสู่ระบบ ยืนยันข้อมูล และทดสอบ แบบมาตรฐานในการประเมินความเหมาะสมในการลงทุน (Suitability Assessment)</h5>
                </code>

                <div class="pid_div">
                  <!-- <input id="pid_input" class="form-control mr-sm-2 margin_top_30" type="search" placeholder="{{ formService.label_idCard }}" aria-label="Search"
                  formControlName="pid" [(ngModel)]="survey.pid"  autocomplete="off" > -->
                  <input id="pid_input" class="form-control mr-sm-2 margin_top_30" type="search"  aria-label="Search"
                  formControlName="pid" [(ngModel)]="survey.pid"  autocomplete="off" >

                  <mat-error *ngIf="form.get('pid').invalid"> *โปรดระบุ หมายเลขบัตร Please entry ID card number. </mat-error>
                </div>

                  <button [disabled]="form.get('pid').invalid" mat-flat-button color="primary" (click)="getCustomerData()" class="col-md-12 margin_top_30" >
                    {{ formService.LABEL_NEXT }} <i class="fas fa-search"></i> </button>
              </span>
            </div>
          </form>
        </nav>


        <!-- VERIFY -->
          <div  *ngIf="needVerify" class="divOTP">
            <code>
              <h3>{{_mobile_hint}}</h3>
              <br>
             </code>


                <input class="form-control margin_top_40" type="search"  [(ngModel)]="verifyOTP_val" placeholder={{formService.label_input_verify_OTP}} name="verifyOTP_val" autocomplete="off">


                <button [disabled]="verifyOTP_val==''" mat-flat-button color="primary" (click)="verifyConfirmOTP()" class="col-md-12 margin_top_30" >
                    {{formService.LABEL_Verify}}</button>
                <button mat-flat-button color="accent" class="margin_top_10 col-md-12" (click)="requestOTP()" > {{formService.LABEL_REQ_OTP}} </button>

                <code>
                  <h5 >เปลี่ยนเบอร์มือถือ <a  (click)="onNewMobileDialog()">คลิ๊กที่นี่</a></h5>
                  <p>หรือติดต่อเจ้าหน้าที่ Wealth services <a href="tel:02-660-6689">โทร 02-660-6689</a> ในวันเวลาทำการ</p>

                </code>
          </div>

    </div>
  </mat-card>

  <mat-card *ngIf="verifyFLag " >
  <!-- ************* STEPPER  -->
  <div class='container' *ngIf="!saveAllComplete">
    <mat-card-title>
      <div class="branner col-md-6">
        <img   src="assets/img/brand/MPAM-logo.png" />
      </div>
      <strong class="col-md-6">{{ formService.label_Welcome }}</strong>
      <p class="col-md-6" > {{ customer.Title_Name_T }} {{ customer.First_Name_T }} {{ customer.Last_Name_T }}</p>

      <!-- <div *ngIf="verifyFLag" class='branner col-md-6' >
            <strong>{{ formService.label_Welcome }}</strong>
            <p> {{ customer.Title_Name_T }} {{ customer.First_Name_T }} {{ customer.Last_Name_T }}</p>
      </div> -->
    </mat-card-title>

  <mat-horizontal-stepper labelPosition="bottom" linear  #stepper *ngIf="verifyFLag " class="col" >

   <!-- ***************** #1  Persional Information Step-->
    <mat-step [stepControl]="cddFormGroup">

      <!--Person information-->
        <form [formGroup]="cddFormGroup" class="form_section">
          <ng-template matStepLabel>{{formService.STEPER_1}}</ng-template>

          <app-cust-cdd [custCode]="survey.pid" [cddFormGroup]="cddFormGroup" [cddData]="cddData"></app-cust-cdd>

          <mat-card-actions class="stepper_action center-screen ">
              <!-- <a  mat-flat-button color="accent" (click)="cDDmodifOnChange()" class ="act_button col-md-12"> Edit <i class="fas fa-pencil-alt"></i></a> -->
              <button mat-flat-button  matStepperNext color="primary"  (click)=checkCDD_FormInvalid(cddFormGroup) class="col-sm-12 col-lg-3" >{{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button>
          </mat-card-actions>
        </form>

    </mat-step>

     <!-- ***************** #2 Information step-->
     <mat-step [stepControl]="register_formGroup" >
        <ng-template matStepLabel>{{formService.STEPER_2}}</ng-template>

        <!-- 2.1 Register Address  (SEQ = 1)-->
          <span class="label_title"><h5>{{ formService.register_addr_title }} ({{ formService.register_addr_title_ENG }})</h5></span>
          <div>
            <app-cust-addr [addrData]="re_addrData" [custCode]="survey.pid" [addrFormGroup]="register_formGroup" ></app-cust-addr>
          </div>

        <!-- 2.2 Work Address (SEQ = 3)-->
            <span class="label_title"><h5>{{ formService.work_addr_title }} ({{formService.work_addr_title_ENG}})</h5></span>
              <div>
                  <form [formGroup]="register_formGroup">
                  <section class="example-section">
                      <mat-radio-group   [(ngModel)]="work_addrData.SameAs"  (change)="workAddrOnChange(work_addrData.SameAs)"  formControlName="work_addrData"  >
                        <mat-radio-button class="example-margin" value="1">{{formService.label_addrAs_reg}}</mat-radio-button>
                        <mat-radio-button class="example-margin" value="9">{{formService.label_addr_oth}}</mat-radio-button>
                      </mat-radio-group>
                      <mat-error *ngIf="register_formGroup.get('work_addrData').invalid">โปรดเลือก Please choose </mat-error>
                    </section>

                  </form>
              </div>
              <div>
                <app-cust-addr *ngIf="this.work_addrData.SameAs == '9' " [addrData]="work_addrData" [custCode]="survey.pid"  [addrFormGroup]="work_formGroup" ></app-cust-addr>
              </div>

          <!-- 2.3 Current Address (SEQ = 2)-->
             <span class="label_title"><h5>{{ formService.contact_addr_title }}  ({{formService.contact_addr_title_ENG}})</h5></span>
            <div class='row'>
                <form [formGroup]="register_formGroup">
                <section class="example-section" >
                    <mat-radio-group [(ngModel)]="cur_addrData.SameAs"  (change)="currAddrOnChange(cur_addrData.SameAs)" formControlName="cur_addrData">
                        <mat-radio-button class="example-margin" value="1">{{formService.label_addrAs_reg}}</mat-radio-button>
                        <mat-radio-button class="example-margin" value="3">{{formService.label_addrAs_work}}</mat-radio-button>
                        <mat-radio-button class="example-margin" value="9">{{formService.label_addr_oth}}</mat-radio-button>
                      </mat-radio-group>
                      <mat-error *ngIf="register_formGroup.get('cur_addrData').invalid">โปรดเลือก Please choose </mat-error>
                </section>
                </form>
            </div>
            <div>
              <app-cust-addr  *ngIf="this.cur_addrData.SameAs == '9' " [addrData]="cur_addrData" [custCode]="survey.pid"  [addrFormGroup]="current_formGroup"></app-cust-addr>
            </div>
          <!-- 2.4 Mail Address (SEQ = 4)-->
          <span class="label_title"><h5>{{ formService.mail_addr_title }} ({{ formService.mail_addr_title_ENG }})</h5></span>
          <div class='row'>
              <form [formGroup]="register_formGroup">
              <section class="example-section" >
                  <mat-radio-group [(ngModel)]="cddData.MailSameAs"  (change)="mailAddrOnChange(cddData.MailSameAs)" formControlName="MailSameAs">
                      <mat-radio-button class="example-margin" value="email">{{formService.label_Email}}</mat-radio-button>
                      <mat-radio-button class="example-margin" value="reg">{{formService.label_addrAs_reg}}</mat-radio-button>
                      <mat-radio-button class="example-margin" value="work">{{formService.label_addrAs_work}}</mat-radio-button>
                      <mat-radio-button class="example-margin" value="curr">{{formService.label_addrAs_curr}}</mat-radio-button>
                      <mat-radio-button class="example-margin" value="9">{{formService.label_addr_oth}}</mat-radio-button>
                    </mat-radio-group>
                    <mat-error *ngIf="register_formGroup.get('MailSameAs').invalid">โปรดเลือก Please choose </mat-error>
                </section>
              </form>
          </div>
          <div>
            <app-cust-addr  *ngIf="this.cddData.MailSameAs == '9' "  [addrData]="mail_addrData" [custCode]="survey.pid"  [addrFormGroup]="mail_formGroup"></app-cust-addr>
          </div>

            <!-- ******** ACTION BAR ************* -->
                <mat-card-actions class="stepper_action center-screen ">
                    <button mat-flat-button  matStepperPrevious color="accent" class="col-sm-12 col-lg-3"><i class="fas fa-chevron-left "></i> {{formService.LABEL_BACK}}</button>
                    <button mat-flat-button  matStepperNext color="primary" (click)=checkCDD_FormInvalid(register_formGroup) class="col-sm-12 col-lg-3" >{{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button>
                </mat-card-actions>
    </mat-step>

    <!-- ***************** #3  FATCA -->
    <mat-step [stepControl]="FATCAGroup"   >
        <ng-template matStepLabel>{{formService.STEPER_FATCA}}</ng-template>
        <form [formGroup]="FATCAGroup" >
          <div class='row '>

                <span class="label_title"><h5>{{ formService.fatca_desc }}</h5></span>

                <form class="form_section">
                      <app-suit-tree-view [questions]="fatcaQuestions" [questionDisabled]="cddFormGroup.disabled" ></app-suit-tree-view>
                </form>
            </div>

            <mat-card-actions class="stepper_action center-screen ">
                <!-- <a  mat-flat-button color="accent" (click)="fatcaOnChange()" class ="act_button col-sm-4"> Edit  <i class="fas fa-pencil-alt"></i></a> -->
                <button mat-flat-button  matStepperPrevious color="accent" class="col-sm-12 col-lg-3" ><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
                <button mat-flat-button  matStepperNext color="primary" (click)=fatch_FormInvalid(FATCAGroup) class="col-sm-12 col-lg-3" > {{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button>
            </mat-card-actions>

          </form>
    </mat-step>
  <!-- ***************** #4  Suitability Step-->
    <mat-step [stepControl]="suitFormGroup"   >
      <ng-template matStepLabel>{{formService.STEPER_3}}</ng-template>
      <app-suit-form [survey]="survey" [suitFormGroup]="suitFormGroup" [suitQuestions]="suitQuestions"></app-suit-form>
    </mat-step>

<!-- ***************** #5 Final  step -->
    <mat-step >
      <ng-template  matStepLabel>{{formService.STEPER_4}}</ng-template>

      <div class = 'row center-screen2'>
          <code>
            <br>
                <!-- <p><span class='txt_warning'>หลังจากที่ท่านกด ยืนยันข้อมูล  ท่านจะได้รับอีเมล์ ตอบรับจาก wealthservice@merchantasset.co.th เพื่อยืนยันว่าระบบได้รับข้อมูลของท่านเรียบร้อยแล้ว </span></p>
                <p><span class='txt_warning'>หากท่านมิได้รับอีเมล์ ดังกล่าว กรุณาติดต่อเจ้าหน้าที่ลูกค้าสัมพันธ์ โทร 02- 660-6696 หรือ ทางอีเมล์ wealthservice@merchantasset.co.th</span></p> -->
                <h5>หลังจากที่ท่านกด ยืนยันข้อมูล  ท่านจะได้รับอีเมล์ ตอบรับจาก wealthservice@merchantasset.co.th เพื่อยืนยันว่าระบบได้รับข้อมูลของท่านเรียบร้อยแล้ว </h5>
                <br>
                <h5>หากท่านมิได้รับอีเมล์ ดังกล่าว กรุณาติดต่อเจ้าหน้าที่ลูกค้าสัมพันธ์ โทร 02- 660-6689 หรือ ทางอีเมล์ wealthservice@merchantasset.co.th</h5>
          </code>
      </div>

      <div  class="row center-screen ">
          <button mat-flat-button  matStepperPrevious color="accent" style="margin-left: 10px" class="col-sm-12 col-lg-3" ><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
          <button *ngIf="survey.riskLevel" mat-flat-button  matStepperNext color="primary" style="margin-left: 10px" (click)="finalSaveAll()" class="col-sm-12 col-lg-3" >{{formService.LABEL_CONFIRM_DATA}}  </button>
          <!-- <button mat-flat-button  matStepperNext color="primary" style="margin-left: 10px" (click)="finalSaveAll()" >{{formService.LABEL_SAVE}}   <i class="far fa-save fa-2x"></i></button> -->
      </div>
    </mat-step>
</mat-horizontal-stepper>
</div>

<!--
<div *ngIf="saveAllComplete" class="row center-screen2 ">
    <div class='branner col-md-6'>
      <img  src="assets/img/brand/MPAM-logo.png" />
    </div>

          <br>
          <h4>บริษัทขอขอบพระคุณท่านที่สละเวลาในการตรวจสอบข้อมูล </h4>
          <h4>หากท่านมีข้อสอบถามเพิ่มเติม กรุณาติดต่อเจ้าหน้าที่ลูกค้าสัมพันธ์  โทร 02-660-6689 หรือ wealthservice@merchantasset.co.th</h4>
          <br>
          <p>บริษัทหลักทรัพย์จัดการกองทุน เมอร์ชั่น พาร์ทเนอร์ จำกัด</p>
          <p>942/170-171 ชาญอิสสระทาวเวอร์ 1 ชั้น 25 ถนนพระราม 4</p>
          <p>แขวงสุริยวงศ์ เขตบางรัก กรุงเทพมหานคร 10500</p>
          <p>โทร. 02 660 6689</p>
          <p>แฟกซ์. 02 660 6678</p>
          <p>เว็บไซต์ : www.merchantasset.co.th</p>
          <p>อีเมล : wealthservice@merchantasset.co.th </p>
</div> -->


<mat-card id="thk_card" *ngIf="saveAllComplete" class="divCenter" >
  <mat-card-header>
    <div class='branner col-md-6'>
      <img  src="assets/img/brand/MPAM-logo.png" />
    </div>
  </mat-card-header>

    <div class ="thk_card_content">
      บริษัทขอขอบพระคุณท่านที่สละเวลาในการตรวจสอบข้อมูล
      หากท่านมีข้อสอบถามเพิ่มเติม กรุณาติดต่อเจ้าหน้าที่ลูกค้าสัมพันธ์ ตามที่อยู่ด้านล่าง
    </div>

  <mat-card-footer>
    <div>
      บริษัทหลักทรัพย์จัดการกองทุน เมอร์ชั่น พาร์ทเนอร์ จำกัด
      942/170-171 ชาญอิสสระทาวเวอร์ 1 ชั้น 25 ถนนพระราม 4
      แขวงสุริยวงศ์ เขตบางรัก กรุงเทพมหานคร 10500
      โทร. <a href="tel:026606689">02-660-6689</a>
      แฟกซ์. 02 660 6678
      เว็บไซต์ : www.merchantasset.co.th
      อีเมล : <a href="mailto:wealthservice@merchantasset.co.th" >wealthservice@merchantasset.co.th</a>
    </div>
  </mat-card-footer>
</mat-card>
<!--
<div *ngIf="saveAllComplete" class="row center-screen2 ">
  <div class='branner col-md-6'>
      <img  src="assets/img/brand/MPAM-logo.png" />
    </div>
  <code >
      <div>
        <h3>บริษัทขอขอบพระคุณท่านที่สละเวลาในการตรวจสอบข้อมูล </h3>
        <h3>หากท่านมีข้อสอบถามเพิ่มเติม กรุณาติดต่อเจ้าหน้าที่ลูกค้าสัมพันธ์  โทร 02-660-6689 หรือ wealthservice@merchantasset.co.th </h3>
      </div>

      <div>
        บริษัทหลักทรัพย์จัดการกองทุน เมอร์ชั่น พาร์ทเนอร์ จำกัด
        942/170-171 ชาญอิสสระทาวเวอร์ 1 ชั้น 25 ถนนพระราม 4
        แขวงสุริยวงศ์ เขตบางรัก กรุงเทพมหานคร 10500
        โทร. 02 660 6689
        แฟกซ์. 02 660 6678
        เว็บไซต์ : www.merchantasset.co.th
        อีเมล : wealthservice@merchantasset.co.th
      </div>

  </code>
</div> -->


<!-- </div> -->
<!-- </mat-card> -->
