
<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<mat-card *ngIf="!spinnerLoading">
  <div class="container">
      <!-- <h5>Merchnat partner survey</h5> -->
      <div class="block">
          <div class='branner col-md-6'>
            <img  src="assets/img/brand/MPAM-logo.png" />
          </div>
          <div *ngIf="verifyFLag" class='branner col-md-6' >
                <strong>{{ formService.label_Welcome }}</strong>
                <p> {{ customer.Title_Name_T }} {{ customer.First_Name_T }} {{ customer.Last_Name_T }}</p>
          </div>
      </div>

      <nav class="navbar navbar-light bg-light" *ngIf="!verifyFLag" >
          <form class="form-inline" [formGroup]="form" #custForm="ngForm" >
            <span >
                <input class="form-control mr-sm-2" type="search" placeholder="{{ formService.label_idCard }}" aria-label="Search"
                formControlName="pid" [(ngModel)]="survey.pid"  >

                <!-- For mobile -->
                <a *ngIf="!INTERNAL_USER" mat-flat-button   class="btn btn-outline-success my-2 my-sm-0 div-only-mobile"  (click)="getCustomerData()">
                    <span class="div-only-mobile">{{ formService.LABEL_NEXT }}</span>
                       <i class="fas fa-search"></i> </a>

                <!-- For desk -->
                <a *ngIf="!INTERNAL_USER" mat-flat-button   class="btn btn-outline-success my-2 my-sm-0 desk"  (click)="getCustomerData()">
                  <span class="desk">{{ formService.LABEL_NEXT }} </span>
                     <i class="fas fa-search"></i> </a>
            </span>

            <!-- <ul class="nav navbar-nav ml-auto" *ngIf="verifyFLag">
                <li >
                    <strong>{{ formService.label_Welcome }}</strong>
                    <p> {{ customer.Title_Name_T }} {{ customer.First_Name_T }} {{ customer.Last_Name_T }}</p>
                </li>
                <a (click) = "onLogout()" class="btn btn-outline-success my-2 my-sm-0" ><span class=" cui-account-logout" aria-hidden="true"></span> {{ formService.LABEL_EXIT }}</a>
            </ul> -->
          </form>
        </nav>
  </div>

  <!-- VERIFY -->
  <div *ngIf="needVerify" class="container">

          <!-- <h5>Request verify method.</h5> -->
          <div class="row form_section">
              <mat-radio-group  [(ngModel)]="verifyBy" class="col-lg-4 col-md-4 col-sm-4 display_block" >
                  <mat-radio-button value="DOB" (change)="verifyByChange($event)" [disabled]="!customer.Birth_Day"  >{{ formService.label_verify_dob }}
                      <span class="desk">-{{ formService.label_verify_dob_ENG }}</span>
                  </mat-radio-button>
                  <mat-radio-button value="OTP" (change)="verifyByChange($event)" [disabled]="this.customer.Mobile[0] + this.customer.Mobile[1] == PREFIX_MOBILE_ALLOW_SEND_SMS "  >
                      {{ formService.label_verify_otp }}
                      <span class="desk">-{{ formService.label_verify_otp_ENG }}</span>
                    </mat-radio-button>
                </mat-radio-group>


          </div>

          <div  *ngIf="!INTERNAL_USER && verifyBy=='OTP'" class=" bg-light ver-div">
              <a  mat-flat-button  class="btn btn-outline-success my-2 my-sm-0" (click)="requestOTP()" >{{ formService.label_Request_otp }}
                  <i class="fas fa-sms"></i>
              </a>
          </div>

      <div id='div_DOB' *ngIf="verifyBy=='DOB'" class=" bg-light ver-div">
        <form class="form-inline ">
          <span>
            <input class="form-control mr-sm-2" type="search"  [(ngModel)]="verifyDOB_val" placeholder={{formService.label_input_verify_dob}} name="verifyDOB_val" >
            <a *ngIf="!INTERNAL_USER" mat-flat-button   class="btn btn-outline-success my-2 my-sm-0" (click)="verifyDOB()" > {{formService.LABEL_Verify}}
               <i class="fas fa-check"></i>
            </a>
            <p id='dob_format' class="desk">{{formService.label_verify_dob_Format}}</p>
          </span>
        </form>
      </div>

      <!-- Verify OTP section -->
      <div  *ngIf="verifyBy=='OTP' && showOtpEntry " class=" bg-light ver-div">
          <form class="form-inline ">
            <span>
              <input class="form-control mr-sm-2" type="search"  [(ngModel)]="verifyOTP_val" placeholder={{formService.label_input_verify_OTP}} name="verifyOTP_val" >
              <a *ngIf="!INTERNAL_USER" mat-flat-button   class="btn btn-outline-success my-2 my-sm-0" (click)="verifyConfirmOTP()" > {{formService.LABEL_Verify}}
                 <i class="fas fa-check"></i>
              </a>
            </span>
          </form>
        </div>
    </div>

  <!-- ************* STEPPER  -->
  <div class='container' *ngIf="!saveAllComplete">
  <mat-horizontal-stepper labelPosition="bottom" linear  #stepper *ngIf="verifyFLag " class="col" >
  <!-- <mat-horizontal-stepper labelPosition="bottom"  #stepper *ngIf="verifyFLag" class="col" > -->
    <!-- ***************** #1  Persional Information Step-->

    <mat-step [stepControl]="cddFormGroup">

      <!--Person information-->
        <form [formGroup]="cddFormGroup" class="form_section">
          <ng-template matStepLabel>{{formService.STEPER_1}}</ng-template>

          <app-cust-cdd [custCode]="survey.pid" [cddFormGroup]="cddFormGroup" [cddData]="cddData"></app-cust-cdd>

          <mat-card-actions class="stepper_action center-screen ">
              <a  mat-flat-button color="accent" (click)="cDDmodifOnChange()" class ="act_button"> Edit <i class="fas fa-pencil-alt"></i></a>
              <button mat-flat-button  matStepperNext color="primary"  (click)=checkCDD_FormInvalid(cddFormGroup) >{{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button>
          </mat-card-actions>
        </form>

    </mat-step>

     <!-- ***************** #2 Information step-->
     <mat-step [stepControl]="register_formGroup" >
        <ng-template matStepLabel>{{formService.STEPER_2}}</ng-template>

        <!-- 2.1 Register Address  (SEQ = 1)-->
          <div >
            <p class="form_section label_header">{{ formService.register_addr_title }} {{ formService.register_addr_title_ENG }}
            <!-- <a  mat-flat-button color="accent" (click)="modifRegAddr()" class ="act_button"> Edit <i class="fas fa-pencil-alt"></i></a> -->
            </p>
          </div>
          <div>
            <app-cust-addr [addrData]="re_addrData" [custCode]="survey.pid" [addrFormGroup]="register_formGroup" ></app-cust-addr>
          </div>

        <!-- 2.2 Work Address (SEQ = 3)-->
            <div>
                <p class="label_header">{{ formService.work_addr_title }} {{formService.work_addr_title_ENG}}</p>
                <!-- <a  mat-flat-button color="accent" (click)="modifWorkAddr()" class ="act_button"> Edit <i class="fas fa-pencil-alt"></i></a> -->
              </div>
              <div>
                  <section class="example-section">
                      <!-- <mat-radio-group   [(ngModel)]="work_addrData.SameAs"  (change)="workAddrOnChange(work_addrData.SameAs)" [(disabled)]="!work_addrModifyFlag" > -->
                      <mat-radio-group   [(ngModel)]="work_addrData.SameAs"  (change)="workAddrOnChange(work_addrData.SameAs)"  >
                        <mat-radio-button class="example-margin" value="1">{{formService.label_addrAs_reg}}</mat-radio-button>
                        <mat-radio-button class="example-margin" value="9">{{formService.label_addr_oth}}</mat-radio-button>

                      </mat-radio-group>
                    </section>
              </div>
              <div>
                <app-cust-addr *ngIf="this.work_addrData.SameAs == '9' " [addrData]="work_addrData" [custCode]="survey.pid"  [addrFormGroup]="work_formGroup" ></app-cust-addr>
              </div>

          <!-- 2.3 Current Address (SEQ = 2)-->
          <div >
              <p class="label_header">{{ formService.contact_addr_title }}  {{formService.contact_addr_title_ENG}}
              <!-- <a  mat-flat-button color="accent" (click)="modifRegAddr()" class ="act_button"> Edit <i class="fas fa-pencil-alt"></i></a> -->
              </p>
            </div>
            <div class='row'>
                <section class="example-section" >
                    <!-- <mat-radio-group [(ngModel)]="cur_addrData.SameAs"  (change)="currAddrOnChange(cur_addrData.SameAs)"  [(disabled)]="!addrModifyFlag"> -->
                    <mat-radio-group [(ngModel)]="cur_addrData.SameAs"  (change)="currAddrOnChange(cur_addrData.SameAs)" >
                        <mat-radio-button class="example-margin" value="1">{{formService.label_addrAs_reg}}</mat-radio-button>
                        <mat-radio-button class="example-margin" value="3">{{formService.label_addrAs_work}}</mat-radio-button>
                        <mat-radio-button class="example-margin" value="9">{{formService.label_addr_oth}}</mat-radio-button>
                      </mat-radio-group>
                  </section>
            </div>
            <div>
              <app-cust-addr  *ngIf="this.cur_addrData.SameAs == '9' " [addrData]="cur_addrData" [custCode]="survey.pid"  [addrFormGroup]="current_formGroup"></app-cust-addr>
            </div>


              <!-- 2.4 Mail Address (SEQ = 4)-->
          <div >
            <p class="label_header">{{ formService.mail_addr_title }}/{{ formService.mail_addr_title_ENG }}
            <!-- <a  mat-flat-button color="accent" (click)="modifRegAddr()" class ="act_button"> Edit <i class="fas fa-pencil-alt"></i></a> -->
            </p>
          </div>


          <div class='row'>
              <section class="example-section" >
                  <!-- <mat-radio-group [(ngModel)]="cur_addrData.SameAs"  (change)="currAddrOnChange(cur_addrData.SameAs)"  [(disabled)]="!addrModifyFlag"> -->
                  <mat-radio-group [(ngModel)]="cddData.MailSameAs"  (change)="mailAddrOnChange(cddData.MailSameAs)" >
                      <mat-radio-button class="example-margin" value="email">{{formService.label_Email}}</mat-radio-button>
                      <mat-radio-button class="example-margin" value="reg">{{formService.label_addrAs_reg}}</mat-radio-button>
                      <mat-radio-button class="example-margin" value="work">{{formService.label_addrAs_work}}</mat-radio-button>
                      <mat-radio-button class="example-margin" value="curr">{{formService.label_addrAs_curr}}</mat-radio-button>
                      <mat-radio-button class="example-margin" value="9">{{formService.label_addr_oth}}</mat-radio-button>
                    </mat-radio-group>
                </section>
          </div>
          <div>
            <app-cust-addr  *ngIf="this.cddData.MailSameAs == '9' "  [addrData]="mail_addrData" [custCode]="survey.pid"  [addrFormGroup]="mail_formGroup"></app-cust-addr>
          </div>

            <!-- ******** ACTION BAR ************* -->
                <mat-card-actions class="stepper_action center-screen ">
                    <button mat-flat-button  matStepperPrevious color="accent" ><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
                    <button mat-flat-button  matStepperNext color="primary" (click)=checkCDD_FormInvalid(register_formGroup) >{{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button>
                </mat-card-actions>
    </mat-step>

    <!-- ***************** #3  FATCA -->
    <mat-step [stepControl]="FATCAGroup"   >
        <ng-template matStepLabel>{{formService.STEPER_FATCA}}</ng-template>
        <form [formGroup]="FATCAGroup" >
          <div class='row '>

                <div class='fatca_desc'>
                    <h5 >
                        <span class="label_header">{{ formService.from_fatca_title }}</span>
                      </h5>
                      <span>{{ formService.fatca_desc }}</span>
                </div>

                <form class="form_section">
                      <app-suit-tree-view [questions]="fatcaQuestions" [questionDisabled]="cddFormGroup.disabled" ></app-suit-tree-view>
                      <!-- <app-suit-tree-view [questions]="fatcaQuestions"  ></app-suit-tree-view> -->
                </form>
            </div>

            <mat-card-actions class="stepper_action center-screen ">

                <!-- <button *ngIf="!cddFormGroup.disabled" mat-flat-button   (click)="fatcaOnChange()"  class ="act_button" >Cancel Edit <i class="fas fa-pencil-alt"></i></button> -->
                <a  mat-flat-button color="accent" (click)="fatcaOnChange()" class ="act_button"> Edit  <i class="fas fa-pencil-alt"></i></a>

                <button mat-flat-button  matStepperPrevious color="accent" ><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
                <button mat-flat-button  matStepperNext color="primary" (click)=fatch_FormInvalid(FATCAGroup) > {{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button>
            </mat-card-actions>

          </form>
    </mat-step>
  <!-- ***************** #4  Suitability Step-->
    <mat-step [stepControl]="suitFormGroup"   >
          <!--Person information-->

          <form [formGroup]="suitFormGroup" >

            <ng-template matStepLabel>{{formService.STEPER_3}}</ng-template>

            <!-- <div class="stepper_action">
                <button mat-flat-button  matStepperPrevious color="accent" ><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
                <button mat-flat-button [disabled]= "canDoSuit || canSaveSuit"  matStepperNext color="primary" (click)=checkSuit_FormInvalid(suitFormGroup) >{{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button>
            </div> -->


                <div *ngIf="!canDoSuit && !canSaveSuit"  class="container center-screen form_section"  >
                    <h4>{{formService.label_RiskLevel}}  </h4>
                    <h4>
                      <span><input  matInput [(ngModel)]="cust_RiskLevel"  formControlName="cust_RiskLevel" readonly="true"> - {{ cust_RiskLevelTxt }} </span>
                    </h4>

                    <p>{{formService.label_EvaluatedDate}}: {{ cust_RiskDate | date:'dd/MM/yyyy' }}</p>
                    <p>{{ cust_RiskTypeInvestor }}</p>

                    <!-- <a (click)="canDoSuit =true;" class="btn btn-outline-success my-2 my-sm-0" ><i class="fas fa-pencil-alt"></i> {{formService.label_NewSurvey}}</a> -->
                </div>
            </form>

             <!-- Show Suit question  -->
            <div *ngIf="canDoSuit" >
            <form  class="form_section">
            <ul>
                <div *ngFor="let ques of suitQuestions" class="questions">

                    <span  *ngIf="ques.id == 11" class="blue-txt">
                        <p>คำถามข้อ 11-12 ใช้เป็นข้อมูลเพิ่มเติมเพื่อประกอบการให้คำแนะนำ</p>
                      </span>

                      <span *ngIf="ques.id == 11" class="blue-txt">
                        <p>ใช้เฉพาะที่จะมีการลงทุนในอนุพันธ์และหุ้นกู้อนุพันธ์โดยตรงเท่านั้น</p>
                      </span>

                      <span *ngIf="ques.id == 12" class="blue-txt">
                        <p>ใช้เฉพาะที่จะมีการลงทุนในต่างประเทศ</p>
                      </span>

                      <span id='ques'>{{ ques.id }}. {{ ques.name }} </span>

                      <div *ngIf="!ques.image == ''" class="q_image">
                        <img src="{{ ques.image }}" />
                      </div>

                  <!-- <span>{{ ques.id }}. {{ ques.name }} </span> -->
                  <div>
                    <ul>
                      <div *ngFor="let choice of ques.choices">

                        <div *ngIf="ques.multilchoice">
                          <input type="checkbox"
                          value=" {{ choice.score }}"
                          id="{{ choice.id }}"
                          [(ngModel)]="choice.answer"
                          [ngModelOptions]="{standalone: true}"
                          />
                          {{ choice.name }}
                        </div>

                        <div *ngIf="!ques.multilchoice">
                          <input
                            name="{{ ques.id }}"
                            id="{{ ques.id }}"
                            type="radio"
                            value="{{ choice.score }}"
                            [(ngModel)]="ques.answer"
                          />
                          {{ choice.name }}
                        </div>

                      </div>
                    </ul>
                  </div>
                </div>
              </ul>

              <!-- <mat-card-actions>
                  <button   mat-flat-button class="act_button"  color="warn"  (click)="suiteFormRESET()"  type="reset" >Reset </button>
                  <a mat-flat-button color="primary" (click)="calSuit()" class ="act_button"> {{formService.LABEL_CALCULATE}}</a>
                  <a mat-flat-button color="accent" (click)="canDoSuit =false;" class ="act_button"> {{formService.LABEL_CANCEL}}</a>
              </mat-card-actions> -->

              <div class ="row" *ngIf="onSuitCalculate">
                  <mat-spinner></mat-spinner>
              </div>

            </form>
            </div>
            <!-- Show Suit question  -->

            <div *ngIf="canSaveSuit"  class="container center-screen suitResult form_section"  >
                <!-- <div class="suitResult" *ngIf="canSaveSuit"> -->
                    <h4>{{formService.label_RiskLevel}}</h4>
                    <h4>{{ riskLevel }} - {{ riskLevelTxt }}</h4>
                    <p>{{ riskLevelDesc }}</p>

                    <!-- <a mat-flat-button color="accent" (click)="canDoSuit =false;canSaveSuit=false;suitModifyFlag=false" class ="act_button"> {{formService.LABEL_CANCEL}}</a> -->
                    <!-- <a mat-flat-button color="accent" (click)="canDoSuit =true;canSaveSuit = false;suitModifyFlag=false" class ="act_button" > {{formService.LABEL_EVA_AGAIN}}</a>
                    <button mat-flat-button   color="primary" (click)="evaluateSuitOK()" class ="act_button">OK</button> -->

              </div>
            <!-- </mat-card-content> -->
            <mat-card-actions class="stepper_action center-screen ">

                <a *ngIf="canDoSuit" mat-flat-button color="primary" (click)="calSuit()" class ="act_button"> {{formService.LABEL_CALCULATE}}</a>
                <a *ngIf="!canDoSuit && !canSaveSuit" (click)="canDoSuit =true;" class="btn btn-outline-success my-2 my-sm-0" ><i class="fas fa-pencil-alt"></i> {{formService.label_NewSurvey}}</a>
                <a *ngIf="canSaveSuit" mat-flat-button color="accent" (click)="canDoSuit =true;canSaveSuit = false;suitModifyFlag=false" class ="act_button" >{{formService.LABEL_EVA_AGAIN}}</a>
                <a *ngIf="canSaveSuit" mat-flat-button   color="primary" (click)="evaluateSuitOK()" class ="act_button">{{formService.LABEL_EVA_CONF}}</a>
                <!-- <button *ngIf="canSaveSuit" mat-flat-button   color="primary" (click)="evaluateSuitOK()" class ="act_button">{{formService.LABEL_EVA_CONF}}</button> -->

            <!-- <div class="stepper_action"> -->
                &nbsp;&nbsp;&nbsp;
                <!-- <button mat-flat-button [disabled]= "canDoSuit || canSaveSuit"  matStepperPrevious color="accent" ><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
                <button mat-flat-button [disabled]= "canDoSuit || canSaveSuit"  matStepperNext color="primary" (click)=checkSuit_FormInvalid(suitFormGroup) >{{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button> -->

                <button mat-flat-button *ngIf="!(canDoSuit || canSaveSuit)"  matStepperPrevious color="accent" ><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
                <button mat-flat-button *ngIf= "!(canDoSuit || canSaveSuit)"  matStepperNext color="primary" (click)=checkSuit_FormInvalid(suitFormGroup) >{{formService.LABEL_NEXT}} <i class="fas fa-chevron-right"></i></button>

            <!-- </div>  -->

            </mat-card-actions>

    </mat-step>

<!-- ***************** #4 Final  step -->
    <!-- <mat-step [stepControl]="firstFormGroup"  > -->
    <mat-step >
            <ng-template matStepLabel>{{formService.STEPER_4}}</ng-template>

            <div *ngIf="resultMsg?.length <= 0" class="center-screen form_section">

                <span id='finalText'>
                    <h5>{{formService.STEPPER_FINAL_CONFIRM}}</h5>
                    <p>{{formService.FINAL_MSG}}</p>
                </span>

                <span *ngIf='cddData.ReqModifyFlag '>
                    <li>Personal information OR FATCA was change.</li>
                </span>
                <span *ngIf='addrModifyFlag'>
                    <li>Address was chnage.</li>
                </span>
                <span *ngIf='suitModifyFlag'>
                    <li>Suitability was change.</li>
                    <p>Risk Level: {{ cust_RiskLevel }} - {{ cust_RiskLevelTxt }} </p>
                </span>

                <div>
                    <button mat-flat-button  matStepperPrevious color="accent" style="margin-left: 10px"><i class="fas fa-chevron-left"></i> {{formService.LABEL_BACK}}</button>
                    <button mat-flat-button  matStepperNext color="primary" style="margin-left: 10px" (click)="finalSaveAll()" >{{formService.LABEL_SAVE}}   <i class="far fa-save fa-2x"></i></button>
                </div>
            </div>

            <!-- <div *ngIf="resultMsg?.length > 0" class="center-screen form_section">

                <span id='finalText'>
                    <h5>{{formService.STEPPER_FINAL_THANK}}</h5>
                </span>

            </div> -->
    </mat-step>
</mat-horizontal-stepper>
</div>

<div *ngIf="saveAllComplete" class="row center-screen Finish_section">

  <span >
      <h5>{{formService.STEPPER_FINAL_THANK}}</h5>
  </span>

</div>


</mat-card>
