mat-spinner {
  position: fixed;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

:host {
  display: block;
}

.condition-div {
  max-width: 400px;
}

mat-form-field,
input {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

i{
  margin-left: 15px;
}

.resultDiv {
  margin-top: 1rem;
}
.resultDiv table {
  width: 100%;
}
