<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<div  class="container DIV_SET_REG" *ngIf="!spinnerLoading" >


  <div class="row">
    <div class="col-md-6 mx-auto">

        <div *ngFor="let alert of alerts">
            <alert [type]="alert.type"  [dismissible]="dismissible"  (onClosed)="onClosedAlert(alert)">{{ alert.msg }}</alert>
          </div>

      <mat-horizontal-stepper [linear]="isLinear" #stepper>

        <!-- FILL FORM -->
        <mat-step [stepControl]="fillFormGroup">

          <form [formGroup]="fillFormGroup">
            <ng-template matStepLabel>Fill in</ng-template>

            <!-- D:\Merchants\apps\mit\src\app\views\trade\set-registration\set-registration.component.html -->
            <!-- D:\Merchants\apps\mit\src\assets\img\mpam\ST1.jpg -->
            <!-- 'assets/img/mpam/S7.png' -->
                  <alert type="info">
                      <h4 class="alert-heading">Please fill in your detail Streaming For Fund registration.</h4>
                      <img src="assets/img/mpam/ST1.jpg" class="img-fluid" >
                      <!-- <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p> -->
                      <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
                    </alert>



                <mat-form-field class="col-md-12">
                    <input matInput placeholder="First name" formControlName="firstName" [(ngModel)]="register.firstName"  >
                </mat-form-field>

                <mat-form-field class="col-md-12">
                  <input matInput placeholder="Last name" formControlName="lastName" [(ngModel)]="register.lastName"  >
                </mat-form-field>

            <mat-form-field class="col-md-12">
                <input matInput placeholder="Mobile" formControlName="mobile" [(ngModel)]="register.mobile"  >
            </mat-form-field>

            <mat-form-field class="col-md-12">
                <input matInput placeholder="Email" formControlName="email" [(ngModel)]="register.email"  >
            </mat-form-field>

            <div>
                <button type="button" class="btn btn-success" matStepperNext (click)="onSubmit()" >Submit</button>
            </div>
          </form>

        </mat-step>

        <!-- Final step -->
        <mat-step>
          <ng-template matStepLabel>Final step</ng-template>

          You are now done.

        </mat-step>

      </mat-horizontal-stepper>

    </div>
  </div>
</div>
