<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<div  class="container DIV_SET_REG" *ngIf="!spinnerLoading" >

  <div class="row">
    <div class="col-md-6 mx-auto">
        <div *ngFor="let alert of alerts">
            <alert [type]="alert.type"  [dismissible]="dismissibleAlert"  (onClosed)="onClosedAlert(alert)">{{ alert.msg }}</alert>
        </div>

        <!-- FILL FORM -->
          <div *ngIf="!submitSuccess">
              <mat-card>
          <form [formGroup]="fillFormGroup">

                  <alert type="info">
                      <h4 class="alert-heading">
                        กรอกรายละเอียดเพิ่มเติม เพื่อความสะดวกและรวดเร็วในการให้บริการ
                      </h4>
                      <img src="assets/img/mpam/AW_3fb-click.jpg" class="img-fluid" >
                      <!-- <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p> -->
                      <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
                    </alert>

                <mat-form-field class="col-md-12">
                    <input matInput placeholder="ชื่อ / First name" formControlName="firstName" [(ngModel)]="register.firstName"  >
                </mat-form-field>

                <mat-form-field class="col-md-12">
                  <input matInput placeholder="นามสกุล / Last name" formControlName="lastName" [(ngModel)]="register.lastName"  >
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <input matInput placeholder="โทรศัพท์มือถือ / Mobile Phone" formControlName="mobile" [(ngModel)]="register.mobile"  >
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <input matInput placeholder="อีเมลล์ / Email" formControlName="email" [(ngModel)]="register.email"  >
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <input matInput placeholder="ไลน์ไอดี / Line ID" formControlName="lineID" [(ngModel)]="register.lineId"  >
                </mat-form-field>

                <mat-form-field class="col-md-12">
                    <textarea matInput placeholder="ฝากข้อความ / Leave a comment" formControlName="description" [(ngModel)]="register.description" ></textarea>
                </mat-form-field>

                <div>
                    <recaptcha
                    [formControl]="myRecaptcha"
                    (scriptLoad)="onScriptLoad()"
                    (scriptError)="onScriptError()"
                  ></recaptcha>
                </div>
            <div>
                <button type="button" class="btn btn-primary" (click)="onSubmit()" >SUBMIT</button>
            </div>

          </form>
          </mat-card>
        </div>
    </div>

    <!-- Final step -->
    <div *ngIf="submitSuccess">

        <!-- <div class="polaroid">
            <img class="finalImage" src="assets/img/mpam/AW_2fb-boost-post.jpg" alt="5 Terre" style="width:100%">
            <div class="container">
            <p>Cinque Terre</p>
            </div>
          </div> -->

          <mat-card class="example-card col-md-12">
              <!-- <img  class="img-fluid" mat-card-image src="assets/img/mpam/AW_2fb-boost-post.jpg" > -->
                  <img  class="img-fluid finalImage" mat-card-image src="assets/img/mpam/AW_2fb-boost-post.jpg" >
              <mat-card-content>
                <h3>ขอขอบพระคุณลูกค้าทุกท่าน สามารถติดตามรายละเอียดเพิ่มเติมได้ที่</h3>
                <div class="divSameLine">
                    <i class="fas fa-2x fa-globe"></i><h4><a href="http://www.merchantasset.co.th">www.merchantasset.co.th</a></h4>
                </div>
                <div class="divSameLine">
                    <i class="fas fa-2x fa-phone"></i> <h4>Wealthservice Tel. 02-6606689</h4>
                </div>

                <div class="divSameLine">
                    <i class="fab fa-2x fa-line"></i><img class="lineQR_img" mat-card-image src="assets/img/mpam/mpamLineQR.png" alt="Photo of a Shiba Inu">
                </div>
              </mat-card-content>
            </mat-card>
    </div>


  </div>
</div>
