<mat-spinner *ngIf="spinnerLoading"></mat-spinner>

<div class="animated fadeIn" *ngIf="!spinnerLoading" >

  <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            LED Dashboard
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6">

                <label><strong class="h4">Today</strong></label>

                <mat-form-field class="led_dash_date">
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateChange)="onChangeDate($event)" [(ngModel)]="chooseDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"  >
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <!-- TODAY -->
                <div class="row div_today">

                  <div class="col-sm-3">
                    <div class="callout callout-info">
                        <div class="everythingOnOneLine ">
                      <small class="text-muted">LED Today
                        <i class="fas fa-2x fa-chevron-circle-right" [routerLink]="['/trade/led-insp-dash-list',chooseDateTxt,'led_data']"></i>
                      </small>
                      </div>
                      <br>
                      <strong class="h4">{{_ledDataToday | number}}</strong>

                    </div>
                  </div>
                  <!--/.col-->
                  <div class="col-sm-3">
                    <div class="callout callout-danger">
                      <div class="everythingOnOneLine ">
                          <small class="text-muted">Partial <i class="fas fa-2x fa-chevron-circle-right"></i></small>
                      </div>
                      <br>
                      <strong class="h4">{{_cntInspToday}}</strong>
                    </div>
                  </div><!--/.col-->

                  <!--/.col-->
                  <div class="col-sm-3">
                      <div class="callout callout-warning">
                          <div class="everythingOnOneLine ">
                      <small class="text-muted">Freeze <i class="fas fa-2x fa-chevron-circle-right"></i></small>
                      </div>
                      <br>
                      <strong class="h4">{{_cntFreezeToday}} </strong>
                    </div>
                  </div><!--/.col-->

                </div><!--/.row-->

                <hr class="mt-0">


                <label id="label_total" ><strong class="h4">All</strong></label>

                <!-- Total -->
                <div class="row div_total">

                  <div class="col-sm-3">
                    <div class="callout callout-info">
                      <!-- <small class="text-muted">LED Today</small>
                      <br>
                      <strong class="h4">{{_cntInspToday}}</strong> -->
                    </div>
                  </div>
                  <!--/.col-->
                  <div class="col-sm-3">
                    <div class="callout callout-danger">
                      <small class="text-muted">Partial</small>
                      <br>
                      <strong class="h4">{{_cntInspectAll}}</strong>
                    </div>
                  </div><!--/.col-->

                  <!--/.col-->
                  <div class="col-sm-3">
                      <div class="callout callout-warning">
                      <small class="text-muted">Freeze</small>
                      <br>
                      <strong class="h4">{{_cntFreezeAll}}</strong>
                    </div>
                  </div><!--/.col-->

                </div><!--/.row-->

                <hr class="mt-0">

                </div>
              </div>
            </div><!--/.col-->
          </div><!--/.row-->


    </div>
