.led_dash_date{
  margin-left: 20px;
}

.div_today{
  margin-top: 10px;
}

.div_total{
  margin-top: 10px;
}

i {
  margin-left: 10px;
}

.everythingOnOneLine {
  white-space: nowrap;
 }

 .everythingOnOneLine * {
  display: inline;
 }

 #label_total {
   margin-top: 10px;
 }
