<!-- <div>
  <mat-spinner *ngIf="spinnerLoading"></mat-spinner>
</div> -->

<mat-card>
  <!-- <form [formGroup]="searchForm" (submit)="onSerachCust()" #custForm="ngForm" *ngIf="!spinnerLoading" class="example-form"> -->
  <form [formGroup]="searchForm" (submit)="onSerach()" #custForm="ngForm" class="example-form">
    <mat-card-title>Search Customer Information
        <a mat-button  [routerLink]="['/trade/CRM-Task','','SEARCH_TASK']"  routerLinkActive="mat-accent" matTooltip="New Task">
          <i class="fas fa-user-plus fa-2x" ></i>
        </a>

    </mat-card-title>
    <mat-card-content>
      <div class="condition-div">

        <mat-form-field class="col-md-6">
          <input matInput formControlName="task_id" placeholder="Task Id.">
          <!-- <mat-error *ngIf="form.get('custId').invalid">Please enter a condition.</mat-error> -->
        </mat-form-field>

        <!-- <mat-form-field class="col-md-6">
          <input matInput  formControlName="firstName" placeholder="First Name">
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput  formControlName="lastName" placeholder="Last Name">
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput formControlName="CustomerAlias" placeholder="Alias Name">
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput formControlName="Mobile" placeholder="Mobile">
        </mat-form-field> -->

        <!-- <mat-form-field>
          <mat-select  formControlName="custType"  placeholder="Type of Unitholder">
            <mat-option value="option">Option</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('custType').invalid">Please enter a condition.</mat-error>
        </mat-form-field> -->
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button  [disabled]="searchForm.invalid" mat-stroked-button color="primary" type='submit'>Search</button>&nbsp;
      <button mat-stroked-button color="warn" type='reset' (click)="onReset()" >Reset</button>

    </mat-card-actions>
  </form>
</mat-card>

<mat-card >

  <table mat-table [dataSource]="dataSource" class='full-width '>

    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> Task Id.</th>
      <td mat-cell *matCellDef="let element">
        <!-- {{element.Cust_Code}}  -->
      </td>
    </ng-container>

    <ng-container matColumnDef="PERSON">
      <th mat-header-cell *matHeaderCellDef> PERSON </th>
      <td mat-cell *matCellDef="let element"><a [routerLink]="['/trade/CRM-Task',element.task_id,'SEARCH_TASK']" matTooltip="Edit">
        <!-- {{element.CustomerAlias}}  -->
      </a></td>
    </ng-container>

    <ng-container matColumnDef="TYPE">
      <th mat-header-cell *matHeaderCellDef> TYPE </th>
      <td mat-cell *matCellDef="let element"> </td>
      <!-- <td mat-cell *matCellDef="let element">
        {{element.CustomerAlias}}
      </td> -->
    </ng-container>

    <ng-container matColumnDef="RESPONSE">
      <th mat-header-cell *matHeaderCellDef> RESPONSE </th>
      <td mat-cell *matCellDef="let element">
        <!-- {{element.RM}}  -->
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element">
        <!-- {{element.title}}  -->
      </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Feedback">
      <th mat-header-cell *matHeaderCellDef> Feedback </th>
      <td mat-cell *matCellDef="let element">
        <!-- {{element.title}}  -->
      </td>
    </ng-container>

    <!-- Edit  -->
    <ng-container matColumnDef="ACT">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element">
          <i class="far fa-edit fa-lg"  [routerLink]="['/trade/CRM-Task',element.task_id,'SEARCH_TASK']" matTooltip="View Detail"></i>
          <!-- <i class="far fa-edit fa-lg"  [routerLink]="['/trade/CRM-Activity']" matTooltip="Call report"></i> -->
          <!-- <i class="far fa-edit fa-lg"  [routerLink]="['/trade/customerEdit',element.CustCode,'SEARCH_CUST_SCR']" matTooltip="Edit"></i> -->
          <!-- <i class="fab fa-adn fa-lg" (click)="onApprove(element.Cust_Code)" matTooltip="Call report"></i> -->
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [length]="totalRecords"
  [pageSize]="rowsPerPage"
  [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)">
</mat-paginator>

</mat-card>
