
mat-form-field,
textarea {
    width: 100%;
}

mat-form-field,
input {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

// .condition-div {
//   max-width: 400px;
// }

input[type=file] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

.repContent {
  margin-top: 10px;
}
