.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  margin-left: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  // height: 60px;
}

.example-margin {
  margin: 10px;
}

mat-card{
  margin-top: 20px;
  margin-bottom: 20px;
}
